<template>
   <div class="row">
       <div class="col-md-6">
           <el-radio-group
               class="list-break-line"
               v-model="attributeId"
               @change="handleGetAttributeValues">
               <el-radio
                   v-for="item in attributesDataSet"
                   :key="item.id"
                   :label="item.id"
                   border
               >
                   {{ item.name }}
               </el-radio>
           </el-radio-group>

       </div>
       <div class="col-md-6" v-if="attribute.multi_values">
           <el-checkbox-group
               class="list-break-line"
               v-model="attributeValuesSelected"
               @change="handleSelectedValue"
           >
               <el-checkbox
                   v-for="item in attributeValues"
                   :key="item.id"
                   :label="item.id">
                   {{ item.value }}
               </el-checkbox>
           </el-checkbox-group>
       </div>
       <div class="col-md-6" v-else>
           <el-radio-group
               class="list-break-line"
               v-model="attributeValueSelected"
               @change="handleSelectedValue"
           >
               <el-radio
                   v-for="item in attributeValues"
                   :key="item.id"
                   :label="item.id">
                   {{ item.value }}
               </el-radio>
           </el-radio-group>
       </div>
       <div class="col-sm-12 submit-area text-center">
           <el-button type="success" @click="handleSubmit"
                      v-if="Helper.canDo(AdminPermissions.EDIT_PROD_ATTRIBUTE)">
               {{ $t('admin.common.save') }}
           </el-button>
           <el-button @click="onCancel">
               {{ $t('admin.common.cancel') }}
           </el-button>
       </div>

   </div>
</template>
<script>
export default {
    props: {
        onSuccess: {
            type: Function,
            default() {
                return null;
            }
        },
        onCancel: {
            type: Function,
            default() {
                return null;
            }
        },
        attributes: {
            type: Array,
            default () {
                return [];
            }
        },
        product: {
            type: Object,
            default () {
                return {}
            }
        },
    },
    data() {
        return {
            attributeId: '',
            attribute: {},
            attributeValues: [],
            attributeValueSelected: '',
            attributeValuesSelected: [],
            attributeValueIds: [],
            attributesDataSet: [],
        };
    },
    created() {
        this.syncProductAttributes(this.product);
        this.genAttributes(this.product);
    },
    watch: {
        product(item) {
            this.attributeId = '';
            this.attribute = {};
            this.attributeValues = [];
            this.attributeValueSelected = '';
            this.attributeValuesSelected = [];
            this.attributeValueIds = [];
            this.syncProductAttributes(item);
            this.genAttributes(item);
        }
    },
    methods: {
        genAttributes(product) {
            let data = [];

            this._.forEach(this.attributes, attribute => {
                const category = this._.find(attribute.categories, category => {
                    return category.id === product.prod_category_id;
                });

                if(!this._.isEmpty(category)) {
                    data.push(attribute);
                }
            })

            this.attributesDataSet = data;
        },
        syncProductAttributes(product) {
            if(this._.isEmpty(product.attribute_values)) {
                return;
            }
            this._.forEach(product.attribute_values, item => {
                this.attributeValueIds.push(item.id);
            });
        },
        handleSelectedValue() {
            this._.forEach(this.attributeValues, item => {
                this._.remove(this.attributeValueIds, id => {
                    return id === item.id
                });
            });
            if(this.attribute.multi_values) {
                this._.forEach(this.attributeValuesSelected, id => {
                    this.attributeValueIds.push(id);
                });
            } else {
                this.attributeValueIds.push(this.attributeValueSelected);
            }
        },
        handleRestoreSelectedValue() {
            this._.forEach(this.attributeValues, item => {
                const id = this._.find(this.attributeValueIds, id => {
                    return id === item.id;
                });
                if(!this._.isUndefined(id)) {
                    if(this.attribute.multi_values) {
                        this.attributeValuesSelected.push(id);
                    } else {
                        this.attributeValueSelected = id;
                    }
                }
            });
        },
        async handleGetAttributeValues() {
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            try {
                const uri = this.route('admin.ajax_get_attribute_values', { attribute: this.attributeId });
                const response = await this.Request.get(uri);
                this.attributeValues = response.data.values;
                this.attribute = response.data;
                this.handleRestoreSelectedValue();
            } catch (e) {
                console.log(e); // eslint-disable-line
                const errorMessages = this.Request.errors(e.response);
                this.$notify({
                    type: 'error',
                    title: 'Error',
                    message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                });
            }
            loading.close();
        },
        async handleSubmit() {
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            try {
                const uri = this.route('admin.ajax_update_product_attributes', { product: this.product.id });
                const response = await this.Request.patch(uri, { attribute_value_ids: this.attributeValueIds });
                this.attribute = response.data;
                this.onSuccess(response.data, 'edit');
                this.$notify({
                    type: 'success',
                    title: this.$t('admin.common.success'),
                    message: this.$t('admin.common.updated'),
                });
            } catch (e) {
                console.log(e); // eslint-disable-line
                const errorMessages = this.Request.errors(e.response);
                this.$notify({
                    type: 'error',
                    title: 'Error',
                    message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                });
            }
            loading.close();
        },
    }
}
</script>
