<template>
    <el-form
        ref="form"
        :model="form"
        label-position="left"
        label-width="130px"
    >
        <el-form-item :label="$t('admin.common.name')">
            <el-input
                    v-model="form.name"
                    maxlength="255"
                    show-word-limit
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.category')">
            <div>
                <el-select
                    v-model="categoryId"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchCategory"
                    :loading="isSearching"
                    @change="handleSelectCategory"
                >
                    <el-option
                        v-for="item in categories"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
                <div class="list-tags">
                    <el-tag
                        v-for="item in selectedCategories"
                        :key="item.id"
                        closable
                        type="primary"
                        @close="handleRemoveCategory(item)"
                    >
                        {{ item.name }}
                    </el-tag>
                </div>

            </div>
        </el-form-item>
        <el-form-item :label="$t('admin.common.type')">
            <el-select
                v-model="form.group_type"
                filterable
                clearable
            >
                <el-option
                    v-for="type in attributeTypes"
                    :key="type.value"
                    :label="type.name"
                    :value="type.value">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item :label="$t('admin.common.multi_value')">
            <el-switch
                v-model="form.multi_values"
                active-color="#13ce66"
                inactive-color="#ff4949">
            </el-switch>
        </el-form-item>

        <el-form-item :label="$t('admin.common.is_show_on_filter')">
            <el-switch
                v-model="form.is_show_on_filter"
                active-color="#13ce66"
                inactive-color="#ff4949">
            </el-switch>
        </el-form-item>

        <el-form-item>
            <el-button
                type="success"
                @click="handleSubmit"
                v-if="Helper.canDo(AdminPermissions.EDIT_PROD_ATTRIBUTE)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button
                @click="handleCancel"
            >
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>
    </el-form>
</template>
<script>
export default {
    props: {
        attributeTypes: {
            type: Array,
            default() {
                return [];
            }
        },
        onSuccess: {
            type: Function,
            default() {
                return null;
            }
        },
        onCancel: {
            type: Function,
            default() {
                return null;
            }
        },
        target: {
            type: Object,
            default() {
                return {}
            }
        },
    },
    data() {
        return {
            form: this._.isEmpty(this.target) ? {
                multi_values: false,
                is_show_on_filter: true
            } : this._.clone(this.target),
            mode: this._.isEmpty(this.target) ? 'create' : 'edit',
            isSearching: false,
            categories: [],
            categoryId: '',
            selectedCategories: [],
        }
    },
    created() {
        this.form.multi_values = (this.form.multi_values === 1 || this.form.multi_values === true);
        this.form.is_show_on_filter = (this.form.is_show_on_filter === 1 || this.form.is_show_on_filter === true);
        this.initCategory();
    },
    watch: {
        target: function (updatedRecord) {
            this.form = this._.isEmpty(updatedRecord) ? {
                multi_values: false,
                is_show_on_filter: true
            } : this._.clone(updatedRecord);
            this.mode = this._.isEmpty(updatedRecord) ? 'create' : 'edit';
            this.form.multi_values = (this.form.multi_values === 1 || this.form.multi_values === true);
            this.form.is_show_on_filter = (this.form.is_show_on_filter === 1 || this.form.is_show_on_filter === true);
            this.initCategory();
        },
    },
    methods: {
        initCategory() {
            this.selectedCategories = [];
            this.categories = [];

            if(!this._.isEmpty(this.form.categories)) {
                this.categories = this._.clone(this.form.categories);
                this.selectedCategories = this._.clone(this.form.categories);
            }
        },
        handleRemoveCategory(target) {
            this.selectedCategories.splice(this._.findIndex(this.selectedCategories, target), 1);
        },
        handleSelectCategory() {
            const category = this._.find(this.categories, category => category.id === this.categoryId);
            const selectedCategory = this._.find(this.selectedCategories, category => category.id === this.categoryId);
            if(!this._.isEmpty(category) && this._.isEmpty(selectedCategory)) {
                this.selectedCategories.push(category);
                this.categoryId = '';
            }
        },
        async handleSearchCategory(search) {
            if(this._.isEmpty(search)) {
                return;
            }
            const params = {
                search,
            };
            this.isSearching = true;
            try {
                const uri = this.route('admin.ajax_search_prod_category', params ) ;
                const response = await this.Request.get(uri);
                this.categories = response.data.data;
            } catch (e) {
                console.log(e); // eslint-disable-line
                const errorMessages = this.Request.errors(e.response);
                this.$notify({
                    type: 'error',
                    title: this.$t('admin.common.error'),
                    message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                });
            }
            this.isSearching = false;

        },
        async handleSubmit() {
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });
            try {
                this.form.prod_category_ids = [];
                this._.forEach(this.selectedCategories, item => {
                    this.form.prod_category_ids.push(item.id);
                });
                const uri = (this.mode === 'edit')
                    ? this.route('admin.ajax_update_attribute', { attribute: this.form.id})
                    : this.route('admin.ajax_create_attribute');
                const response = (this.mode === 'edit')
                    ? await this.Request.patch(uri, this.form)
                    : await this.Request.post(uri, this.form);
                this.onSuccess(response.data, this.mode);
                this.resetForm();
                this.$notify({
                    type: 'success',
                    title: this.$t('admin.common.success'),
                    message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                });
            } catch (e) {
                console.log(e); // eslint-disable-line
                const errorMessages = this.Request.errors(e.response);
                this.$notify({
                    type: 'error',
                    title: 'Error',
                    message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                });
            }
            loading.close();
        },
        handleCancel() {
            this.resetForm();
            this.onCancel();
        },
        resetForm() {
            this.$refs['form'].resetFields();
        }
    }
}
</script>
