<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                        type="success"
                        icon="el-icon-edit-outline"
                        @click="showForm({})"
                        v-if="Helper.canDo(AdminPermissions.EDIT_PROD_ATTRIBUTE)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>

            </div>
            <div class="right">
                <el-select
                    v-model="requestParams.categoryId"
                    filterable
                    clearable
                    placeholder="Lọc theo danh mục"
                >
                    <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                    </el-option>
                </el-select>

                <el-input
                        class="search"
                        :placeholder="this.$t('admin.common.search')"
                        v-model="requestParams.search"
                        @keyup.enter.native="handlePaginate(1)"
                />

                <el-button
                    type="success"
                    icon="el-icon-search"
                    @click="handlePaginate(1)"
                >
                    {{ this.$t('admin.common.search')}}
                </el-button>
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                        :data="attributesDataSet"
                        :default-sort="{ prop: 'id', order: 'ascending' }"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="Mã thuộc tính"
                            sortable
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            :label="this.$t('admin.common.name')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            prop="group_type_name"
                            :label="this.$t('admin.common.type')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            :label="this.$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                plain
                                type="primary"
                                :title="$t('admin.common.edit')"
                                size="mini"
                                icon="el-icon-edit"
                                class="action-button"
                                @click="showForm(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.EDIT_PROD_ATTRIBUTE)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                            <el-button
                                plain
                                type="danger"
                                :title="$t('admin.common.delete')"
                                size="mini"
                                icon="el-icon-delete"
                                class="action-button"
                                @click="confirmDelete(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.DELETE_PROD_ATTRIBUTE)"
                            >
                                {{ $t('admin.common.delete') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                        v-if="attributes.total > attributes.per_page"
                        background
                        layout="prev, pager, next"
                        :total="attributes.total"
                        :current-page="attributes.current_page"
                        :page-size="attributes.per_page"
                        @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                    :title="formTitle"
                    :visible.sync="isShowForm"
                    class="form-dialog"
            >
                <el-tabs type="card">
                    <el-tab-pane label="Thông tin chính">
                        <attribute-form
                                :target="target"
                                :attribute-types="attributeTypes"
                                :on-success="onCreate"
                                :on-cancel="hideForm"
                        />
                    </el-tab-pane>
                    <el-tab-pane label="Các giá trị" v-if="!_.isEmpty(target)">
                        <p>
                            <el-input
                                    v-model="value"
                                    maxlength="255"
                                    show-word-limit
                                    class="input-with-btn"
                                    @keyup.enter.native="handleAddValue"
                            />
                            <el-button
                                    plain
                                    type="primary"
                                    :title="$t('admin.common.create')"
                                    icon="el-icon-plus"
                                    class="action-button"
                                    @click="handleAddValue"
                            ></el-button>
                        </p>
                        <div  v-if="target.values">
                            <p v-for="item in target.values" :key="item.id">
                                <el-input
                                        v-model="item.value"
                                        maxlength="255"
                                        show-word-limit
                                        :readonly="!item.editable"
                                        class="input-with-btn"
                                        @keyup.enter.native="handleUpdateValue(item)"
                                />
                                <el-button
                                        v-if="item.changed"
                                        type="success"
                                        :title="$t('admin.common.save')"
                                        icon="el-icon-check"
                                        class="action-button"
                                        @click="handleUpdateValue(item)"
                                ></el-button>
                                <el-button
                                        v-else
                                        plain
                                        type="success"
                                        :title="$t('admin.common.edit')"
                                        icon="el-icon-edit"
                                        class="action-button"
                                        @click="handleChangeValue(item)"
                                ></el-button>

                                <el-button
                                    plain
                                    type="danger"
                                    :title="$t('admin.common.delete')"
                                    icon="el-icon-delete"
                                    class="action-button"
                                    @click="confirmDeleteValue(item.id)"
                                ></el-button>

                            </p>
                        </div>
                    </el-tab-pane>
                </el-tabs>

            </el-dialog>
            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDelete"
                :on-confirm="handleDelete"
                :on-cancel="closeDeleteDialog"
            />

            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDeleteValue"
                :on-confirm="handleDeleteValue"
                :on-cancel="closeDeleteValueDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
    import AttributeForm from './AttributeForm';
    import DeleteConfirmDialog from './DeleteConfirmDialog';

    export default {
        components: { AttributeForm, DeleteConfirmDialog },
        props: {
            params: {
                type: Object,
                default() {
                    return {};
                }
            },
            attributes: {
                type: Object,
                default () {
                    return {};
                },
            },
            attributeTypes: {
                type: Array,
                default () {
                    return [];
                },
            },
            categories: {
                type: Array,
                default() {
                    return [];
                }
            },
            keyword: {
                type: String,
                default: '',
            },
        },
        created() {
            if(!this._.isEmpty(this.params.search)) {
                this.requestParams.search = this.params.search;
            }
            if(!this._.isEmpty(this.params.category_id)) {
                this.requestParams.categoryId = parseInt(this.params.category_id);
            }
        },
        data () {
            return {
                attributesDataSet: this.prepareData(this.attributes.data),
                target: {},
                isShowForm: false,
                formTitle: '',
                value: '',
                currentValueEdit: '',
                isShowConfirmDelete: false,
                isShowConfirmDeleteValue: false,
                requestParams: {
                    categoryId: '',
                    search: this.keyword
                },
                attributeValueIdToDelete: ''
            }
        },
        methods: {

            getType (type) {
                const attributeType = this._.find(this.attributeTypes, attributeType => attributeType.value.toString() === type.toString());
                return attributeType.name
            },
            prepareData (attributes) {
                return this._.map(attributes, attribute => {
                    attribute.group_type_name = this.getType(attribute.group_type);
                    return attribute;
                });
            },
            onCreate (data, mode) {
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.attributesDataSet.push(data)
                } else {
                    this.attributesDataSet = this._.map(this.attributesDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    })
                }
                this.target = data;
                this.attributesDataSet = this.prepareData(this.attributesDataSet);
            },
            confirmDelete (target) {
                this.target = target;
                this.isShowConfirmDelete = true;
            },
            closeDeleteDialog () {
                this.isShowConfirmDelete = false;
            },
            confirmDeleteValue (attributeValueId) {
                this.attributeValueIdToDelete = attributeValueId;
                this.isShowConfirmDeleteValue = true;
            },
            closeDeleteValueDialog () {
                this.isShowConfirmDeleteValue = false;
            },
            hideForm () {
                this.isShowForm = false;
            },
            showForm (target) {
                this.isShowForm = true;
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
            },
            handleChangeValue(item) {
                if(this.currentValueEdit !== '' && item.id !== this.currentValueEdit) {
                    this.$notify({
                        type: 'warning',
                        title: this.$t('admin.common.warning'),
                        message: this.$t('admin.message.warning_not_save_current_edit'),
                    });
                    return;
                }
                this.currentValueEdit = item.id;
                this.target.values = this._.map(this.target.values, record => {
                    record.changed = record.id === item.id;
                    record.editable = record.id === item.id;
                    return record;
                });
            },
            async handleAddValue() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_add_attribute_value', { attribute: this.target.id });
                    const response = await this.Request.post(uri, {
                        attribute_id: this.target.id,
                        value: this.value,
                    });
                    this.value = '';
                    this.currentValueEdit = '';
                    this.target = response.data;
                    this.onCreate(response.data, 'edit');
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleUpdateValue(item) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_update_attribute_value', { attribute: this.target.id, attributeValue: item.id });
                    const response = await this.Request.patch(uri, item);
                    this.target = response.data;
                    this.currentValueEdit = '';
                    this.onCreate(response.data, 'edit');
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleDeleteValue() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                try {
                    const uri = this.route('admin.ajax_delete_attribute_value', { attributeValue: this.attributeValueIdToDelete});
                    await this.Request.delete(uri);
                    this.target.values.splice(this._.findIndex(this.target.values, ['id', this.attributeValueIdToDelete]), 1);
                    this.isShowConfirmDeleteValue = false;

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                loading.close();
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_attribute', { attribute: this.target.id});
                    await this.Request.delete(uri);
                    this.attributesDataSet.splice(this._.findIndex(this.attributesDataSet, this.target), 1);
                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                let params = {};
                params.search = this.requestParams.search;
                params.category_id = this.requestParams.categoryId;

                if (page > 1) {
                    params.page = page;
                }

                window.location = this.route('admin.attributes_index', params);
            },
        }
    }
</script>
