<template>
    <div>
        <el-form
            ref="brandForm"
            :model="form"
            label-position="left"
            label-width="120px"
        >
            <el-form-item :label="$t('admin.common.name')">
                <el-input
                    v-model="form.name"
                    maxlength="255"
                    show-word-limit
                ></el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.category')">
                <div>
                    <el-select
                        v-model="categoryId"
                        filterable
                        clearable
                        remote
                        reserve-keyword
                        :loading-text="$t('admin.common.loading')"
                        :no-match-text="$t('admin.common.no_match_text')"
                        :no-data-text="$t('admin.common.no_data_text')"
                        :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                        :remote-method="handleSearchCategory"
                        :loading="isSearching"
                        @change="handleSelectCategory"
                    >
                        <el-option
                            v-for="item in categories"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                    <div class="list-tags">
                        <el-tag
                            v-for="item in selectedCategories"
                            :key="item.id"
                            closable
                            type="primary"
                            @close="handleRemoveCategory(item)"
                        >
                           {{ item.name }}
                        </el-tag>
                    </div>

                </div>
            </el-form-item>
            <el-form-item label="Url">
                <el-input
                    v-model="form.url"
                    maxlength="255"
                    show-word-limit
                ></el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.image')">
              <image-selector
                  :selector-id="'image'"
                  :source="form.image"
                  :on-select="handleSelectImage"
              />
            </el-form-item>
            <el-form-item :label="$t('admin.common.description')">
                <el-input
                    id="editor"
                    type="textarea"
                    :rows="5"
                    v-model="form.description">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button
                    type="success"
                    @click="handleSubmit"
                    v-if="Helper.canDo(AdminPermissions.EDIT_BRAND)"
                >
                    {{ $t('admin.common.save') }}
                </el-button>
                <el-button @click="handleCancel">
                    {{ $t('admin.common.cancel') }}
                </el-button>
            </el-form-item>
        </el-form>
    </div>

</template>
<script>

    import ImageSelector from "./ImageSelector";
    import { mapState, mapMutations } from 'vuex';

    export default {
        components: { ImageSelector },
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
            user: {
                type: Object,
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                form: {},
                mode: '',
                isSearching: false,
                categories: [],
                categoryId: '',
                selectedCategories: [],
            }
        },
        created () {
            this.initForm(this.target);
            this.initImage();
            this.initCategory();
        },
        mounted() {
            this.Editor.initEditor('editor', this.form.description);
        },
        watch: {
            target(updatedRecord) {
                this.initForm(updatedRecord);
                this.initImage();
                this.initCategory();
                this.Editor.initEditor('editor', this._.isEmpty(updatedRecord.description) ? '' : updatedRecord.description);
            },
            image(image) {
                this.updateImage(image);
            },
        },
        computed: {
            ...mapState({
                image: state => state.imageStore.image,
            }),
        },
        methods: {
            ...mapMutations([
                'setImage',
            ]),
            initForm(data) {
                if(this._.isEmpty(data)) {
                    this.form = {
                        image: '',
                    };
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(data);
                    this.mode = 'edit';
                }
            },
            initImage() {
                if(this._.isEmpty(this.form.image)) {
                    this.form.image = '/images/no-img.jpg';
                }
            },
            initCategory() {
                this.selectedCategories = [];
                this.categories = [];

                if(!this._.isEmpty(this.form.categories)) {
                    this.categories = this._.clone(this.form.categories);
                    this.selectedCategories = this._.clone(this.form.categories);
                }
            },
            handleSelectImage(image) {
              if(!this._.isEmpty(image)) {
                this.form.image = image;
              }
            },
            updateImage(image) {
                if(!this._.isEmpty(image)) {
                    this.form.image = image;
                }
            },
            handleRemoveCategory(target) {
                this.selectedCategories.splice(this._.findIndex(this.selectedCategories, target), 1);
            },
            handleSelectCategory() {
                const category = this._.find(this.categories, category => category.id === this.categoryId);
                const selectedCategory = this._.find(this.selectedCategories, category => category.id === this.categoryId);
                if(!this._.isEmpty(category) && this._.isEmpty(selectedCategory)) {
                    this.selectedCategories.push(category);
                    this.categoryId = '';
                }
            },
            async handleSearchCategory(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_prod_category', params ) ;
                    const response = await this.Request.get(uri);
                    this.categories = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: this.$t('admin.common.error'),
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;

            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {

                    this.form.prod_category_ids = [];
                    this._.forEach(this.selectedCategories, item => {
                        this.form.prod_category_ids.push(item.id);
                    });
                    this.form.description = this.Editor.getEditorData('editor');
                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_brand', { brand: this.form.id})
                        : this.route('admin.ajax_create_brand');
                    const response = (this.mode === 'edit')
                        ? await this.Request.patch(uri, this.form)
                        : await this.Request.post(uri, this.form);
                    this.onSuccess(response.data, this.mode);
                    this.$refs['brandForm'].resetFields();
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.$refs['brandForm'].resetFields();
                this.onCancel();
            },
        }
    }
</script>
