<template>
    <el-form
            ref="form"
            :model="form"
            label-position="left"
            label-width="150px"
    >
        <el-form-item :label="$t('admin.common.product')">
            <el-select
                    v-model="form.product_id"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchProduct"
                    :loading="isSearching"
            >
                <el-option
                        v-for="item in products"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item :label="$t('admin.common.supply_unit')">
            <el-select
                v-model="form.supply_unit_id"
                filterable
                clearable
            >
                <el-option
                    v-for="unit in supplyunits"
                    :key="unit.id"
                    :label="unit.name"
                    :value="unit.id">
                </el-option>
            </el-select>

            <el-link :href="route('admin.supply_unit_index') + '?show_form_add=true'" icon="el-icon-circle-plus-outline">Thêm</el-link>
        </el-form-item>

        <el-form-item :label="$t('admin.common.warehouse')">
            <el-select
                v-model="form.import_to_warehouse_id"
                filterable
                clearable
            >
                <el-option
                    v-for="warehouse in warehouses"
                    :key="warehouse.id"
                    :label="warehouse.name"
                    :value="warehouse.id">
                </el-option>
            </el-select>

            <el-link :href="route('admin.warehouse_index') + '?show_form_add=true'" icon="el-icon-circle-plus-outline">Thêm</el-link>
        </el-form-item>

        <el-form-item :label="$t('admin.common.serial')" v-if="mode === 'edit'">
            <el-input
                    v-model="form.serial"
                    maxlength="255"
                    show-word-limit
            />
        </el-form-item>

        <div v-if="mode === 'create'">
            <el-form-item :label="$t('admin.common.serial_list')" v-if="inventories.length > 0">
                <ul class="list-group inventories-list">
                    <li v-for="item in inventories" :key="item"  class="list-group-item">
                        {{ item }}
                        <span class="badge badge-danger"  @click="handleRemoveSerial(item)">
                            <i class="el-icon-delete"></i>
                            Xóa
                        </span>
                    </li>
                </ul>
                <h6 class="card-title" v-if="inventories.length > 0"><strong>Tổng số serial đã nhập: {{ inventories.length }}</strong></h6>
            </el-form-item>
            <el-form-item :label="$t('admin.common.input_serial')">
                <el-button
                    type="primary"
                    plain
                    icon="el-icon-upload"
                    @click="isShowImportSerialForm = true"
                >
                    {{ this.$t('admin.common.import_excel')}}
                </el-button>

                <div class="form-group label-floating is-empty">
                    <el-input v-model="serial" @keyup.enter.native="handleInputSerial">
                        <el-button @click="handleInputSerial" style="background-color: #67c23a;color:white;" slot="append" icon="el-icon-plus"></el-button>
                    </el-input>
                </div>
            </el-form-item>
        </div>

        <el-form-item :label="$t('admin.common.brand_warranty_period')">
            <el-date-picker
                v-model="form.brand_warranty_period"
                format="dd-MM-yyyy"
                value-format="yyyy-MM-dd"
                type="date"
            ></el-date-picker>
        </el-form-item>
        <el-form-item :label="$t('admin.common.warranty_period')">
            <el-input v-model="form.warranty_period" />
        </el-form-item>
        <el-form-item :label="$t('admin.common.note')">
            <el-input
                    v-model="form.note"
                    type="textarea"
                    maxlength="255"
                    show-word-limit
            />
        </el-form-item>
        <el-form-item>
            <el-button
                    type="success"
                    @click="handleSubmit"
                    v-if="Helper.canDo(AdminPermissions.EDIT_INVENTORY)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>

        <el-dialog
            title="Nhập từ excel"
            :visible.sync="isShowImportSerialForm"
            class="delete-dialog"
        >
            <el-upload
                class="btn-upload"
                ref="upload"
                name="upload"
                :http-request="handleUploadSerialFile"
                :show-file-list="true"
                :action="this.route('admin.ajax_upload_file')"
                :auto-upload="false">
                <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                <el-button size="small" type="success" @click="handleSubmitUploadSerialFile">Tải lên</el-button>
                <el-link type="danger" href="https://kowcomputer.com/file/MauExcelNhapSerial.xlsx">Tải file mẫu</el-link>
            </el-upload>
        </el-dialog>
    </el-form>
</template>
<script>
    export default {
        props: {
            warehouses: {
                type: Array,
                default() {
                    return [];
                },
            },
            superusers: {
                type: Array,
                default() {
                    return [];
                },
            },
            supplyunits: {
                type: Array,
                default() {
                    return [];
                },
            },
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                form: {},
                mode: '',
                products: [],
                isSearching: false,
                inventories: [],
                serial: '',
                isShowImportSerialForm: false
            }
        },
        created () {
            this.initForm(this.target);
        },
        watch: {
            target: function (updatedRecord) {
                this.initForm(updatedRecord);
            },
        },
        methods: {
            handleInputSerial() {
                if(this._.isEmpty(this.serial)) {
                    return;
                }

                this.inventories.push(this.serial);
                // Get all unique values
                this.inventories = [...new Set(this.inventories)];

                this.serial = '';
            },
            handleRemoveSerial(serial) {
                if(this._.isEmpty(serial)) {
                    return;
                }
                this.inventories = this._.remove(this.inventories, item => item.toString() !== serial.toString());
            },
            handleSubmitUploadSerialFile() {
                this.$refs.upload.submit();
            },
            async handleUploadSerialFile(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);

                    let response = await this.Request.upload(
                        this.route('admin.ajax_import_excel_serial'),
                        formData
                    );

                    this.inventories.push(...response.data);
                    // Get all unique values
                    this.inventories = [...new Set(this.inventories)];

                    this.isShowImportSerialForm = false;

                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Import serial qua excel thành công.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
            initForm(data) {
                if(this._.isEmpty(data)) {
                    this.form = {
                        has_serial: true,
                    };
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(data);
                    this.mode = 'edit';
                    this.form.has_serial = (this.form.has_serial === 1 || this.form.has_serial === true);
                }
                this.products = [];
                if(!this._.isEmpty(this.form.product)) {
                    this.products.push(this.form.product);
                }
            },
            handleFormatMoney(number) {
                return this.Helper.formatMoney(number);
            },
            async handleSearchProduct(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_product', params ) ;
                    const response = await this.Request.get(uri);
                    this.products = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;

            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let data = this._.clone(this.form);

                    let uri = this.route('admin.ajax_update_inventory', {inventory: data.id});
                    if (this.mode === 'create') {
                        uri = this.route('admin.ajax_create_inventory');
                        data.serial_list = this.inventories
                    }

                    if (this.mode === 'edit') {
                        await this.Request.patch(uri, data);
                    } else {
                        await this.Request.post(uri, data);
                    }

                    location.reload();

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        dangerouslyUseHTMLString: true,
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
