<template>
    <el-form
        ref="form"
        :model="form"
        label-position="left"
        label-width="100px"
    >
        <div>
            // TODO It need check count of product to foreach enter serial.
            <el-form-item :label="$t('admin.common.serial')">
                <el-input
                    v-model="form.serial"
                    maxlength="255"
                    show-word-limit
                />
            </el-form-item>
        </div>
        <el-form-item>
            <el-button
                type="success"
                @click="handleSubmit"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>
    </el-form>
</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                form: {},
                mode: '',
            }
        },
        created() {
            this.initForm(this.target);
        },
        watch: {
            target: function (updatedRecord) {
                this.initForm(updatedRecord);
            },
        },
        methods: {
            initForm(data) {
                if (this._.isEmpty(data)) {
                    this.form = {};
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(data);
                    this.mode = 'edit';
                }
            },
            async handleSubmit() {
                // TODO Update logic submit serial.
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
