<template>
    <el-form
            ref="form"
            label-position="left"
            label-width="145px"
    >
        <el-form-item :label="$t('admin.common.type')">
            <el-select v-model="exportType" placeholder="Select">
                <el-option
                    v-for="item in exportinventorytypes"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>

        <template v-if="exportType === 'order'">
            <el-form-item :label="$t('admin.common.order')">
                <el-select
                    v-model="orderId"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchOrder"
                    :loading="isSearching"
                    @change="handleSelectOrder"
                >
                    <el-option
                        v-for="item in orders"
                        :key="item.id"
                        :label="'Đơn hàng #'+item.id +' - '+item.name+' - '+item.phone"
                        :value="item.id"
                    ></el-option>
                </el-select>
            </el-form-item>

            <template v-if="!_.isEmpty(order)">
                <el-form-item :label="$t('admin.common.product_list') + '(' + order.order_products.length +')'">
                    <ul class="list-group list-group-flush">
                        <li v-for="item in order.order_products" :key="item.id" class="list-group-item">
                            <a :href="route('admin.products_index')+'?id='+item.product_id"
                               target="_blank"
                               :title="item.name"
                            > #{{ item.product_id }} - {{ item.name }}</a>
                            <p> Số lượng: {{ item.quantity }}</p>
                        </li>
                    </ul>
                    <h6 class="card-title"><strong>Tổng số lượng: {{ totalQty}}</strong></h6>
                </el-form-item>
            </template>
        </template>

        <template v-if="exportType === 'warehouse'">
            <el-form-item :label="$t('admin.common.warehouse')">
                <el-select
                    v-model="exportToWarehouseId"
                    filterable
                    clearable
                    @change="handleSelectWarehouse"
                >
                    <el-option
                        v-for="warehouse in warehouses"
                        :key="warehouse.id"
                        :label="warehouse.name"
                        :value="warehouse.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </template>

        <template v-if="(exportType === 'order' && !_.isEmpty(order)) || (exportType === 'warehouse' && !_.isEmpty(warehouse))">
            <el-form-item :label="$t('admin.common.serial_list')" v-if="inventories.length > 0">
                <ul class="list-group inventories-list">
                    <li v-for="item in inventories" :key="item"  class="list-group-item">
                        {{ item }}
                        <span class="badge badge-danger"  @click="handleRemoveSerial(item)">
                            <i class="el-icon-delete"></i>
                            Xóa
                        </span>
                    </li>
                </ul>
                <h6 class="card-title" v-if="inventories.length > 0"><strong>Tổng số serial đã nhập: {{ inventories.length }}</strong></h6>
            </el-form-item>
            <el-form-item :label="$t('admin.common.input_serial')">
                <el-button
                    type="primary"
                    plain
                    icon="el-icon-upload"
                    @click="isShowImportSerialForm = true"
                >
                    {{ this.$t('admin.common.import_excel')}}
                </el-button>

                <div class="form-group label-floating is-empty">
                    <el-input v-model="serial" @keyup.enter.native="handleInputSerial">
                        <el-button @click="handleInputSerial" style="background-color: #67c23a;color:white;" slot="append" icon="el-icon-plus"></el-button>
                    </el-input>
                </div>
            </el-form-item>

            <el-form-item :label="$t('admin.common.note')">
                <el-input
                    v-model="note"
                    type="textarea"
                    maxlength="255"
                    show-word-limit
                />
            </el-form-item>

            <el-form-item>
                <el-button
                    type="success"
                    @click="handleSubmit"
                    v-if="Helper.canDo(AdminPermissions.EXPORT_INVENTORY)"
                >
                    {{ $t('admin.common.save') }}
                </el-button>
                <el-button @click="handleCancel">
                    {{ $t('admin.common.cancel') }}
                </el-button>
            </el-form-item>
        </template>

        <el-dialog
            title="Nhập từ excel"
            :visible.sync="isShowImportSerialForm"
            class="delete-dialog"
        >
            <el-upload
                class="btn-upload"
                ref="upload"
                name="upload"
                :http-request="handleUploadSerialFile"
                :show-file-list="true"
                :action="this.route('admin.ajax_upload_file')"
                :auto-upload="false">
                <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                <el-button size="small" type="success" @click="handleSubmitUploadSerialFile">Tải lên</el-button>
                <el-link type="danger" href="https://kowcomputer.com/file/MauExcelNhapSerial.xlsx">Tải file mẫu</el-link>
            </el-upload>
        </el-dialog>
    </el-form>
</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            exportinventorytypes: {
                type: Array,
                default() {
                    return [];
                },
            },
            warehouses: {
                type: Array,
                default() {
                    return [];
                },
            }
        },
        data() {
            return {
                orderId: '',
                order: {},
                orders: [],
                isSearching: false,
                inventories: [],
                serial: '',
                exportType: '',
                exportToWarehouseId: null,
                warehouse: {},
                // exportUserId: null,
                note: '',
                totalQty: 0,
                isShowImportSerialForm: false
            }
        },
        methods: {
            getTotalQty() {
                let i;
                this.totalQty = 0;
                for (i = 0; i < this.order.order_products.length; i++) {
                    this.totalQty += this.order.order_products[i]['quantity'];
                }
            },
            handleSelectOrder() {
                const order = this._.find(this.orders, order => order.id.toString() === this.orderId.toString());
                if(!this._.isEmpty(order)) {
                    this.order = order;
                    this.getTotalQty();
                }
            },
            handleSelectWarehouse() {
                const warehouse = this._.find(this.warehouses, warehouse => warehouse.id.toString() === this.exportToWarehouseId.toString());
                if(!this._.isEmpty(warehouse)) {
                    this.warehouse = warehouse;
                }
            },
            handleInputSerial() {
                if(this._.isEmpty(this.serial)) {
                    return;
                }

                this.inventories.push(this.serial);
                // Get all unique values
                this.inventories = [...new Set(this.inventories)];

                this.serial = '';
            },
            handleRemoveSerial(serial) {
                if(this._.isEmpty(serial)) {
                    return;
                }
                this.inventories = this._.remove(this.inventories, item => item.toString() !== serial.toString());
            },
            async handleSearchOrder(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_order', params );
                    const response = await this.Request.get(uri);
                    this.orders = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;

            },
            handleSubmitUploadSerialFile() {
                this.$refs.upload.submit();
            },
            async handleUploadSerialFile(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);

                    let response = await this.Request.upload(
                        this.route('admin.ajax_import_excel_serial'),
                        formData
                    );

                    this.inventories.push(...response.data);
                    // Get all unique values
                    this.inventories = [...new Set(this.inventories)];

                    this.isShowImportSerialForm = false;

                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Import serial qua excel thành công.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_export_inventory');

                    // Handle data to send into request
                    let data = {
                        export_type: this.exportType,
                        // export_user_id: this.exportUserId,
                        inventories: this.inventories,
                        export_note: this.note
                    };

                    if (this.exportType === 'order') {
                        data.order_id = this.orderId;
                    } else {
                        data.export_to_warehouse_id = this.exportToWarehouseId;
                    }
                    // Handle data to send into request

                    await this.Request.post(uri, data);

                    this.onSuccess();

                    location.reload();
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        dangerouslyUseHTMLString: true,
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.onCancel();
            },
        }
    }
</script>
