<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                        type="success"
                        icon="el-icon-circle-plus"
                        @click="showForm()"
                        v-if="Helper.canDo(AdminPermissions.EDIT_INVENTORY)"
                >
                    {{ this.$t('admin.common.import')}}
                </el-button>
                <el-button
                        type="danger"
                        plain
                        icon="el-icon-document"
                        @click="showExcelForm()"
                        v-if="Helper.canDo(AdminPermissions.IMPORT_INVENTORY)"
                >
                    {{ this.$t('admin.common.import_excel')}}
                </el-button>
                <el-button
                        type="primary"
                        plain
                        icon="el-icon-remove"
                        @click="showExportForm()"
                        v-if="Helper.canDo(AdminPermissions.EXPORT_INVENTORY)"
                >
                    Xuất hàng
                </el-button>

                <el-button
                    type="primary"
                    icon="el-icon-download"
                    @click="handleExportExcel"
                >
                    Xuất excel
                </el-button>
            </div>
            <div class="right">
                <el-select
                    v-model="requestParams.productId"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    placeholder="Mã hoặc tên sản phẩm"
                    :remote-method="handleSearchProduct"
                    :loading="isSearching"
                >
                    <el-option
                        v-for="item in products"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>

                <el-select
                    v-model="requestParams.warehouseId"
                    filterable
                    clearable
                    placeholder="Kho hàng"
                >
                    <el-option
                        v-for="warehouse in warehouses"
                        :key="warehouse.id"
                        :label="warehouse.name"
                        :value="warehouse.id">
                    </el-option>
                </el-select>

                <el-select
                    v-model="requestParams.status"
                    filterable
                    clearable
                    placeholder="Trạng thái"
                >
                    <el-option
                        v-for="status in inventoryStatus"
                        :key="status.value"
                        :label="status.name"
                        :value="status.value">
                    </el-option>
                </el-select>

                <el-input
                        class="search"
                        :placeholder="this.$t('admin.common.search')"
                        v-model="requestParams.search"
                        @keyup.enter.native="handlePaginate(1)"
                />

                <el-button
                    type="success"
                    icon="el-icon-search"
                    @click="handlePaginate(1)"
                >
                    {{ this.$t('admin.common.search')}}
                </el-button>
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                        :data="inventoriesDataSet"
                        :default-sort="{prop: 'id', order: 'descending' }"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="Mã hàng"
                            sortable
                     />
                    <el-table-column
                        prop="product.name"
                        :label="$t('admin.common.product')"
                        sortable>
                        <template slot-scope="scope">
                            <a :href="route('admin.products_index') + '?id=' + scope.row.product_id">{{ scope.row.product.name }}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="serial"
                            :label="$t('admin.common.serial')"
                            sortable/>
                    <el-table-column
                        :label="$t('admin.common.status')"
                    >
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">
                                {{ scope.row.status_name }}
                                <span v-if="scope.row.exported_at && scope.row.order_id">
                                    <a :href="route('admin.orders_index') + '?id=' + scope.row.order_id" target="_blank">(Đơn #{{ scope.row.order_id }})</a>
                                </span>
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="brand_warranty_period"
                        :label="$t('admin.common.brand_warranty_period')"
                        sortable/>
                    <el-table-column
                            prop="warranty_period"
                            :label="$t('admin.common.warranty_period')"
                            sortable/>
<!--                    <el-table-column-->
<!--                        prop="brand_warranty_period"-->
<!--                        :label="$t('admin.common.brand_warranty_period')"-->
<!--                        sortable/>-->
                    <el-table-column
                        prop="warehouse.name"
                        :label="$t('admin.common.warehouse')"
                        sortable>
                        <template slot-scope="scope">
                            <a target='_blank' :href="route('admin.warehouse_index') + '?id=' + scope.row.import_to_warehouse_id">{{ scope.row.warehouse ? scope.row.warehouse.name : ''  }}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            :label="$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    type="primary"
                                    :title="$t('admin.common.edit')"
                                    size="mini"
                                    icon="el-icon-edit"
                                    class="action-button"
                                    @click="showForm(scope.row)"
                                    v-if="Helper.canDo(AdminPermissions.EDIT_INVENTORY) && !scope.row.exported_at"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            v-if="inventories.total > inventories.per_page"
                            background
                            layout="prev, pager, next"
                            :total="inventories.total"
                            :current-page="inventories.current_page"
                            :page-size="inventories.per_page"
                            @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                    :title="formTitle"
                    :visible.sync="isShowForm"
                    class="form-dialog"
            >
                <inventory-form
                        :target="target"
                        :warehouses="warehouses"
                        :supplyunits="supplyunits"
                        :on-success="onSuccess"
                        :on-cancel="hideForm"
                />
            </el-dialog>
            <el-dialog
                    title="Xuất hàng"
                    :visible.sync="isShowExportForm"
                    class="form-dialog"
                    v-if="Helper.canDo(AdminPermissions.EXPORT_INVENTORY)"
            >
                <inventory-export-form
                    :exportinventorytypes="exportinventorytypes"
                    :warehouses="warehouses"
                    :on-cancel="closeExportForm"
                    :on-success="closeExportForm"
                />
            </el-dialog>
            <el-dialog
                    title="Nhập từ excel"
                    :visible.sync="isShowExcelForm"
                    class="delete-dialog"
                    v-if="Helper.canDo(AdminPermissions.IMPORT_INVENTORY)"
            >

                <el-upload
                        class="btn-upload"
                        ref="upload"
                        name="upload"
                        :http-request="handleUpload"
                        :show-file-list="true"
                        :action="this.route('admin.ajax_upload_file')"
                        :auto-upload="false"
                >
                    <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                    <el-button size="small" type="success" @click="handleSubmitUpload">Tải lên</el-button>
                    <el-link type="danger" href="https://kowcomputer.com/file/_MauExcelNhapKho.xlsx">Tải file mẫu</el-link>
                </el-upload>
            </el-dialog>
        </el-main>
    </el-container>
</template>
<script>
    import InventoryForm from './InventoryForm';
    import InventoryExportForm from './InventoryExportForm';
    export default {
        components: { InventoryForm, InventoryExportForm },
        props: {
            inventories: {
                type: Object,
                default() {
                    return {};
                },
            },
            warehouses: {
                type: Array,
                default() {
                    return [];
                },
            },
            supplyunits: {
                type: Array,
                default() {
                    return [];
                },
            },
            exportinventorytypes: {
                type: Array,
                default() {
                    return [];
                },
            },
            inventoryStatus: {
                type: Array,
                default() {
                    return [];
                },
            },
            params: {
                type: Object,
                default() {
                    return {};
                }
            },
            user: {
                type: Object,
                default() {
                    return {};
                },
            },
            keyword: {
                type: String,
                default: '',
            },
        },
        created() {
            if(!this._.isEmpty(this.params.search)) {
                this.requestParams.search = this.params.search;
            }
            if(!this._.isEmpty(this.params.product_id)) {
                this.requestParams.productId = parseInt(this.params.product_id);
                this.handleSearchProduct(this.params.product_id);
            }
            if(!this._.isEmpty(this.params.import_to_warehouse_id)) {
                this.requestParams.warehouseId = parseInt(this.params.import_to_warehouse_id);
            }

            if(!this._.isEmpty(this.params.status)) {
                this.requestParams.status = parseInt(this.params.status);
            }

            let urlParams = new URLSearchParams(window.location.search);
            if(urlParams.get('show_form_import') === 'true') {
                this.showForm({});
            }
        },
        data(){
            return {
                inventoriesDataSet: this.prepareData(),
                formTitle: '',
                isShowForm: false,
                isShowConfirmDelete: false,
                target: {},
                isShowExportForm: false,
                isShowExcelForm: false,
                requestParams: {
                    productId: '',
                    search: '',
                    warehouseId: '',
                    status: ''
                },
                products: [],
                isSearching: false
            }
        },
        methods: {
            prepareData() {
                return this._.map(this.inventories.data, inventory => {
                    inventory.status_name = this._.find(this.inventoryStatus, status => status.value === inventory.status).name;
                    return inventory;
                })
            },
            onSuccess(data, mode) {
                this.isShowForm = false;
                this.target = {};
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    data.status_name = this._.find(this.inventoryStatus, status => status.value === data.status).name;
                    this.inventoriesDataSet.push(data);
                } else {
                    this.inventoriesDataSet =  this._.map(this.inventoriesDataSet, (record) => {
                        if (record.id === data.id) {
                            data.status_name = this._.find(this.inventoryStatus, status => status.value === data.status).name;
                        }

                        return (record.id === data.id) ? data : record;
                    });
                }
                this.hideForm();
            },
            async handleSearchProduct(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_product', params ) ;
                    const response = await this.Request.get(uri);
                    this.products = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;
            },
            handleSubmitUpload() {
                this.$refs.upload.submit();
            },
            async handleUpload(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);
                    const uri = this.route('admin.ajax_import_excel_inventory');
                    await this.Request.upload(uri, formData);

                    location.reload();

                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Nhập kho qua excel thành công!.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
            handleExportExcel() {
                window.open(this.route('admin.inventories_export_excel'), '_blank');
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                let params = {};
                params.search = this.requestParams.search;
                params.product_id = this.requestParams.productId;
                params.import_to_warehouse_id = this.requestParams.warehouseId;
                params.status = this.requestParams.status;

                if (page > 1) {
                    params.page = page;
                }
                window.location = this.route('admin.inventories_index', params);
            },
            hideForm() {
                this.isShowForm = false;
            },
            showForm (target) {
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
                this.isShowForm = true;
            },
            showExportForm () {
                this.isShowExportForm = true;
            },
           closeExportForm () {
                this.isShowExportForm = false;
            },
            showExcelForm () {
                this.isShowExcelForm = true;
            },
            closeExcelForm () {
                this.isShowExcelForm = false;
            },
        }
    }
</script>
