<template>
    <div v-if="!_.isEmpty(order)">
        <div class="card-content">
            <h4 class="card-title"><strong>{{ $t('admin.common.product_list') }} ({{ order.order_products.length }})</strong></h4>
            <div class="form-group label-floating is-empty">
                <ul class="list-group list-group-flush">
                    <li v-for="item in order.order_products" :key="item.id"  class="list-group-item">
                        <a :href="route('admin.products_index')+'?id='+item.product_id"
                           target="_blank"
                           :title="item.name"
                        > #{{ item.product_id }} - {{ item.name }}</a>
                        <p> Số lượng: {{ item.quantity }}</p>
                    </li>
                </ul>
                <h6 class="card-title"><strong>Tổng số lượng: {{ totalQty}}</strong></h6>
            </div>
            <hr>
            <div class="form-group label-floating is-empty">
                <h4 class="card-title" v-if="inventories.length > 0"><strong>{{ $t('admin.common.serial_list') }}</strong></h4>
                <ul class="inventories-list list-group">
                    <li v-for="item in inventories" :key="item" class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item }}
                        <span class="badge badge-danger"  @click="handleRemoveSerial(item)">
                            <i class="el-icon-delete"></i>
                            Xóa
                        </span>
                    </li>
                </ul>
                <h6 class="card-title" v-if="inventories.length > 0"><strong>Tổng số serial đã nhập: {{ inventories.length }}</strong></h6>
            </div>

            <h4 class="card-title">{{ $t('admin.common.input_serial') }}</h4>
            <el-button
                type="primary"
                plain
                icon="el-icon-upload"
                @click="isShowImportSerialForm = true"
            >
                {{ this.$t('admin.common.import_excel')}}
            </el-button>
            <div class="form-group label-floating is-empty">
                <el-input v-model="serial" @keyup.enter.native="handleInputSerial">
                    <el-button @click="handleInputSerial" style="background-color: #67c23a;color:white;" slot="append" icon="el-icon-plus"></el-button>
                </el-input>
            </div>

            <h4 class="card-title">{{ $t('admin.common.note') }}</h4>
            <div class="form-group label-floating is-empty">
                <el-input
                    v-model="note"
                    type="textarea"
                    maxlength="255"
                    show-word-limit
                />
            </div>

            <div class="category form-category">
                <el-item>
                    <el-button
                        type="success"
                        @click="handleSubmit"
                        v-if="Helper.canDo(AdminPermissions.HANDLE_ORDER)"
                    >
                        {{ $t('admin.common.save') }}
                    </el-button>
                    <el-button @click="handleCancel">
                        {{ $t('admin.common.cancel') }}
                    </el-button>
                </el-item>
            </div>
        </div>

        <el-dialog
            title="Nhập từ excel"
            :visible.sync="isShowImportSerialForm"
            class="delete-dialog"
        >
            <el-upload
                class="btn-upload"
                ref="upload"
                name="upload"
                :http-request="handleUploadSerialFile"
                :show-file-list="true"
                :action="this.route('admin.ajax_upload_file')"
                :auto-upload="false">
                <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                <el-button size="small" type="success" @click="handleSubmitUploadSerialFile">Tải lên</el-button>
                <el-link type="danger" href="https://kowcomputer.com/file/MauExcelNhapSerial.xlsx">Tải file mẫu</el-link>
            </el-upload>
        </el-dialog>
    </div>
</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return null;
                }
            },
        },
        data() {
            return {
                order: this._.clone(this.target),
                isSearching: false,
                inventories: [],
                serial: '',
                note: '',
                totalQty: 0,
                isShowImportSerialForm: false
            }
        },
        watch: {
            target: function (target) {
                this.order = this._.clone(target);
                this.getTotalQty();
            },
        },
        created() {
            this.getTotalQty();
        },
        methods: {
            getTotalQty() {
                let i;
                this.totalQty = 0;
                for (i = 0; i < this.order.order_products.length; i++) {
                    this.totalQty += this.order.order_products[i]['quantity'];
                }
            },
            handleInputSerial() {
                if (this._.isEmpty(this.serial)) {
                    return;
                }

                this.inventories.push(this.serial);

                // Get all unique values
                this.inventories = [...new Set(this.inventories)];

                this.serial = '';
            },
            handleRemoveSerial(serial) {
                if (this._.isEmpty(serial)) {
                    return;
                }
                this.inventories = this._.remove(this.inventories, item => item.toString() !== serial.toString());
            },
            handleSubmitUploadSerialFile() {
                this.$refs.upload.submit();
            },
            async handleUploadSerialFile(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);

                    let response = await this.Request.upload(
                        this.route('admin.ajax_import_excel_serial'),
                        formData
                    );

                    this.inventories.push(...response.data);
                    // Get all unique values
                    this.inventories = [...new Set(this.inventories)];

                    this.isShowImportSerialForm = false;

                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Import serial qua excel thành công.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    // Handle data to send into request
                    let data = {
                        export_type: 'order',
                        inventories: this.inventories,
                        export_note: this.note,
                        order_id: this.order.id,
                    };

                    const uri = this.route('admin.ajax_export_inventory');

                    let response = await this.Request.post(uri, data);
                    this.onSuccess(response.data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated')
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                        dangerouslyUseHTMLString: true,
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.onCancel();
            },
        }
    }
</script>
