<template>
    <el-form
        ref="form"
        :model="form"
        label-position="left"
        label-width="120px"
    >
        <el-form-item :label="$t('admin.common.parent')">
            <treeselect
                search-nested
                :multiple="false"
                :options="menus"
                placeholder="Select"
                v-model="form.parent_id"
                @input="changeParent"
            />
        </el-form-item>

        <el-form-item :label="$t('admin.common.name')">
            <el-input
                v-model="form.name"
                maxlength="255"
                show-word-limit
            />
        </el-form-item>

        <el-form-item :label="$t('admin.common.sort')">
            <el-input
                v-model="form.order"
            />
        </el-form-item>

        <el-form-item :label="$t('admin.common.type')">
            <el-select v-model="form.object_type" placeholder="Select" @change="changeMenuObjType">
                <el-option
                    v-for="item in menuObjType"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value"
                >
                </el-option>
            </el-select>
        </el-form-item>

        <template v-if="form.object_type === menuObjTypeEnums.PRODUCT_CATEGORY">
            <el-form-item :label="$t('admin.common.category')">
                <el-select v-model="form.object_id" placeholder="Select">
                    <el-option
                        v-for="item in objProdCategories"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
        </template>

        <template v-if="form.object_type === menuObjTypeEnums.CUSTOM_LINK">
            <el-form-item :label="$t('admin.common.link')">
                <el-input
                    v-model="form.url"
                />
            </el-form-item>
        </template>

        <el-form-item>
            <el-button
                type="success"
                @click="handleSubmit"
                v-if="Helper.canDo(AdminPermissions.EDIT_MENU)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button
                @click="handleCancel"
            >
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>
    </el-form>
</template>
<script>
    // import the component
    import Treeselect from '@riophae/vue-treeselect';
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        // register the component
        components: {Treeselect},
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {}
                }
            },
            menuObjType: {
                type: Array,
                default() {
                    return [];
                },
            },
            menuObjTypeEnums: {
                Type: Object,
                default() {
                    return [];
                },
            },
            menus: {
                Type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                form: this._.isEmpty(this.target) ? {} : this._.clone(this.target),
                mode: this._.isEmpty(this.target) ? 'create' : 'edit',
                isSearching: false,
                categories: [],
                categoryId: '',
                selectedCategories: [],
                objProdCategories: [],
                objBrands: [],
                objAttributeValues : []
            }
        },
        async created() {
            const loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            await this.updateMenuObj();

            loading.close();
        },
        watch: {
            target: async function (updatedRecord) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                this.form = this._.isEmpty(updatedRecord) ? {} : this._.clone(updatedRecord);
                this.mode = this._.isEmpty(updatedRecord) ? 'create' : 'edit';
                await this.updateMenuObj();

                loading.close();
            },
        },
        methods: {
            async changeMenuObjType() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                await this.updateMenuObj();

                loading.close();
            },
            async changeParent() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                await this.updateMenuObj();

                loading.close();
            },
            async updateMenuObj() {
                switch (this.form.object_type) {
                    case (this.menuObjTypeEnums.PRODUCT_CATEGORY):
                        await this.changeMenuObjTypeToProdCategory();
                        break;
                    case (this.menuObjTypeEnums.CUSTOM_LINK):
                        break;
                }
            },
            async changeMenuObjTypeToProdCategory() {
                try {
                    let paramsSearchProdCategory = {
                        pagination: false
                    };

                    if (this.form.parent_id) {
                        const resParent = await this.Request.get(this.route(
                            'admin.ajax_get_menu',
                            {menu: this.form.parent_id}
                        ));

                        if(resParent.data.object_type === this.menuObjTypeEnums.PRODUCT_CATEGORY) {
                            paramsSearchProdCategory.parent_id = resParent.data.object_id;
                        }
                    }

                    const uri = this.route(
                        'admin.ajax_search_prod_category',
                        paramsSearchProdCategory
                    );

                    const response = await this.Request.get(uri);

                    this.objProdCategories = response.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_menu', {menu: this.form.id})
                        : this.route('admin.ajax_create_menu');

                    (this.mode === 'edit')
                        ? await this.Request.patch(uri, this.form)
                        : await this.Request.post(uri, this.form);

                    location.reload();

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
