<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                    type="success"
                    icon="el-icon-edit-outline"
                    @click="showForm({})"
                    v-if="Helper.canDo(AdminPermissions.EDIT_MENU)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>

            </div>
            <div class="right">
                <el-input
                    placeholder="Tìm kiếm"
                    v-model="filterText">
                </el-input>
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <div class="custom-tree-container">
                    <div class="block">
                        <el-tree
                            :data="menusDataSet"
                            :props="defaultProps"
                            node-key="id"
                            :expand-on-click-node="false"
                            :filter-node-method="filterNode"
                            ref="tree"
                        >
                            <span class="custom-tree-node" slot-scope="{ node, data }">
                                <span>
                                    <i class="material-icons">
                                        {{ data.object_type === menuObjTypeEnums.PRODUCT_CATEGORY ? 'view_module' : 'link' }}
                                    </i>
                                    <span style="margin-left:5px;">{{node.label}}</span>
                                </span>
                                <span>
                                  <el-button
                                      plain
                                      type="primary"
                                      :title="$t('admin.common.edit')"
                                      size="mini"
                                      icon="el-icon-edit"
                                      class="action-button"
                                      @click="() => showForm(data)"
                                      v-if="Helper.canDo(AdminPermissions.EDIT_MENU)"
                                  >
                                        {{ $t('admin.common.edit') }}
                                  </el-button>
                                  <el-button
                                      plain
                                      type="danger"
                                      :title="$t('admin.common.delete')"
                                      size="mini"
                                      icon="el-icon-delete"
                                      class="action-button"
                                      @click="() => confirmDelete(data)"
                                      v-if="Helper.canDo(AdminPermissions.DELETE_MENU)"
                                  >
                                        {{ $t('admin.common.delete') }}
                                  </el-button>
                                </span>
                            </span>
                        </el-tree>
                    </div>
                </div>
            </el-card>
            <el-dialog
                :title="formTitle"
                :visible.sync="isShowForm"
                class="form-dialog"
                v-if="Helper.canDo(AdminPermissions.EDIT_MENU)"
            >
                <el-tabs type="card">
                    <el-tab-pane label="Thông tin chính">
                        <menu-form
                            :target="target"
                            :on-success="onCreate"
                            :on-cancel="hideForm"
                            :menu-obj-type="menuObjType"
                            :menu-obj-type-enums="menuObjTypeEnums"
                            :menus="menus"
                        />
                    </el-tab-pane>
                </el-tabs>

            </el-dialog>
            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDelete"
                :on-confirm="handleDelete"
                :on-cancel="closeDeleteDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
    import MenuForm from './MenuForm';
    import DeleteConfirmDialog from './DeleteConfirmDialog';

    export default {
        components: {MenuForm, DeleteConfirmDialog },
        props: {
            menus: {
                type: Array,
                default () {
                    return {};
                },
            },
            keyword: {
                type: String,
                default: '',
            },
            menuObjType: {
                type: Array,
                default() {
                    return [];
                },
            },
            menuObjTypeEnums: {
                Type: Object,
                default() {
                    return [];
                },
            },
        },
        data () {
            return {
                search: this.keyword,
                menusDataSet: this.menus,
                target: {},
                isShowForm: false,
                formTitle: '',
                value: '',
                currentValueEdit: '',
                isShowConfirmDelete: false,
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                filterText: '',
            }
        },
        created() {
            let urlParams = new URLSearchParams(window.location.search);
            if(urlParams.get('show_form_add') === 'true') {
                this.showForm({});
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            filterNode(value, data) {
                if (!value) return true;
                return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
            },
            onCreate (data, mode) {
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.unitsDataSet.push(data)
                } else {
                    this.unitsDataSet = this._.map(this.unitsDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    })
                }
                this.target = data;
            },
            confirmDelete (target) {
                this.target = target;
                this.isShowConfirmDelete = true;
            },
            closeDeleteDialog () {
                this.isShowConfirmDelete = false;
            },
            hideForm () {
                this.isShowForm = false;
            },
            showForm (target) {
                this.isShowForm = true;
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
            },
            handleChangeValue(item) {
                if(this.currentValueEdit !== '' && item.id !== this.currentValueEdit) {
                    this.$notify({
                        type: 'warning',
                        title: this.$t('admin.common.warning'),
                        message: this.$t('admin.message.warning_not_save_current_edit'),
                    });
                    return;
                }
                this.currentValueEdit = item.id;
                this.target.values = this._.map(this.target.values, record => {
                    record.changed = record.id === item.id;
                    record.editable = record.id === item.id;
                    return record;
                });
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_menu', { menu: this.target.id});
                    await this.Request.delete(uri);

                    location.reload();

                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            }
        }
    }
</script>
<style>
    .custom-tree-node {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 10px;
    }
</style>
