<template>
    <div class="row">
        <div class="col-md-8">

            <el-card class="box-card">
                <el-header>
                    <div class="left">
                        <h4><strong>Danh sách sản phẩm</strong></h4>
                    </div>
                    <div class="right">
                        <h4 class="text-danger" v-if="orderStatusPendingProcessing.includes(target.status) && orderExportedInventory">
                            Đã xuất hàng
                        </h4>
                        <div v-else>
                            <el-button v-if="orderStatusPendingProcessing.includes(target.status) && !isShowImportInventory"
                                       plain
                                       type="danger"
                                       :title="$t('admin.common.export_warehouses')"
                                       size="mini"
                                       icon="el-icon-sell"
                                       class="action-button"
                                       style="margin-top: 5px"
                                       @click="showExportWareHouse"
                            >
                                {{$t('admin.common.export_warehouses')}}
                            </el-button>

                            <el-link v-if="orderStatusPendingProcessing.includes(target.status) && isShowImportInventory" :href="route('admin.inventories_index') + '?show_form_import=true'" icon="el-icon-circle-plus-outline">
                                {{$t('admin.common.import_inventory')}}
                            </el-link>
                        </div>

                        <div v-if="serialList.length > 0">
                            <el-button
                                       plain
                                       type="primary"
                                       title="Danh sách serial đã xuất"
                                       size="mini"
                                       icon="el-icon-sell"
                                       class="action-button"
                                       style="margin-top: 5px"
                                       @click="showOrderSerialListForm"
                            >
                                Danh sách serial đã xuất
                            </el-button>
                        </div>
                    </div>
                </el-header>
                <el-table
                    :data="productDataSet"
                    :default-sort="{prop: 'id', order: 'ascending' }"
                    style="width: 100%"
                    :row-class-name="tableRowClassName">
                >
                    <el-table-column
                        prop="id"
                        label="Mã"
                        sortable
                    />
                    <el-table-column :label="$t('admin.common.image')" width="150">
                        <template slot-scope="scope">
                            <img class="thumbnail" :src="scope.row.image" alt=""/>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        :label="$t('admin.common.product')"
                        width="260"
                        sortable/>
                    <el-table-column
                        prop="price"
                        :label="$t('admin.common.price')"
                        sortable>
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.price)}}đ
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="quantity"
                        :label="$t('admin.common.quantity')"
                        sortable/>

                    <el-table-column :label="$t('admin.common.temp_money')">
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.price * scope.row.quantity )}}đ
                        </template>
                    </el-table-column>

                    <el-table-column v-if="typeof productDataSet[0].qty_goods_missing_in_warehouse !== 'undefined' && ! orderExportedInventory" :label="$t('admin.common.qty_goods_missing')">
                        <template slot-scope="scope">
                            {{ scope.row.qty_inventories + ' (' + scope.row.qty_goods_missing_in_warehouse + ')' }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="action_click"
                        :label="$t('admin.common.action')"
                        v-if="orderStatusPendingProcessing.includes(target.status) && isShowImportInventory && !orderExportedInventory"
                    >

                        <template slot-scope="scope">
                            <el-button
                                plain
                                type="primary"
                                :title="$t('admin.common.edit')"
                                size="mini"
                                icon="el-icon-edit"
                                class="action-button"
                                @click="showFormUpdateProduct(scope.row)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Lịch sử ship</strong></h4>
                <el-table
                    :data="target.shipping_histories"
                >
                    <el-table-column
                        prop="admin.name"
                        label="Người xử lý"
                        sortable
                    />

                    <el-table-column
                        prop="shipper.name"
                        label="Người giao hàng"
                        sortable
                    />

                    <el-table-column
                        prop="transport_company.name"
                        label="Đơn vị vận chuyển"
                        sortable
                    />

                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getShippingStatusName(scope.row.status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="note"
                        label="Ghi chú"
                        sortable
                    />

                    <el-table-column
                        prop="created_at"
                        label="Thời gian"
                        sortable
                    />

                </el-table>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Lịch sử xử lý</strong></h4>
                <el-table
                    :data="target.histories"
                >
                    <el-table-column
                        prop="admin.name"
                        label="Người xử lý"
                        sortable
                    />

                    <el-table-column
                        prop="action"
                        :label="$t('admin.common.action')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getActionName(scope.row.action) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getStatusName(scope.row.status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="payment_status"
                        :label="$t('admin.common.payment_status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getPaymentStatusName(scope.row.payment_status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="note"
                        label="Ghi chú"
                        sortable
                    />

                    <el-table-column
                        prop="created_at"
                        label="Thời gian"
                        sortable
                    />

                </el-table>
            </el-card>
        </div>
        <div class="col-md-4">
            <el-card class="box-card">
                <h4><strong>Thông tin giao hàng</strong></h4>
                <p>Phương thức nhận hàng: {{ form.received_method_name }} </p>
                <p>Khách hàng: {{ form.name }}</p>
                <p>Điện thoại: {{ form.phone }}</p>
                <p>Email: {{ form.email }}</p>
                <p>Địa chỉ: {{ form.address }}, {{ form.district_name }}, {{ form.province_name }}</p>
                <p>Ghi chú: {{ form.note }}</p>
            </el-card>
            <br>
            <el-card v-if="form.has_bill" class="box-card">
                <h4>Thông tin xuất hóa đơn</h4>
                <p>Tên công ty: {{ form.company_name }} </p>
                <p>Mã số thuế: {{ form.company_tax_identification }}</p>
                <p>Địa chỉ công ty: {{ form.company_address }}</p>
                <p>Địa chỉ nhận hóa đơn: {{ form.bill_received_address }}</p>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Thông tin thành viên</strong></h4>
                <p>Tài khoản:
                    <a v-if="!_.isEmpty(form.user)" target="_blank"
                       :href="route('admin.users_index')+'?id='+form.user.id">{{ form.user.name }}</a>
                    <span v-else>
                        Chưa đăng ký
                       <el-button
                           size="mini"
                           plain
                           type="primary"
                           @click="handleSyncUser"
                           v-if="!checkOrderCompleted()"
                       >Đồng bộ</el-button>
                    </span>

                </p>
                <p>Mã giới thiệu: {{ form.referral_code }}</p>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Thông tin thanh toán</strong></h4>
                <p>Phương thức thanh toán: {{ form.payment_method_name }} </p>
                <p>Tạm tính: {{ Helper.formatMoney(form.temp_money) }}đ</p>
                <p>Phí ship: {{ Helper.formatMoney(form.ship_money) }}đ</p>
                <p>Voucher: <span class="text-success">{{ form.voucher_code }}</span> -{{
                    Helper.formatMoney(form.voucher_discount_value) }}đ</p>
                <p>Thanh toán: <b><span class="text-danger">{{ Helper.formatMoney(form.pay_money) }}đ</span></b></p>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Thông tin Staff</strong></h4>
                <div>
                    <p>Người giao hàng:&nbsp;&nbsp;&nbsp;
                        <el-select
                            v-model="form.shipper_id"
                            filterable
                            clearable
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                            <el-option
                                v-for="shipper in shippers"
                                :key="shipper.id"
                                :label="shipper.name"
                                :value="shipper.id">
                            </el-option>
                        </el-select>
                    </p>

                    <p>Đơn vị vận chuyển:
                        <el-select
                            v-model="form.transport_company_id"
                            filterable
                            clearable
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                            <el-option
                                v-for="company in transportCompanies"
                                :key="company.id"
                                :label="company.name"
                                :value="company.id">
                            </el-option>
                        </el-select>
                    </p>

                    <p>Mã vận đơn:
                        <el-input
                            v-model="form.track_code"
                            maxlength="255"
                            show-word-limit
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        />
                    </p>
                    <p>Phí ship:
                        <el-input
                            v-model="form.ship_money"
                            maxlength="255"
                            show-word-limit
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        />
                    </p>

                    <p> Trạng thái giao hàng:&nbsp;
                        <el-select
                            v-model="form.shipping_status"
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                            <el-option
                                v-for="status in shippingStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Ghi chú:&nbsp;
                        <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            v-model="form.note_shipping"
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                        </el-input>
                    </p>

                    <el-button
                        type="primary"
                        @click="confirmUpdateShippingInfo()"
                        v-if="!checkOrderCompleted() && !checkOrderShippingCompleted() && Helper.canDo(AdminPermissions.CHANGE_SHIP_ORDER)"
                    >
                        {{ this.$t('admin.common.save')}}
                    </el-button>
                </div>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Trạng thái xử lý</strong></h4>

                <div>
                    <p> Trạng thái đơn hàng:&nbsp;
                        <el-select v-model="form.status"
                           :disabled="checkOrderCompleted()"
                        >
                            <el-option
                                v-for="status in orderStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Trạng thái thanh toán:
                        <el-select
                            v-model="form.payment_status"
                            :disabled="checkOrderCompleted()"
                        >
                            <el-option
                                v-for="status in paymentStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Ghi chú:&nbsp;
                        <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            v-model="form.note_order_status"
                            :disabled="checkOrderCompleted()"
                        >
                        </el-input>
                    </p>
                </div>

                <el-button
                    type="success"
                    @click="confirmSubmit()"
                    v-if="!checkOrderCompleted() && Helper.canDo(AdminPermissions.HANDLE_ORDER)"
                >
                    {{ this.$t('admin.common.save')}}
                </el-button>
            </el-card>
        </div>
        <el-container class="manager-screen">
            <el-main>
                <el-dialog
                    :title="$t('admin.common.input_serial')"
                    :visible.sync="isShowEnterSerial"
                    class="form-dialog">
                    <inventory-enter-serial-form
                        :target="target"
                        :on-success="closeEnterSerial"
                        :on-cancel="closeEnterSerial"
                    />
                </el-dialog>
                <el-dialog
                    :title="$t('admin.common.export')"
                    :visible.sync="isShowExportWareHouse"
                    class="form-dialog">
                    <inventory-export-in-order-form
                        :on-cancel="closeExportWareHouse"
                        :on-success="onSuccessExportWareHouse"
                        :target="target"
                    />
                </el-dialog>

                <el-dialog
                    title="Danh sách serial đã xuất"
                    :visible.sync="isShowOrderSerialListForm"
                    class="form-dialog">
                    <order-serial-list-form
                        :on-cancel="closeOrderSerialListForm"
                        :inventories="serialList"
                        :target="target"
                    />
                </el-dialog>

                <el-dialog
                    :title="formTitle"
                    :visible.sync="isShowFormUpdateProduct"
                    class="form-dialog"
                >
                    <order-update-product-form
                        :target="targetUpdateProduct"
                        :on-success="onSuccessUpdateProduct"
                        :on-cancel="hideFormUpdateProduct"
                    />
                </el-dialog>

                <update-confirm-dialog
                    :title="this.$t('admin.common.confirm_update')"
                    :visible="isShowConfirmSubmit"
                    :on-confirm="handleSubmit"
                    :on-cancel="closeSubmitDialog"
                    :button-type="'success'"
                />

                <update-confirm-dialog
                    :title="this.$t('admin.common.confirm_update')"
                    :visible="isShowConfirmUpdateShippingInfo"
                    :on-confirm="updateShippingInfo"
                    :on-cancel="closeUpdateShippingInfoDialog"
                    :button-type="'primary'"
                />
            </el-main>
        </el-container>
    </div>
</template>

<style>
    .el-table .warning-row {
        background: oldlace;
    }
</style>
<script>
    import InventoryEnterSerialForm from "./InventoryEnterSerialForm";
    import InventoryExportInOrderForm from "./InventoryExportInOrderForm";
    import OrderUpdateProductForm from "./OrderUpdateProductForm";
    import OrderSerialListForm from "./OrderSerialListForm";

    export default {
        components: {OrderSerialListForm, OrderUpdateProductForm, InventoryExportInOrderForm, InventoryEnterSerialForm},
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
            orderStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippingStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            orderStatusEnum: {
                Type: Object,
                default() {
                    return {};
                },
            },
            orderShippingStatusEnum: {
                Type: Object,
                default() {
                    return {};
                },
            },
            paymentStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            orderActions: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippers: {
                type: Array,
                default() {
                    return [];
                },
            },
            transportCompanies: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                form: this._.clone({...this.target, ...{note_order_status: '', note_shipping: ''}}),
                productDataSet: {
                    Type: Array,
                    default(){
                        return []
                    }
                },
                isShowEnterSerial: false,
                isShowExportWareHouse: false,
                isShowImportInventory: false,
                formTitle: '',
                isShowFormUpdateProduct: false,
                targetUpdateProduct: {},
                orderExportedInventory: false,
                isShowConfirmSubmit: false,
                isShowConfirmUpdateShippingInfo: false,
                orderStatusPendingProcessing: [this.orderStatusEnum.PENDING, this.orderStatusEnum.PROCESSING],
                serialList: [],
                isShowOrderSerialListForm : false
            }
        },
        watch: {
            target: async function (updatedRecord) {
                this.form = this._.clone(updatedRecord);

                await this.checkInventoryIsEnoughByOrder(this.form.id);
                await this.checkExportedInventoryByOrder(this.form.id);
                await this.getSerialListByOrder(this.form.id);
            },
        },
        async created() {
            await this.checkInventoryIsEnoughByOrder(this.form.id);
            await this.checkExportedInventoryByOrder(this.form.id);
            await this.getSerialListByOrder(this.form.id);
        },
        methods: {
            confirmSubmit () {
                this.isShowConfirmSubmit = true
            },
            closeSubmitDialog() {
                this.isShowConfirmSubmit = false;
            },
            confirmUpdateShippingInfo () {
                this.isShowConfirmUpdateShippingInfo = true
            },
            closeUpdateShippingInfoDialog() {
                this.isShowConfirmUpdateShippingInfo = false;
            },
            async onSuccessUpdateProduct(data) {
                if (this._.isEmpty(data)) {
                    return;
                }

                this.productDataSet =  this._.map(this.productDataSet, (record) => {
                    return (record.id === data.orderProduct.id) ? data.orderProduct : record;
                });

                this.form.voucher_code = data.order.voucher_code;
                this.form.voucher_discount_value = data.order.voucher_discount_value;
                this.form.temp_money = data.order.temp_money;
                this.form.real_temp_money = data.order.real_temp_money;
                this.form.pay_money = data.order.pay_money;
                this.form.real_pay_money = data.order.real_pay_money;

                this.target.order_products =  this._.map(this.target.order_products, (record) => {
                    return (record.id === data.orderProduct.id) ? data.orderProduct : record;
                });

                await this.checkInventoryIsEnoughByOrder(this.form.id);

                this.hideFormUpdateProduct();
            },
            tableRowClassName({row}) {
                if(row.qty_goods_missing_in_warehouse && row.qty_goods_missing_in_warehouse > 0) {
                    return 'warning-row';
                }

                return '';
            },
            getStatusName(status) {
                const type = this._.find(this.orderStatus, type => type.value === status);
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getShippingStatusName(status) {
                const type = this._.find(this.shippingStatus, type => type.value === status);
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getPaymentStatusName(status) {
                const type = this._.find(this.paymentStatus, type => type.value === (status === null ? status : status));
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getActionName(action) {
                const action_type = this._.find(this.orderActions, action_type => action_type.value === action);
                if (this._.isEmpty(action_type)) {
                    return 'không rõ';
                }
                return action_type.name;
            },
            checkOrderCompleted() {
                const statusCompleted = [this.orderStatusEnum.SUCCESS, this.orderStatusEnum.ERROR , this.orderStatusEnum.RETURN];

                return statusCompleted.includes(this.target.status);
            },
            checkOrderShippingCompleted() {
                const statusShippingCompleted = [this.orderShippingStatusEnum.SUCCESS, this.orderShippingStatusEnum.FAILED];

                return statusShippingCompleted.includes(this.target.shipping_status);
            },
            async getSerialListByOrder(orderId) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_order_get_serial_list', {order: orderId});
                    const response = await this.Request.get(uri);
                    this.serialList = response.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async checkExportedInventoryByOrder(orderId) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    if (this.orderStatusPendingProcessing.includes(this.form.status)) {
                        const uri = this.route('admin.ajax_order_check_exported_inventory', {order: orderId});
                        const response = await this.Request.post(uri);
                        if (response.data) {
                            this.orderExportedInventory = true;
                        } else {
                            this.orderExportedInventory = false;
                        }
                    }
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async checkInventoryIsEnoughByOrder(orderId) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    if(this.orderStatusPendingProcessing.includes(this.form.status)) {
                        // Check inventory of this order
                        const uri = this.route('admin.ajax_check_inventory_is_enough_by_order', {order: orderId});
                        const response = await this.Request.post(uri);
                        if(!response.data.status) {
                            this.isShowImportInventory = true;

                            if(response.data.order_products_qty) {
                                let orderProductsQty = response.data.order_products_qty;
                                var i;
                                for (i = 0; i < this.target.order_products.length; i++) {
                                    this.target.order_products[i].qty_goods_missing_in_warehouse =  orderProductsQty[this.target.order_products[i].product_id].goods_missing;
                                    this.target.order_products[i].qty_inventories =  orderProductsQty[this.target.order_products[i].product_id].inventories;
                                }
                            }
                        } else {
                            this.isShowImportInventory = false;
                        }
                    }

                    this.productDataSet = this._.clone(this.target.order_products);
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleSyncUser() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_sync_order', {order: this.form.id});
                    const response = await this.Request.patch(uri);
                    this.form = response.data;
                    this.onSuccess(response.data);
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.synced'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleSubmit() {
                this.closeSubmitDialog();
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_update_order', {order: this.form.id});
                    const response = await this.Request.patch(
                        uri,
                        {
                            'status' : this.form.status,
                            'payment_status': this.form.payment_status,
                            'note' : this.form.note_order_status
                        }
                    );

                    this.onSuccess(response.data);
                    this.onSuccessSubmit(response.data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            onSuccessSubmit(data) {
                this.target.histories = data.histories;
                this.target.status = data.status;
                this.target.payment_status = data.payment_status;
                this.form.note_order_status = '';
            },
            onSuccessUpdateShippingInfo(data) {
                this.target.shipping_histories = data.shipping_histories;
                this.target.shipping_status = data.shipping_status;
                this.target.pay_money = data.pay_money;
                this.form.pay_money = data.pay_money;
                this.form.note_shipping = '';
            },
            async onSuccessExportWareHouse(data) {
                this.target.histories = data.histories;
                this.target.status = data.status;
                this.form.status = data.status;

                await this.checkInventoryIsEnoughByOrder(this.form.id);
                await this.checkExportedInventoryByOrder(this.form.id);
                await this.getSerialListByOrder(this.form.id);

                this.closeExportWareHouse();
            },
            async updateShippingInfo() {
                this.closeUpdateShippingInfoDialog();
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_update_shipping_info_order', {order: this.form.id});
                    const response = await this.Request.patch(
                        uri,
                        {
                            'shipper_id' : this.form.shipper_id,
                            'transport_company_id' : this.form.transport_company_id,
                            'track_code' : this.form.track_code,
                            'ship_money' : this.form.ship_money,
                            'shipping_status' : this.form.shipping_status,
                            'note' : this.form.note_shipping
                        }
                    );

                    this.onSuccess(response.data);
                    this.onSuccessUpdateShippingInfo(response.data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.onCancel();
            },
            showEnterSerial() {
                this.isShowEnterSerial = true;
            },
            closeEnterSerial() {
                this.isShowEnterSerial = false;
            },
            showExportWareHouse() {
                this.isShowExportWareHouse = true;
            },
            closeExportWareHouse() {
                this.isShowExportWareHouse = false;
            },
            showOrderSerialListForm() {
                this.isShowOrderSerialListForm = true;
            },
            closeOrderSerialListForm() {
                this.isShowOrderSerialListForm = false;
            },
            hideFormUpdateProduct() {
                this.isShowFormUpdateProduct = false;
            },

            showFormUpdateProduct (target) {

                this.formTitle = this.$t('admin.common.edit') + ' #' + target.id;
                this.targetUpdateProduct = target;
                this.isShowFormUpdateProduct = true
            },
        }
    }
</script>
