<template>
    <div v-if="!_.isEmpty(order)">
        <div class="card-content">
            <h4 class="card-title"><strong>{{ $t('admin.common.product_list') }} ({{ order.order_products.length }})</strong></h4>
            <div class="form-group label-floating is-empty">
                <ul class="list-group list-group-flush">
                    <li v-for="item in order.order_products" :key="item.id"  class="list-group-item">
                        <a :href="route('admin.products_index')+'?id='+item.product_id"
                           target="_blank"
                           :title="item.name"
                        > #{{ item.product_id }} - {{ item.name }}</a>
                        <p> Số lượng: {{ item.quantity }}</p>
                    </li>
                </ul>
                <h6 class="card-title"><strong>Tổng số lượng: {{ totalQty}}</strong></h6>
            </div>
            <hr>
            <div class="form-group label-floating is-empty">
                <h4 class="card-title" v-if="inventories.length > 0"><strong>{{ $t('admin.common.serial_list') }}</strong></h4>
                <ul class="inventories-list list-group">
                    <li v-for="item in inventories" :key="item" class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item }}
                    </li>
                </ul>
                <h6 class="card-title" v-if="inventories.length > 0"><strong>Tổng số serial đã xuất: {{ inventories.length }}</strong></h6>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return null;
                }
            },
            inventories: {
                type: Array,
                default() {
                    return [];
                }
            },
        },
        data() {
            return {
                order: this._.clone(this.target),
                isSearching: false,
                serial: '',
                note: '',
                totalQty: 0,
                isShowImportSerialForm: false
            }
        },
        watch: {
            target: function (target) {
                this.order = this._.clone(target);
                this.getTotalQty();
            },
        },
        created() {
            this.getTotalQty();
        },
        methods: {
            getTotalQty() {
                let i;
                this.totalQty = 0;
                for (i = 0; i < this.order.order_products.length; i++) {
                    this.totalQty += this.order.order_products[i]['quantity'];
                }
            },
            handleInputSerial() {
                if (this._.isEmpty(this.serial)) {
                    return;
                }

                this.inventories.push(this.serial);

                // Get all unique values
                this.inventories = [...new Set(this.inventories)];

                this.serial = '';
            },
            handleRemoveSerial(serial) {
                if (this._.isEmpty(serial)) {
                    return;
                }
                this.inventories = this._.remove(this.inventories, item => item.toString() !== serial.toString());
            },
            handleSubmitUploadSerialFile() {
                this.$refs.upload.submit();
            },
            handleCancel() {
                this.onCancel();
            },
        }
    }
</script>
