<template>
    <div>
        <el-form
            ref="brandForm"
            :model="form"
            label-position="left"
            label-width="120px"
        >
            <el-form-item :label="$t('admin.common.product')">
                <el-select
                    v-model="form.product_id"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchProduct"
                    :loading="isSearching"
                >
                    <el-option
                        v-for="item in products"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item :label="$t('admin.common.quantity')">
                <el-input
                    v-model="form.quantity"
                />
            </el-form-item>

            <el-form-item>
                <el-button
                    type="success"
                    @click="handleSubmit"
                >
                    {{ $t('admin.common.save') }}
                </el-button>
                <el-button @click="handleCancel">
                    {{ $t('admin.common.cancel') }}
                </el-button>
            </el-form-item>
        </el-form>
    </div>

</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                form: {},
                products: [],
                isSearching: false
            }
        },
        created () {
            this.initForm(this.target);
        },
        watch: {
            target(updatedRecord) {
                this.initForm(updatedRecord);
            }
        },
        methods: {
            initForm(data) {
                this.form = this._.clone(data);
                this.mode = 'edit';

                this.products = [];
                if(!this._.isEmpty(this.form)) {
                    this.products.push({
                        id : this.form.product_id,
                        name : this.form.name
                    });
                }
            },
            async handleSearchProduct(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_product', params ) ;
                    const response = await this.Request.get(uri);
                    this.products = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;

            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_order_update_product', { orderProduct: this.form.id});

                    let response = await this.Request.patch(uri, {
                        product_id : this.form.product_id,
                        quantity: this.form.quantity
                    });

                    await this.onSuccess(response.data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.onCancel();
            },
        }
    }
</script>
