<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                        type="success"
                        icon="el-icon-edit-outline"
                        @click="showForm()"
                        v-if="Helper.canDo(AdminPermissions.EDIT_POST)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>
            </div>
            <div class="right">
                <el-input
                        class="search"
                        :placeholder="this.$t('admin.common.search')"
                        v-model="search"
                        @keyup.enter.native="handlePaginate(1)"
                />
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                    :data="postsDataSet"
                    :default-sort="{prop: 'id', order: 'descending'}"
                    style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="Mã bài viết"
                            sortable
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            :label="$t('admin.common.name')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            prop="category.name"
                            :label="$t('admin.common.category')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            :label="$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    type="primary"
                                    :title="$t('admin.common.edit')"
                                    size="mini"
                                    icon="el-icon-edit"
                                    class="action-button"
                                    @click="showForm(scope.row)"
                                    v-if="Helper.canDo(AdminPermissions.EDIT_POST)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                            <el-button
                                    plain
                                    type="danger"
                                    :title="$t('admin.common.delete')"
                                    size="mini"
                                    icon="el-icon-delete"
                                    class="action-button"
                                    @click="confirmDelete(scope.row)"
                                    v-if="Helper.canDo(AdminPermissions.DELETE_POST)"
                            >
                                {{ $t('admin.common.delete') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                        v-if="posts.total > posts.per_page"
                        background
                        layout="prev, pager, next"
                        :total="posts.total"
                        :current-page="posts.current_page"
                        :page-size="posts.per_page"
                        @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                :title="formTitle"
                :visible.sync="isShowForm"
                class="form-dialog"
            >
                <post-form
                    :target="target"
                    :on-success="onSuccess"
                    :on-cancel="hideForm"
                />
            </el-dialog>
            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDelete"
                :on-confirm="handleDelete"
                :on-cancel="closeDeleteDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
   import PostForm from "./PostForm";
   import DeleteConfirmDialog from './DeleteConfirmDialog';

    export default {
        components: { PostForm, DeleteConfirmDialog },
        props: {
            posts: {
                type: Object,
                default() {
                    return {};
                }
            },
            user: {
                type: Object,
                default() {
                    return {};
                }
            },
            keyword: {
                type: String,
                default() {
                    return '';
                }
            },
        },
        data(){
            return {
                search: this.keyword,
                postsDataSet: this.posts.data,
                formTitle: '',
                isShowForm: false,
                isShowConfirmDelete: false,
                target: {},
            }
        },
        methods: {
            confirmDelete (target) {
                this.target = target;
                this.isShowConfirmDelete = true
            },
            closeDeleteDialog() {
                this.isShowConfirmDelete = false;
            },
            onSuccess(data, mode) {
                this.isShowForm = false;
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.postsDataSet.push(data);
                } else {
                    this.postsDataSet =  this._.map(this.postsDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    });
                }
                this.hideForm();
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let params = {};
                if (!this._.isEmpty(this.search)) {
                    params.search = this.search;
                }
                if (page > 1) {
                    params.page = page;
                }
                window.location = this.route('admin.posts_index', params);
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_post', { id: this.target.id});
                    await this.Request.delete(uri);
                    this.postsDataSet.splice(this._.findIndex(this.postsDataSet, this.target), 1);
                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            hideForm() {
                this.isShowForm = false;
            },
            showForm (target) {
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
                this.isShowForm = true
            },
            showAttributes(target) {
                this.target = target;
                this.isShowAttributes = true
            },
            hideAttributes() {
                this.isShowAttributes = false;
            }
        }
    }
</script>
