<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                        type="success"
                        icon="el-icon-edit-outline"
                        @click="showForm()"
                        v-if="Helper.canDo(AdminPermissions.EDIT_PRODUCT)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>

                <el-button
                        type="primary"
                        plain
                        icon="el-icon-upload"
                        @click="isShowImportForm = true"
                >
                    {{ this.$t('admin.common.import')}}
                </el-button>

                <el-button
                    type="primary"
                    icon="el-icon-download"
                    class="action-button"
                    @click="handleExport"
                >
                    {{ $t('admin.common.export') }}
                </el-button>
            </div>
            <div class="right">
                <el-select
                    v-model="requestParams.categoryId"
                    filterable
                    clearable
                    placeholder="Lọc theo danh mục"
                >
                    <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                    </el-option>
                </el-select>
                <el-select
                    v-model="requestParams.brandId"
                    filterable
                    clearable
                    placeholder="Lọc theo thương hiệu"
                >
                    <el-option
                        v-for="brand in brands"
                        :key="brand.id"
                        :label="brand.name"
                        :value="brand.id">
                    </el-option>
                </el-select>
                <el-input
                        class="search"
                        :placeholder="this.$t('admin.common.search')"
                        v-model="requestParams.search"
                        @keyup.enter.native="handlePaginate(1)"
                />
                <el-button
                    type="success"
                    icon="el-icon-search"
                    @click="handlePaginate(1)"
                >
                    {{ this.$t('admin.common.search')}}
                </el-button>
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                        :data="productsDataSet"
                        :default-sort="{prop: 'id', order: 'descending'}"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="Mã sản phẩm"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            :label="$t('admin.common.name')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            prop="sku"
                            label="SKU"
                            sortable>
                    </el-table-column>
                    <el-table-column
                        prop="price"
                        sortable
                        :label="$t('admin.common.price')"
                    >
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.price) }} đ
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="category.name"
                            :label="$t('admin.common.category')"
                            sortable>
                    </el-table-column>
                    <el-table-column
                        prop="qty_in_warehouses"
                        :label="$t('admin.common.qty_in_warehouses')"
                        sortable>
                        <template slot-scope="scope">
                            <a target='_blank' :href="route('admin.inventories_index') + '?product_id=' + scope.row.id">{{ scope.row.qty_in_warehouses  }}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            :label="$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    type="primary"
                                    :title="$t('admin.common.edit')"
                                    size="mini"
                                    icon="el-icon-edit"
                                    class="action-button"
                                    @click="showForm(scope.row)"
                                    v-if="Helper.canDo(AdminPermissions.EDIT_PRODUCT)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                            <el-button
                                    v-if="scope.row.qty_in_warehouses == 0 && Helper.canDo(AdminPermissions.DELETE_PRODUCT)"
                                    plain
                                    type="danger"
                                    :title="$t('admin.common.delete')"
                                    size="mini"
                                    icon="el-icon-delete"
                                    class="action-button"
                                    @click="confirmDelete(scope.row)"
                            >
                                {{ $t('admin.common.delete') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            v-if="products.total > products.per_page"
                            background
                            layout="prev, pager, next"
                            :total="products.total"
                            :current-page="products.current_page"
                            :page-size="products.per_page"
                            @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                    :title="formTitle"
                    :visible.sync="isShowForm"
                    class="form-dialog"
            >
                <el-tabs type="card">
                    <el-tab-pane label="Thông tin chính">
                        <product-form
                                :target="target"
                                :brands="brands"
                                :categories="categories"
                                :on-success="onSuccess"
                                :on-cancel="hideForm"
                        />
                    </el-tab-pane>
                    <el-tab-pane label="Thông số chi tiết" v-if="!_.isEmpty(target) && !_.isEmpty(target)">
                        <attribute-set-form
                                :attributes="attributes"
                                :product="target"
                                :on-success="onSuccess"
                                :on-cancel="hideForm"
                        />
                    </el-tab-pane>
                </el-tabs>
            </el-dialog>
            <el-dialog
                    title="Nhập từ excel"
                    :visible.sync="isShowImportForm"
                    class="delete-dialog"
            >
                <el-upload
                        class="btn-upload"
                        ref="upload"
                        name="upload"
                        :http-request="handleUpload"
                        :show-file-list="true"
                        :action="this.route('admin.ajax_upload_file')"
                        :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                    <el-button size="small" type="success" @click="handleSubmitUpload">Tải lên</el-button>
                    <el-link type="danger" href="https://kowcomputer.com/file/MauExcelNhapSanPham.xlsx">Tải file mẫu</el-link>
                </el-upload>
            </el-dialog>
            <delete-confirm-dialog
                    :title="this.$t('admin.common.confirm_delete')"
                    :visible="isShowConfirmDelete"
                    :on-confirm="handleDelete"
                    :on-cancel="closeDeleteDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
    import ProductForm from "./ProductForm";
    import DeleteConfirmDialog from './DeleteConfirmDialog';
    import AttributeSetForm from './AttributeSetForm'

    export default {
        components: {ProductForm, DeleteConfirmDialog, AttributeSetForm},
        props: {
            products: {
                type: Object,
                default() {
                    return {};
                }
            },
            user: {
                type: Object,
                default() {
                    return {};
                }
            },
            params: {
                type: Object,
                default() {
                    return {};
                }
            },
            attributes: {
                type: Array,
                default() {
                    return [];
                }
            },
            brands: {
                type: Array,
                default() {
                    return [];
                }
            },
            categories: {
                type: Array,
                default() {
                    return [];
                }
            },
        },
        created() {
            if(!this._.isEmpty(this.params.search)) {
                this.requestParams.search = this.params.search;
            }
            if(!this._.isEmpty(this.params.category_id)) {
                this.requestParams.categoryId = parseInt(this.params.category_id);
                this.handleSearchCategory(this.params.category_id);
            }
            if(!this._.isEmpty(this.params.brand_id)) {
                this.requestParams.brandId = parseInt(this.params.brand_id);
            }
        },
        data() {
            return {
                productsDataSet: this.products.data,
                formTitle: '',
                isShowForm: false,
                isShowImportForm: false,
                isShowConfirmDelete: false,
                target: {},
                isShowAttributes: false,
                requestParams: {
                    categoryId: '',
                    search: this.keyword,
                    brandId: '',
                },
            }
        },
        methods: {
            confirmDelete(target) {
                this.target = target;
                this.isShowConfirmDelete = true
            },
            closeDeleteDialog() {
                this.isShowConfirmDelete = false;
            },
            onSuccess(data, mode) {
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.productsDataSet.push(data);
                } else {
                    this.productsDataSet = this._.map(this.productsDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    });
                }
                this.target = data;
            },
            handleSubmitUpload() {
                this.$refs.upload.submit();
            },
            async handleUpload(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);
                    const uri = this.route('admin.ajax_import_excel_product');
                    await this.Request.upload(uri, formData);

                    location.reload();
                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Import sản phẩm qua excel thành công.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
            handleExport() {
                window.open(this.route('admin.products_export'), '_blank');
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let params = {};
                params.search = this.requestParams.search;
                params.category_id = this.requestParams.categoryId;
                params.brand_id = this.requestParams.brandId;

                if (page > 1) {
                    params.page = page;
                }

                window.location = this.route('admin.products_index', params);
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_product', { product: this.target.id});
                    await this.Request.delete(uri);
                    this.productsDataSet.splice(this._.findIndex(this.productsDataSet, this.target), 1);
                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            hideForm() {
                this.isShowForm = false;
            },
            showForm(target) {
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
                this.isShowForm = true;
            },
        }
    }
</script>
