<template>
    <div>
        <el-form
            ref="productForm"
            :model="form"
            label-position="left"
            label-width="145px"
        >
            <el-form-item :label="$t('admin.common.category')">
                <el-select
                    v-model="form.prod_category_id"
                    filterable
                    clearable
                    @change="changeProdCategory"
                >
                    <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('admin.common.brand')">
                <el-select
                    v-model="form.brand_id"
                    filterable
                    clearable
                    :disabled="disabledInputBrand"
                >
                    <el-option
                        v-for="brand in brandsDataSet"
                        :key="brand.id"
                        :label="brand.name"
                        :value="brand.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('admin.common.name')">
                <el-input
                        v-model="form.name"
                        maxlength="255"
                        show-word-limit
                ></el-input>
            </el-form-item>
            <el-form-item label="SKU">
                <el-input
                        v-model="form.sku"
                        maxlength="255"
                        show-word-limit
                ></el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.price')">
                <el-input
                    v-model="form.price" @change="form.price = handleFormatMoney(form.price)"
                ></el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.listed_price')">
                <el-input
                        v-model="form.listed_price" @change="form.listed_price = handleFormatMoney(form.listed_price)"
                ></el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.display_discount_type')">
                <el-switch
                        v-model="form.show_percent_discount"
                        active-text="Phần trăm"
                        inactive-text="Tiền mặt"
                        active-color="#13ce66"
                        inactive-color="#419DFC">
                </el-switch>
            </el-form-item>
            <el-form-item :label="$t('admin.common.product_hot')">
                <el-switch
                        v-model="form.is_hot"
                        active-color="#13ce66"
                        inactive-color="#ff4949">
                </el-switch>
            </el-form-item>
<!--            <el-form-item :label="$t('admin.common.sales_policy')">-->
<!--                <el-input-->
<!--                    id="sales_policy"-->
<!--                    type="textarea"-->
<!--                    :rows="5"-->
<!--                    v-model="form.sales_policy">-->
<!--                </el-input>-->
<!--            </el-form-item>-->
            <el-form-item :label="$t('admin.common.promotions')">
                <el-input
                    id="promotions"
                    type="textarea"
                    :rows="5"
                    v-model="form.promotions">
                </el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.short_description')">
                <el-input
                        id="short_description"
                        type="textarea"
                        :rows="5"
                        v-model="form.short_description">
                </el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.description')">
                <el-input
                        id="description"
                        type="textarea"
                        :rows="5"
                        v-model="form.description">
                </el-input>
            </el-form-item>
            <el-form-item :label="$t('admin.common.image')">
                <div
                        v-for="(image, index) in images"
                        :key="index"
                        class="image-item"
                >
                    <el-image class="img-rounded" :src="image">
                        <div slot="placeholder"><i class="el-icon-loading"></i></div>
                        <div slot="error"><img src="/images/no-img.jpg" alt="" /></div>
                    </el-image>
                    <el-button
                            class="image-button"
                            title="Xóa ảnh"
                            size="small"
                            type="danger"
                            plain
                            icon="el-icon-circle-close"
                            circle
                            @click="handleRemoveImage(index)"
                    />
                </div>
                <el-button
                        plain
                        type="primary"
                        icon="el-icon-plus"
                        @click="handleSelectImage()"
                >Thêm ảnh</el-button>
            </el-form-item>
        </el-form>
        <div class="submit-area">
            <el-button
                    type="success"
                    v-if="Helper.canDo(AdminPermissions.EDIT_PRODUCT)"
                    @click="handleSubmit"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
                {{ $t('admin.common.cancel') }}
            </el-button>
        </div>
    </div>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
            brands: {
                type: Array,
                default() {
                    return [];
                }
            },
            categories: {
                type: Array,
                default() {
                    return [];
                }
            },
            user: {
                type: Object,
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                form: {},
                mode: '',
                images: [],
                imageTarget: '',
                brandsDataSet: this.brands,
                disabledInputBrand : true
            }
        },
        created () {
            this.initForm(this.target);
        },
        mounted() {
            this.Editor.initEditor('description', this.form.description);
            this.Editor.initEditor('short_description', this.form.short_description);
            // this.Editor.initEditor('sales_policy', this.form.sales_policy);
            this.Editor.initEditor('promotions', this.form.promotions);
            this.initImages();
        },
        watch: {
            target(updatedRecord) {
                this.initForm(updatedRecord);
                this.Editor.initEditor('description', this._.isEmpty(updatedRecord.description) ? '' : updatedRecord.description);
                this.Editor.initEditor('short_description', this._.isEmpty(updatedRecord.short_description) ? '' : updatedRecord.short_description);
                // this.Editor.initEditor('sales_policy', this._.isEmpty(updatedRecord.sales_policy) ? '' : updatedRecord.sales_policy);
                this.Editor.initEditor('promotions', this._.isEmpty(updatedRecord.promotions) ? '' : updatedRecord.promotions);
                this.initImages();
            },
            image(image) {
                this.updateImage(image);
            },
        },
        computed: {
            ...mapState({
                image: state => state.imageStore.image,
            }),
        },
        methods: {
            ...mapMutations([
                'setImage',
            ]),
            handleFormatMoney(number) {
                return this.Helper.formatMoney(number);
            },
            initForm(data) {
                if(this._.isEmpty(data)) {
                    this.form = {
                        is_hot: false,
                        show_percent_discount: false,
                    };
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(data);
                    this.mode = 'edit';
                    this.form.is_hot = (this.form.is_hot === 1 || this.form.is_hot === true);
                    this.form.show_percent_discount = (this.form.show_percent_discount === 1 || this.form.show_percent_discount === true);
                    this.form.price = this.handleFormatMoney(this.form.price);
                    this.form.listed_price = this.handleFormatMoney(this.form.listed_price);
                    this.disabledInputBrand = false;
                }
            },
            handleSelectImage() {
                this.Editor.browserImage();
            },
            handleRemoveImage(index) {
                this.images.splice(index, 1);
            },
            updateImage(image) {
                if(!this._.isEmpty(image)) {
                    this.images.push(image);
                    this.setImage('');
                }
            },
            initImages() {
                this.images = [];
                if(!this._.isEmpty(this.form.images)) {
                    this.images = this.Helper.convertJson(this.form.images);
                }
            },
            changeProdCategory() {
                let currentCategory = this._.find(this.categories, cate => cate.id.toString() === this.form.prod_category_id.toString());
                this.brandsDataSet = currentCategory.brands;

                if (!this._.isEmpty(currentCategory)) {
                    this.disabledInputBrand = false;
                } else {
                    this.disabledInputBrand = true;
                }
            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let data = this._.clone(this.form);
                    //re-format money
                    data.listed_price = this.Helper.inputMoneyToInt(this.form.listed_price);
                    data.price = this.Helper.inputMoneyToInt(this.form.price);
                    //end
                    data.description = this.Editor.getEditorData('description');
                    data.short_description = this.Editor.getEditorData('short_description');
                    // data.sales_policy = this.Editor.getEditorData('sales_policy');
                    data.promotions = this.Editor.getEditorData('promotions');
                    data.images = this.images;

                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_product', { product: data.id})
                        : this.route('admin.ajax_create_product');

                    const response = (this.mode === 'edit')
                        ? await this.Request.patch(uri, data)
                        : await this.Request.post(uri, data);

                    this.onSuccess(response.data, this.mode);
                    this.$refs['productForm'].resetFields();

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.$refs['productForm'].resetFields();
                this.onCancel();
            },
        }
    }
</script>
