<template>
    <el-form
        ref="form"
        :model="form"
        label-position="left"
        label-width="120px"
    >
        <el-form-item :label="$t('admin.common.parent')">
            <el-select
                    v-model="form.parent_id"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchCategory"
                    :loading="isSearching"
            >
                <el-option
                        v-for="category in categories"
                        :key="category.id"
                        :label="category.name"
                        :value="category.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('admin.common.name')">
            <el-input
                    v-model="form.name"
                    maxlength="255"
                    show-word-limit
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.sort')">
            <el-input
                v-model="form.order"
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.best_seller')">
            <el-switch
                v-model="form.is_best_seller"
                active-color="#13ce66"
                inactive-color="#ff4949">
            </el-switch>
        </el-form-item>
        <el-form-item :label="$t('admin.common.is_show_home')">
            <el-switch
                v-model="form.is_show_home"
                active-color="#13ce66"
                inactive-color="#ff4949">
            </el-switch>
        </el-form-item>
        <el-form-item label="Icon">
            <el-image
                    class="img-rounded image-select"
                    title="Nhấp để chọn ảnh"
                    :src="form.icon"
                    @click="handleSelectImage('icon')"
            >
                <div slot="placeholder"><i class="el-icon-loading"></i></div>
                <div slot="error"><img  @click="handleSelectImage('icon')" src="/images/no-img.jpg" alt="" /></div>
            </el-image>
        </el-form-item>
        <el-form-item label="Banner">
            <el-image
                    class="img-rounded image-select"
                    title="Nhấp để chọn ảnh"
                    :src="form.banner"
                    @click="handleSelectImage('banner')"
            >
                <div slot="placeholder"><i class="el-icon-loading"></i></div>
                <div slot="error"><img  @click="handleSelectImage('banner')" src="/images/no-img.jpg" alt="" /></div>
            </el-image>
        </el-form-item>
        <el-form-item label="Banner link">
            <el-input
                v-model="form.banner_link"
                maxlength="255"
                show-word-limit
            />
        </el-form-item>
        <el-form-item label="Slider">
            <div
                    v-for="(image, index) in images"
                    :key="index"
                    class="image-item"
            >
                <el-image class="img-rounded" :src="image">
                    <div slot="placeholder"><i class="el-icon-loading"></i></div>
                    <div slot="error"><img src="/images/no-img.jpg" alt="" /></div>
                </el-image>
                <el-button
                        class="image-button"
                        title="Xóa ảnh"
                        size="small"
                        type="danger"
                        plain
                        icon="el-icon-circle-close"
                        circle
                        @click="handleRemoveImage(index)"
                />
            </div>
            <el-button
                    plain
                    type="primary"
                    icon="el-icon-plus"
                    @click="handleSelectImage('slider')"
            >Thêm ảnh</el-button>
        </el-form-item>
        <div class="submit-area">
            <el-button
                    type="success"
                    @click="handleSubmit"
                    v-if="Helper.canDo(AdminPermissions.EDIT_PROD_CATEGORY)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
                {{ $t('admin.common.cancel') }}
            </el-button>
        </div>
    </el-form>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
        },
        data() {
            return {
                form: {},
                mode: '',
                categories: [],
                isSearching: false,
                images: [],
                imageTarget: '',
            }
        },
        mounted () {
            this.initForm(this.target);
            this.initCategory();
            this.initImages();
        },
        computed: {
            ...mapState({
                image: state => state.imageStore.image,
            }),
        },
        watch: {
            target: function (updatedRecord) {
                this.initForm(updatedRecord);
                this.initCategory();
                this.initImages();
            },
            image(image) {
                this.updateImage(image);
            },
        },
        methods: {
            ...mapMutations([
                'setImage',
            ]),
            initForm(data) {
                if(this._.isEmpty(data)) {
                    this.form = {
                        is_show_home : false,
                        is_best_seller: false,
                        banner: '/images/no-img.jpg',
                        icon: '/images/no-img.jpg',
                    };
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(data);
                    this.mode = 'edit';
                    this.form.is_best_seller = (this.form.is_best_seller === 1 || this.form.is_best_seller === true);
                    this.form.is_show_home = (this.form.is_show_home === 1 || this.form.is_show_home === true);
                }
            },
            initCategory() {
                this.categories = [];
                if(!this._.isEmpty(this.form.parent_category)) {
                    this.categories.push(this.form.parent_category);
                }
            },

            handleSelectImage(imageTarget) {
                this.imageTarget = imageTarget;
                this.Editor.browserImage();
            },
            handleRemoveImage(index) {
                this.images.splice(index, 1);
            },
            updateImage(image) {
                if(this.imageTarget === 'slider') {
                    this.images.push(image);
                } else {
                    this.form[this.imageTarget] = image;
                }
                this.imageTarget = '';
                this.setImage('');

            },
            initImages() {
                this.images = [];
                if(!this._.isEmpty(this.form.slider)) {
                    this.images = this.Helper.convertJson(this.form.slider);
                }
                if(this._.isEmpty(this.form.banner)) {
                    this.form.banner = '/images/no-img.jpg';
                }
                if(this._.isEmpty(this.form.icon)) {
                    this.form.icon = '/images/no-img.jpg';
                }
            },
            async handleSearchCategory(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                    except_id: this.form.id,
                };
                this.isSearching = true;
                try {
                    const uri = this.route('admin.ajax_search_prod_category', params ) ;
                    const response = await this.Request.get(uri);
                    this.categories = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearching = false;

            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    this.form.slider = this.images;
                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_prod_category', { category: this.form.id})
                        : this.route('admin.ajax_create_prod_category');
                    const response = (this.mode === 'edit')
                        ? await this.Request.patch(uri, this.form)
                        : await this.Request.post(uri, this.form);
                    this.onSuccess(response.data, this.mode);
                    this.resetForm();
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
