<template>
    <el-container class="manager-screen">
        <el-main>
            <el-form
                ref="form"
                :model="form"
                label-position="left"
                label-width="175px"
                class="mr-clear form-dialog"
            >
                <el-tabs type="border-card">
                    <el-tab-pane label="Thông tin chung">
                        <el-form-item label="Logo">
                            <el-image
                                    class="img-rounded image-select"
                                    title="Nhấp để chọn ảnh"
                                    :src="form.logo"
                                    @click="handleSelectImage('logo')"
                            >
                                <div slot="placeholder"><i class="el-icon-loading"></i></div>
                                <div slot="error"><img  @click="handleSelectImage('logo')" src="/images/no-img.jpg" alt="" /></div>
                            </el-image>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.site_name')">
                            <el-input
                                    v-model="form.name"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.address')">
                            <el-input
                                    v-model="form.address"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.phone')">
                            <el-input
                                    v-model="form.phone"
                                    maxlength="15"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.hotline')">
                            <el-input
                                    v-model="form.hotline"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.email')">
                            <el-input
                                    v-model="form.email"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.title')">
                            <el-input
                                    v-model="form.title"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.keyword')">
                            <el-input
                                    v-model="form.keyword"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.description')">
                            <el-input
                                    v-model="form.description"
                                    maxlength="255"
                                    show-word-limit
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.thumbnail')">
                            <el-image
                                    class="img-rounded image-select"
                                    title="Nhấp để chọn ảnh"
                                    :src="form.thumbnail"
                                    @click="handleSelectImage('thumbnail')"
                            >
                                <div slot="placeholder"><i class="el-icon-loading"></i></div>
                                <div slot="error"><img  @click="handleSelectImage('thumbnail')" src="/images/no-img.jpg" alt="" /></div>
                            </el-image>
                        </el-form-item>
                        <el-form-item label="Tiêu đề SP chính">
                            <el-input
                                    v-model="form.main_product_title"
                            ></el-input>
                        </el-form-item>
                        <el-form-item label="GG Analytic">
                            <el-input
                                v-model="form.gg_analytic_id"
                            ></el-input>
                        </el-form-item>
                        <el-form-item label="Tỷ lệ tích điểm đơn hàng">
                            <el-input
                                v-model="form.order_rate_point"
                            ></el-input>
                        </el-form-item>
                        <el-form-item :label="$t('admin.common.sales_policy')">
                            <el-input
                                id="sales_policy"
                                type="textarea"
                                :rows="5"
                                v-model="form.sales_policy">
                            </el-input>
                        </el-form-item>
                    </el-tab-pane>
                    <el-tab-pane label="Banner">
                       <el-form-item label="Banner top">
                           <el-image
                                   class="img-rounded image-select"
                                   title="Nhấp để chọn ảnh"
                                   :src="form.banner_top"
                                   @click="handleSelectImage('banner_top')"
                           >
                               <div slot="placeholder"><i class="el-icon-loading"></i></div>
                               <div slot="error"><img  @click="handleSelectImage('banner_top')" src="/images/no-img.jpg" alt="" /></div>
                           </el-image>
                       </el-form-item>
                       <el-form-item label="Link banner top">
                           <el-input v-model="form.banner_top_link"></el-input>
                       </el-form-item>
                       <el-form-item label="Banner mid">
                           <el-image
                                   class="img-rounded image-select"
                                   title="Nhấp để chọn ảnh"
                                   :src="form.banner_mid"
                                   @click="handleSelectImage('banner_mid')"
                           >
                               <div slot="placeholder"><i class="el-icon-loading"></i></div>
                               <div slot="error"><img  @click="handleSelectImage('banner_mid')" src="/images/no-img.jpg" alt="" /></div>
                           </el-image>
                       </el-form-item>
                       <el-form-item label="Link banner mid">
                           <el-input v-model="form.banner_mid_link"></el-input>
                       </el-form-item>
                       <el-form-item label="Banner bot">
                           <el-image
                                   class="img-rounded image-select"
                                   title="Nhấp để chọn ảnh"
                                   :src="form.banner_bot"
                                   @click="handleSelectImage('banner_bot')"
                           >
                               <div slot="placeholder"><i class="el-icon-loading"></i></div>
                               <div slot="error"><img  @click="handleSelectImage('banner_bot')" src="/images/no-img.jpg" alt="" /></div>
                           </el-image>
                       </el-form-item>
                       <el-form-item label="Link banner bot">
                           <el-input v-model="form.banner_bot_link"></el-input>
                       </el-form-item>
                    </el-tab-pane>
                    <el-tab-pane label="Slider">
                    <div class="row">
                      <div class="col-sm-12 mr-clear">
                        <div class="col-sm-12">
                          <div class="col-sm-12">
                            <el-button
                                plain
                                type="success"
                                @click="handleAddTab"
                            >Thêm tab</el-button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 mr-clear" v-for="(tab, index)  in images" :key="index">
                        <div class="col-sm-12 mr-clear">
                          <div class="col-sm-6 col-lg-3">
                            <el-input
                                v-model="tab.name"
                                maxlength="50"
                                show-word-limit
                            ></el-input>
                          </div>
                          <div class="col-sm-6 col-lg-9">
                            <el-button
                                plain
                                type="primary"
                                @click="handleSelectImage('slider', index)"
                            >Thêm ảnh</el-button>
                            <el-button
                                plain
                                type="danger"
                                @click="handleRemoveTab(index)"
                            >Xóa tab</el-button>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div
                              v-for="(slide, i) in tab.slides"
                              :key="i"
                              class="image-item col-md-4"
                          >
                            <el-image class="img-rounded" :src="slide.image">
                              <div slot="placeholder"><i class="el-icon-loading"></i></div>
                              <div slot="error"><img src="/images/no-img.jpg" alt="" /></div>
                            </el-image>
                            <el-input v-model="slide.link"></el-input>
                            <el-button
                                class="image-button"
                                title="Xóa ảnh"
                                size="small"
                                type="danger"
                                plain
                                icon="el-icon-circle-close"
                                circle
                                @click="handleRemoveImage(tab.slides, i)"
                            />
                          </div>
                        </div>
                      </div>

                    </div>
                  </el-tab-pane>
                    <el-tab-pane label="Xây dựng cấu hình">
                    <div class="row">
                      <div class="col-sm-12">
                      <h4>Danh sách danh mục sản phẩm trong phần xây dựng cấu hình</h4>
                      </div>
                        <div class="col-sm-12 mr-clear">
                          <el-form-item label="Chọn danh mục">
                            <div>
                              <el-select
                                  v-model="categoryId"
                                  filterable
                                  clearable
                                  remote
                                  reserve-keyword
                                  :loading-text="$t('admin.common.loading')"
                                  :no-match-text="$t('admin.common.no_match_text')"
                                  :no-data-text="$t('admin.common.no_data_text')"
                                  :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                                  :remote-method="handleSearchCategory"
                                  :loading="isSearching"
                                  @change="handleSelectCategory"
                              >
                                <el-option
                                    v-for="item in categories"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                              </el-select>
                              <div class="list-tags">
                                <el-tag
                                    v-for="item in selectedCategories"
                                    :key="item.id"
                                    closable
                                    type="primary"
                                    @close="handleRemoveCategory(item)"
                                >
                                  {{ item.name }}
                                </el-tag>
                              </div>

                            </div>
                          </el-form-item>
                        </div>
                      </div>
                  </el-tab-pane>
                </el-tabs>
            </el-form>
            <div class="row text-center">
                <el-button
                        type="success"
                        @click="handleSubmit"
                        v-if="Helper.canDo(AdminPermissions.SETTING)"
                >{{ $t('admin.common.save') }}</el-button>
            </div>
        </el-main>
    </el-container>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props: {
            user: {
                Type: Object,
                default() {
                    return {};
                },
            },
            setting: {
                Type: Object,
                default() {
                    return {};
                },
            },
            buildCategories: {
              Type: Object,
              default() {
                return {};
              },
            },
            bannerType: {
                Type: Array,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                form: this._.clone(this.setting),
                images: [],
                imageTarget: '',
                tabIndex: '',
                isSearching: false,
                categories: [],
                categoryId: '',
                selectedCategories: [],
            };
        },
        created() {
            this.initImages();
            this.initCategory();
        },
        mounted() {
            this.Editor.initEditor('sales_policy', this.form.sales_policy);
        },
        watch: {
           setting(updatedRecord){
             this.initForm(updatedRecord)
             this.initImages();
             this.initCategory();
             this.Editor.initEditor('sales_policy', this.form.sales_policy);
           },
            image(image) {
                this.updateImage(image);
            },
        },
        computed: {
            ...mapState({
                image: state => state.imageStore.image,
            }),
        },
        methods: {
            ...mapMutations([
                'setImage',
            ]),
            initForm(data) {
                this.form = this._.clone(data);
                this.mode = 'edit';
            },
            handleAddTab() {
                this.images.push({
                    name: '',
                    slides: []
                });
            },
            handleRemoveTab(index) {
                this.images.splice(index, 1);
            },
            handleSelectImage(imageTarget, tabIndex) {
                this.imageTarget = imageTarget;
                this.tabIndex = tabIndex;
                this.Editor.browserImage();
            },
            handleRemoveImage(tab, index) {
                tab.splice(index, 1);
            },
            updateImage(image) {
                if(this.imageTarget === 'slider') {
                    this.images[this.tabIndex].slides.push({
                        image,
                        link: '',
                    });
                } else {
                    this.form[this.imageTarget] = image;
                }
                this.imageTarget = '';
                this.setImage('');

            },
            initImages() {
                this.images = [];
                if(!this._.isEmpty(this.form.slider)) {
                    this.images = this.Helper.convertJson(this.form.slider);
                }
                if(this._.isEmpty(this.form.logo)) {
                    this.form.logo = '/images/no-img.jpg';
                }
                if(this._.isEmpty(this.form.thumbnail)) {
                    this.form.thumbnail = '/images/no-img.jpg';
                }
                if(this._.isEmpty(this.form.banner_top)) {
                    this.form.banner_top = '/images/no-img.jpg';
                }
                if(this._.isEmpty(this.form.banner_mid)) {
                    this.form.banner_mid = '/images/no-img.jpg';
                }
                if(this._.isEmpty(this.form.banner_bot)) {
                    this.form.banner_bot = '/images/no-img.jpg';
                }
            },
            initCategory() {
              this.selectedCategories = [];
              this.categories = [];
              if(!this._.isEmpty(this.buildCategories)) {
                this.categories = this._.clone(this.buildCategories);
                this.selectedCategories = this._.clone(this.buildCategories);
              }
            },
          handleRemoveCategory(target) {
            this.selectedCategories.splice(this._.findIndex(this.selectedCategories, target), 1);
          },
          handleSelectCategory() {
            const category = this._.find(this.categories, category => category.id === this.categoryId);
            const selectedCategory = this._.find(this.selectedCategories, category => category.id === this.categoryId);
            if(!this._.isEmpty(category) && this._.isEmpty(selectedCategory)) {
              this.selectedCategories.push(category);
              this.categoryId = '';
            }
          },
          async handleSearchCategory(search) {
            if(this._.isEmpty(search)) {
              return;
            }
            const params = {
              search,
            };
            this.isSearching = true;
            try {
              const uri = this.route('admin.ajax_search_prod_category', params ) ;
              const response = await this.Request.get(uri);
              this.categories = response.data.data;
            } catch (e) {
              console.log(e); // eslint-disable-line
              const errorMessages = this.Request.errors(e.response);
              this.$notify({
                type: 'error',
                title: this.$t('admin.common.error'),
                message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
              });
            }
            this.isSearching = false;

          },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    this.form.slider = this.images;
                    this.form.build_categories = [];
                    this._.forEach(this.selectedCategories, item => {
                      this.form.build_categories.push(item.id);
                    });
                    const uri = this.route('admin.ajax_update_setting', { setting: this.form.id});

                    let data = this._.clone(this.form);
                    data.sales_policy = this.Editor.getEditorData('sales_policy');
                    await this.Request.patch(uri, data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            }
        },

    }
</script>
