<template>
  <div class="sidebar" data-active-color="green" data-background-color="black">
    <div class="logo">
      <a :href="this.route('index')" class="simple-text logo-normal">
        <img class="logo" :src="logo" alt="Logo">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <div class="user">
        <div class="photo">
          <img :src="user.image" :alt="user.name"/>
        </div>
        <div class="info text-middle">
          <a :href="this.route('admin.admin_profile')"><span>{{ user.name }}</span></a>
        </div>
      </div>
      <ul class="nav">
        <template>
          <li v-for="menu in menues" :key="menu.name" :class="activeRoute === menu.name ? 'active' : ''">
              <a v-if="!menu.hasOwnProperty('child') && menu.show " :href="menu.route">
                  <i class="material-icons">{{ menu.icon }}</i>
                  <p> {{ menu.label }}
                    <el-badge class="item" :value="menu.new"  v-if="menu.new > 0"/>
                  </p>
              </a>
            <a v-if="menu.hasOwnProperty('child')  && menu.show" class="nav-link" data-toggle="collapse" :href="'#' + menu.route">
              <i class="material-icons">{{ menu.icon }}</i>
              <p> {{ menu.label }}
                <el-badge class="item" :value="menu.new"  v-if="menu.new > 0"/>
                <b class="caret"></b>
              </p>
            </a>
            <div v-if="menu.hasOwnProperty('child')" :class="groupRoute === menu.groupRoute ? '' : 'collapse'"
                 :id="menu.route">
              <ul class="nav" style="background-color: #1d2b40">
                <li v-for="itemChild in menu.child" :key="itemChild.name"
                    :class="activeRoute === itemChild.name ? 'active' : ''" >
                  <a class="nav-link" :href="itemChild.route" style="margin-left: 33px;" v-if="menu.show">
                    <i class="material-icons">{{ itemChild.icon }}</i>
                    <span class="sidebar-normal"> {{ itemChild.label }} <el-badge class="item" :value="itemChild.new"  v-if="itemChild.new > 0"/> </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>
<style scoped>
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.el-icon-arrow-down {
  font-size: 12px;
}

.item {
  margin-top: 10px;
  margin-right: 40px;
}
</style>
<script>
export default {
  props: {
    user: {
      Type: Object,
      default() {
        return {};
      },
    },
    availablePermissions: {
      Type: Object,
      default() {
        return {};
      },
    },
    activeRoute: {
      Type: String,
      default: '',
    },
    groupRoute: {
      Type: String,
      default: '',
    },
    orderCount: {
      Type: Number,
      default: 0
    },
    ticketCount: {
      Type: Number,
      default: 0
    },
    warrantyCount: {
      Type: Number,
      default: 0
    },
    inventoryStatusEnums: {
      Type: Object,
      default: 0
    }
  },
  data() {
    return {
      logo: '/images/logo.png',
      menues: [
        {
          name: 'product',
          route: 'product',
          label: 'Sản phẩm',
          icon: 'next_week',
          groupRoute: 'product',
          new: 0,
          show: this.Helper.canDo(this.AdminPermissions.VIEW_PRODUCT),
          child: [
            {
              name: 'admin.prod_categories_index',
              route: this.route('admin.prod_categories_index'),
              label: 'Danh mục sản phẩm',
              new: 0,
              icon: 'view_module',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_PROD_CATEGORY),
            },
            {
              name: 'admin.brands_index',
              route: this.route('admin.brands_index'),
              label: 'Thương hiệu',
              new: 0,
              icon: 'category',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_BRAND),
            },
            {
              name: 'admin.products_index',
              route: this.route('admin.products_index'),
              label: 'Danh sách sản phẩm',
              new: 0,
              icon: 'next_week',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_PRODUCT),
            },
            {
              name: 'admin.supply_unit_index',
              route: this.route('admin.supply_unit_index'),
              label: 'Đơn vị cung cấp',
              new: 0,
              icon: 'ad_units',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_SUPPLY_UNIT),
            },
            {
              name: 'admin.warehouse_index',
              route: this.route('admin.warehouse_index'),
              label: 'Kho hàng',
              new: 0,
              icon: 'store',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_INVENTORY),
            },
            {
              name: 'admin.inventories_index',
              route: this.route('admin.inventories_index', { status: this.inventoryStatusEnums.IN_WAREHOUSE}),
              label: 'Tổng kho',
              new: 0,
              icon: 'import_export',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_WAREHOUSE),
            },
            {
              name: 'admin.attributes_index',
              route: this.route('admin.attributes_index'),
              label: 'Thông số sản phẩm',
              new: 0,
              icon: 'featured_play_list',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_PROD_ATTRIBUTE),
            }
          ]
        },
        {
          name: 'admin.orders_index',
          route: this.route('admin.orders_index'),
          label: 'Đơn hàng',
          new: this._.clone(this.orderCount),
          icon: 'shopping_basket',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_ORDER),
        },
        {
          name: 'admin.warranty_index',
          route: this.route('admin.warranty_index'),
          label: 'Quản lý Bảo hành',
          new: this._.clone(this.warrantyCount),
          icon: 'build',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_WARRANTY),
        },
        {
          name: 'ticket',
          route: 'ticket',
          label: 'Quản lý Ticket',
          icon: 'help_center',
          new: this._.clone(this.ticketCount),
          groupRoute: 'ticket',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_TICKET),
          child: [
            {
              name: 'admin.ticket_cat.index',
              route: this.route('admin.ticket_cat.index'),
              label: 'Phòng ban hỗ trợ',
              new: 0,
              icon : 'list',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_TICKET_CAT),
            },
            {
              name: 'admin.ticket.index',
              route: this.route('admin.ticket.index'),
              label: 'Danh sách ticket',
              new: this._.clone(this.ticketCount),
              icon : 'list',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_TICKET),
            },
          ]
        },
        {
          name: 'admin.menu_index',
          route: this.route('admin.menu_index'),
          label: 'Menus',
          new: 0,
          icon: 'menu',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_MENU),
        },
        {
          name: 'admin.vouchers_index',
          route: this.route('admin.vouchers_index'),
          label: 'Mã khuyến mãi',
          new: 0,
          icon: 'loyalty',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_VOUCHER),
        },
        {
          name: 'admin.revenue_index',
          route: this.route('admin.revenue_index'),
          label: 'Doanh thu',
          new: 0,
          icon: 'money',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_REVENUE),
        },

        {
          name: 'blog',
          route: 'blog',
          label: 'Quản lý tin tức',
          new: 0,
          icon: 'library_books',
          groupRoute: 'blog',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_POST),
          child: [
            {
              name: 'admin.blog_categories_index',
              route: this.route('admin.blog_categories_index'),
              label: 'DM tin tức',
              new: 0,
              icon: 'library_books',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_BLOG_CATEGORY),
            },
            {
              name: 'admin.posts_index',
              route: this.route('admin.posts_index'),
              label: 'Danh sách Tin tức',
              new: 0,
              icon: 'description',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_POST),
            },
          ]
        },
        {
          name: 'admin.users_index',
          route: this.route('admin.users_index'),
          label: 'Người dùng',
          new: 0,
          icon: 'people',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_USER),
        },
        {
          name: 'admin.files_index',
          route: this.route('admin.files_index'),
          label: 'Thư viện ảnh',
          new: 0,
          icon: 'image',
          show: this.Helper.canDo(this.AdminPermissions.VIEW_FILE),
        },
        {
          name: 'system',
          route: 'system',
          label: 'Cài đặt hệ thống',
          icon: 'admin_panel_settings',
          groupRoute: 'system',
          show: this.Helper.canDo(this.AdminPermissions.SYSTEM_MANAGER),
          child: [
            {
              name: 'admin.admins_index',
              route: this.route('admin.admins_index'),
              label: 'Danh sách admin',
              new: 0,
              icon: 'assignment_ind',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_ADMIN),
            },
            {
              name: 'admin.roles_index',
              route: this.route('admin.roles_index'),
              label: 'Phân quyền',
              new: 0,
              icon: 'polymer',
              show: this.Helper.canDo(this.AdminPermissions.VIEW_ROLE),
            },
            {
              name: 'admin.setting_index',
              route: this.route('admin.setting_index'),
              label: 'Cài đặt',
              new: 0,
              icon: 'settings',
              show: this.Helper.canDo(this.AdminPermissions.SETTING),
            },
            {
              name: 'horizon.index',
              route: this.route('horizon.index'),
              label: 'Horizon',
              icon: 'equalizer',
              new: 0,
              show: this.Helper.canDo(this.AdminPermissions.VIEW_HORIZON),
            },
          ]
        }
      ],
    };
  },
  methods: {
    hasRole(roleId) {
      const role = this._.find(this.user.roles, role => role.id.toString() === roleId.toString());
      return !this._.isEmpty(role);
    },
  },
}
</script>
