<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                    type="success"
                    icon="el-icon-edit-outline"
                    @click="showForm({})"
                    v-if="Helper.canDo(AdminPermissions.EDIT_SUPPLY_UNIT)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>

                <el-button
                    type="primary"
                    plain
                    icon="el-icon-upload"
                    @click="isShowImportForm = true"
                >
                    {{ this.$t('admin.common.import_excel')}}
                </el-button>

            </div>
            <div class="right">
                <el-input
                    class="search"
                    :placeholder="this.$t('admin.common.search')"
                    v-model="search"
                    @keyup.enter.native="handlePaginate(1)"
                />
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                    :data="unitsDataSet"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="Mã đơn vị cung cấp"
                        sortable
                        width="180"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        :label="this.$t('admin.common.name')"
                        sortable>
                    </el-table-column>
                    <el-table-column
                        prop="tax_code"
                        :label="this.$t('admin.common.tax_code')"
                        sortable>
                    </el-table-column>
                    <el-table-column
                        prop="address"
                        :label="this.$t('admin.common.address')"
                        sortable>
                    </el-table-column>
                    <el-table-column
                        :label="this.$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                plain
                                type="primary"
                                :title="$t('admin.common.edit')"
                                size="mini"
                                icon="el-icon-edit"
                                class="action-button"
                                @click="showForm(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.EDIT_SUPPLY_UNIT)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                            <el-button
                                plain
                                type="danger"
                                :title="$t('admin.common.delete')"
                                size="mini"
                                icon="el-icon-delete"
                                class="action-button"
                                @click="confirmDelete(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.DELETE_SUPPLY_UNIT)"
                            >
                                {{ $t('admin.common.delete') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                        v-if="units.total > units.per_page"
                        background
                        layout="prev, pager, next"
                        :total="units.total"
                        :current-page="units.current_page"
                        :page-size="units.per_page"
                        @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                :title="formTitle"
                :visible.sync="isShowForm"
                class="form-dialog"
            >
                <el-tabs type="card">
                    <el-tab-pane label="Thông tin chính">
                        <supply-unit-form
                            :target="target"
                            :on-success="onSuccess"
                            :on-cancel="hideForm"
                        />
                    </el-tab-pane>
                </el-tabs>

            </el-dialog>


            <el-dialog
                title="Nhập từ excel"
                :visible.sync="isShowImportForm"
                class="delete-dialog"
            >
                <el-upload
                    class="btn-upload"
                    ref="upload"
                    name="upload"
                    :http-request="handleUpload"
                    :show-file-list="true"
                    :action="this.route('admin.ajax_upload_file')"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">Chọn file</el-button>
                    <el-button size="small" type="success" @click="handleSubmitUpload">Tải lên</el-button>
                    <el-link type="danger" href="https://kowcomputer.com/file/MauExcelNhapDonViCungCap.xlsx">Tải file mẫu</el-link>
                </el-upload>
            </el-dialog>

            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDelete"
                :on-confirm="handleDelete"
                :on-cancel="closeDeleteDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
    import SupplyUnitForm from './SupplyUnitForm';
    import DeleteConfirmDialog from './DeleteConfirmDialog';

    export default {
        components: {SupplyUnitForm, DeleteConfirmDialog },
        props: {
            units: {
                type: Object,
                default () {
                    return {};
                },
            },
            keyword: {
                type: String,
                default: '',
            },
        },
        data () {
            return {
                search: this.keyword,
                unitsDataSet: this.units.data,
                target: {},
                isShowForm: false,
                formTitle: '',
                value: '',
                currentValueEdit: '',
                isShowConfirmDelete: false,
                isShowImportForm: false,
            }
        },
        created() {
            let urlParams = new URLSearchParams(window.location.search);
            if(urlParams.get('show_form_add') === 'true') {
                this.showForm({});
            }
        },
        methods: {
            onSuccess (data, mode) {
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.unitsDataSet.push(data)
                } else {
                    this.unitsDataSet = this._.map(this.unitsDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    })
                }

                this.target = {};
                this.hideForm();
            },
            confirmDelete (target) {
                this.target = target;
                this.isShowConfirmDelete = true;
            },
            closeDeleteDialog () {
                this.isShowConfirmDelete = false;
            },
            hideForm () {
                this.isShowForm = false;
            },
            showForm (target) {
                this.isShowForm = true;
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
            },
            handleChangeValue(item) {
                if(this.currentValueEdit !== '' && item.id !== this.currentValueEdit) {
                    this.$notify({
                        type: 'warning',
                        title: this.$t('admin.common.warning'),
                        message: this.$t('admin.message.warning_not_save_current_edit'),
                    });
                    return;
                }
                this.currentValueEdit = item.id;
                this.target.values = this._.map(this.target.values, record => {
                    record.changed = record.id === item.id;
                    record.editable = record.id === item.id;
                    return record;
                });
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_supply_unit', { unit: this.target.id});
                    await this.Request.delete(uri);
                    this.unitsDataSet.splice(this._.findIndex(this.unitsDataSet, this.target), 1);
                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                let params = {};
                if (!this._.isEmpty(this.search)) {
                    params.search = this.search;
                }

                if (page > 1) {
                    params.page = page;
                }

                window.location = this.route('admin.supply_unit_index', params);
            },
            handleSubmitUpload() {
                this.$refs.upload.submit();
            },
            async handleUpload(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('file', data.file);
                    const uri = this.route('admin.ajax_import_excel_supply_unit');
                    await this.Request.upload(uri, formData);

                    location.reload();
                    this.$notify({
                        type: 'success',
                        title: 'Thành công',
                        message: 'Thêm đơn vị cung cấp qua excel thành công.',
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }

                this.$refs.upload.clearFiles();

                this.$loading().close();
            },
        }
    }
</script>
