<template>
  <el-container class="manager-screen">
    <el-header>
      <div class="left">
        <el-button
            type="success"
            icon="el-icon-edit-outline"
            @click="showForm()"
            v-if="Helper.canDo(AdminPermissions.EDIT_TICKET_CAT)"
        >
          {{ this.$t('admin.common.create') }}
        </el-button>
      </div>
      <div class="right">
        <el-input
            class="search"
            type="search"
            :placeholder="this.$t('admin.common.search')"
            v-model="search"
            @keyup.enter.native="handlePaginate(1)"
        />
      </div>
    </el-header>
    <el-main>
      <el-card class="box-card">
        <el-table
            :data="categoriesDataSet"
            :default-sort="{prop: '_lft', order: 'ascending' }"
            style="width: 100%">
          <el-table-column
              prop="id"
              label="Mã"
              sortable
          />
          <el-table-column
              prop="name"
              :label="$t('admin.common.name')"
              sortable/>
          <el-table-column
              prop="open_ticket_count"
              label="Chờ Xử lý"
              sortable/>
          <el-table-column
              prop="answered_ticket_count"
              label="Chờ khách trả lời"
              sortable/>
          <el-table-column
              prop="closed_ticket_count"
              label="Đã đóng"
              sortable/>
          <el-table-column
              prop="tickets_count"
              label="Tổng"
              sortable/>
          <el-table-column
              fixed="right"
              :label="$t('admin.common.action')"
          >
            <template slot-scope="scope">
              <el-button
                  plain
                  type="primary"
                  :title="$t('admin.common.edit')"
                  size="mini"
                  icon="el-icon-edit"
                  class="action-button"
                  @click="showForm(scope.row)"
                  v-if="Helper.canDo(AdminPermissions.EDIT_TICKET_CAT)"
              >
                {{ $t('admin.common.edit') }}
              </el-button>
              <el-button
                  plain
                  type="danger"
                  :title="$t('admin.common.delete')"
                  size="mini"
                  icon="el-icon-delete"
                  class="action-button"
                  @click="confirmDelete(scope.row)"
                  v-if="Helper.canDo(AdminPermissions.DELETE_TICKET_CAT)"
              >
                {{ $t('admin.common.delete') }}
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination">
          <el-pagination
              v-if="categories.total > categories.per_page"
              background
              layout="prev, pager, next"
              :total="categories.total"
              :current-page="categories.current_page"
              :page-size="categories.per_page"
              @current-change="handlePaginate"
          />
        </div>
      </el-card>
      <el-dialog
          :title="formTitle"
          :visible.sync="isShowForm"
          class="form-dialog"
      >
        <ticket-category-form
            :target="target"
            :on-success="onSuccess"
            :on-cancel="hideForm"
        />
      </el-dialog>
      <delete-confirm-dialog
          :title="this.$t('admin.common.confirm_delete')"
          :visible="isShowConfirmDelete"
          :on-confirm="handleDelete"
          :on-cancel="closeDeleteDialog"
      />
    </el-main>
  </el-container>
</template>

<script>
import TicketCategoryForm from "./TicketCategoryForm";
import DeleteConfirmDialog from "./DeleteConfirmDialog";

export default {
  components: {TicketCategoryForm, DeleteConfirmDialog},
  props: {
    categories: {
      type: Object,
      default() {
        return {};
      },
    },
    user: {
      type: Object,
      default() {
        return {};
      },
    },
    keyword: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      search: this.keyword,
      categoriesDataSet: this.categories.data,
      formTitle: '',
      isShowForm: false,
      isShowConfirmDelete: false,
      target: {},
    }
  },
  methods: {
    confirmDelete(target) {
      this.target = target
      this.isShowConfirmDelete = true
    },
    closeDeleteDialog() {
      this.isShowConfirmDelete = false;
    },
    onSuccess(data, mode) {
      this.isShowForm = false;
      if (this._.isEmpty(data)) {
        return;
      }
      if (mode === 'create') {
        this.categoriesDataSet.push(data);
      } else {
        this.categoriesDataSet = this._.map(this.categoriesDataSet, (record) => {
          return (record.id === data.id) ? data : record;
        });
      }
      this.target = {};
      this.hideForm();
    },
    handlePaginate(page) {
      this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      let params = {};
      if (!this._.isEmpty(this.search)) {
        params.search = this.search;
      }
      if (page > 1) {
        params.page = page;
      }
      window.location = this.route('admin.ticket_cat.index', params);
    },
    async handleDelete() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        const uri = this.route('admin.ticket_cat.delete', {id: this.target.id});
        await this.Request.delete(uri);
        this.categoriesDataSet.splice(this._.findIndex(this.categoriesDataSet, this.target), 1);
        this.isShowConfirmDelete = false;
        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: this.$t('admin.common.deleted'),
        });
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    hideForm() {
      this.isShowForm = false;
    },
    showForm(target) {
      this.formTitle = this._.isEmpty(target)
          ? this.$t('admin.common.create')
          : this.$t('admin.common.edit') + ' #' + target.id;
      this.target = target;
      this.isShowForm = true
    },
  }
}
</script>

<style scoped>

</style>