<template>
  <el-form
      ref="form"
      :model="form"
      label-position="left"
      label-width="150px"
  >
    <el-form-item :label="$t('admin.common.name')">
      <el-input
          v-model="form.name"
          maxlength="255"
          show-word-limit
      />
    </el-form-item>
    <el-form-item label="Chữ ký">
      <el-input
          id="signature"
          v-model="form.signature"
          type="textarea"
          maxlength="255"
          show-word-limit
      />
    </el-form-item>
    <el-form-item label="Discord Webhook">
    <el-input
        v-model="form.discord_webhook"
        maxlength="255"
        show-word-limit
    />
  </el-form-item>
  <el-form-item label="Time nhận mặc định">
    <el-input
        v-model="form.time_receiver_default" 
        type="number"
    />
  </el-form-item>
  <el-form-item label="Time xử lý mặc định">
    <el-input
        v-model="form.time_handle_default"
        type="number"
    />
  </el-form-item>
      <el-form-item label="Tin nhắn kết thúc">
      <el-input
          v-model="form.close_message_default"
          type="textarea"
          maxlength="255"
          show-word-limit
      />
    </el-form-item>
    <el-form-item :label="$t('admin.common.status')">
      <el-switch
          v-model="form.status"
          active-color="#13ce66"
          inactive-color="#ff4949">
      </el-switch>
    </el-form-item>
    <div class="submit-area">
      <el-button
          type="success"
          @click="handleSubmit"
          v-if="Helper.canDo(AdminPermissions.EDIT_TICKET_CAT)"
      >
        {{ $t('admin.common.save') }}
      </el-button>
      <el-button @click="handleCancel">
        {{ $t('admin.common.cancel') }}
      </el-button>
    </div>
  </el-form>
</template>
<script>
export default {
  props: {
    onSuccess: {
      type: Function,
      default() {
        return null;
      }
    },
    onCancel: {
      type: Function,
      default() {
        return null;
      }
    },
    target: {
      type: Object,
      default() {
        return {};
      }
    },
  },
  data() {
    return {
      form: {},
      mode: '',
      categories: [],
      isSearching: false,
    }
  },
  created () {
    this.initForm(this.target);
  },
  mounted() {
    this.Editor.initEditor('signature', this.form.signature);
  },
  watch: {
    target(updatedRecord) {
      this.initForm(updatedRecord);
      this.Editor.initEditor('signature', this._.isEmpty(updatedRecord.signature) ? '' : updatedRecord.signature);
    
    },
  },
  methods: {
    initForm(data) {
      if (this._.isEmpty(data)) {
        this.form = {};
        this.mode = 'create';
      } else {
        this.form = this._.clone(data);
        this.mode = 'edit';
        this.form.status = (this.form.status === 1 || this.form.status === true);
      }
    },
    async handleSubmit() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        let data = this._.clone(this.form);

        data.signature = this.Editor.getEditorData('signature');
        

        const uri = (this.mode === 'edit')
            ? this.route('admin.ticket_cat.update', {category: this.target})
            : this.route('admin.ticket_cat.create');
        const response = (this.mode === 'edit')
            ? await this.Request.patch(uri, data)
            : await this.Request.post(uri, data);
        this.onSuccess(response.data, this.mode);
        this.resetForm();
        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
        });
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    handleCancel() {
      this.resetForm();
      this.onCancel();
    },
    resetForm() {
      this.$refs['form'].resetFields();
    }
  }
}
</script>
