<template>
  <el-container class="manager-screen">
    <el-header>
      <div class="left">
        <el-button
            type="success"
            icon="el-icon-edit-outline"
            @click="showForm()"
            v-if="Helper.canDo(AdminPermissions.EDIT_TICKET)"
        >
          {{ this.$t('admin.common.create') }}
        </el-button>
      </div>
      <div class="right">
        <el-select v-model="requestParams.ticket_category_id" filterable clearable placeholder="Lọc theo Phòng ban">
          <el-option v-for="category in categories" :key="category.id" :label="category.name"
                     :value="category.id"></el-option>
        </el-select>
        <el-select
            v-model="requestParams.user_id"
            filterable
            clearable
            remote
            reserve-keyword
            :loading-text="$t('admin.common.loading')"
            :no-match-text="$t('admin.common.no_match_text')"
            :no-data-text="$t('admin.common.no_data_text')"
            placeholder="Tìm theo khách hàng"
            :remote-method="handleSearchUser"
            :loading="isSearching"
        >
          <el-option v-for="user in customers" :key="user.id" :label="user.name" :value="user.id"></el-option>
        </el-select>
        <el-select v-model="requestParams.status" placeholder="Trạng thái ticket">
          <el-option v-for="status in ticketStatus" :key="status.value" :label="status.name"
                     :value="status.value"></el-option>
        </el-select>
        <el-input class="search" :placeholder="this.$t('admin.common.search')" v-model="requestParams.search"
                  @keyup.enter.native="handlePaginate(1)"/>
        <el-button type="success" icon="el-icon-search" @click="handlePaginate(1)">
          {{ this.$t('admin.common.search') }}
        </el-button>
      </div>
    </el-header>
    <el-main>
      <el-card class="box-card">
        <el-table :data="ticketsDataSet" :default-sort="{prop: 'id', order: 'descending'}" style="width: 100%;"
                  :row-class-name="tableRowClassName">
          <el-table-column prop="id" label="Mã ticket" width="80"></el-table-column>
          <el-table-column :label="$t('admin.common.title')" sortable width="480">
            <template slot-scope="scope">
              <el-popover placement="bottom-end" width="400" trigger="hover">
                <p><strong>Tạo lúc:</strong> {{ scope.row.created_at }}</p>
                <p><strong>Tiếp nhận:</strong> {{ scope.row.received_at ? scope.row.received_at : 'Chờ xử lý' }}</p>
                <p v-if="scope.row.is_violated_receive"><strong class="text-danger">Vi phạm thời gian nhận
                  ticket</strong></p>
                <p><strong>Hoàn Thành:</strong>
                  <strong v-if="scope.row.status === ticketStatus.CLOSED" class="text-success">
                    {{ scope.row.completed_at }}</strong>
                  <strong v-if="scope.row.status === ticketStatus.WAIT_CLOSE" class="text-warning">Chờ đóng:
                    ({{ scope.row.completed_at }})</strong>
                </p>
                <hr/>
                <p><strong>Nội Dung:</strong> {{ scope.row.first_message }}</p>
                <p slot="reference">{{ scope.row.title }}</p>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="category.name" label="Phòng ban" sortable></el-table-column>
          <el-table-column prop="status_name" :label="$t('admin.common.status')" sortable></el-table-column>
          <el-table-column prop="user.name" label="Khách hàng" sortable></el-table-column>
          <el-table-column prop="admin.name" label="Người tiếp nhận" sortable></el-table-column>
          <el-table-column fixed="right" label="Đánh giá">
            <template slot-scope="scope">
              <p v-if="scope.row.star === 0">Chưa đánh giá</p>
              <el-rate v-else disabled v-model="scope.row.star"
                       :texts="['Quá tệ', 'Hơi tệ', 'Bình thường', 'Tốt', 'Tuyệt vời']"
                       :colors="['#99A9BF', '#4a7c03', '#f7ba2a', '#f5cb57', '#FF9900']" show-text></el-rate>
            </template>
          </el-table-column>
          <el-table-column fixed="right" :label="$t('admin.common.action')">
            <template slot-scope="scope">
              <el-button
                  plain
                  type="primary"
                  size="mini"
                  icon="el-icon-edit"
                  class="action-button"
                  title="Nhận ticket"
                  v-if="scope.row.received_at === null && Helper.canDo(AdminPermissions.HANDLE_TICKET)"
                  @click="handleReceive(scope.row)">
                Nhận ticket
              </el-button>
              <el-button
                  plain
                  type="primary"
                  size="mini"
                  icon="el-icon-edit"
                  class="action-button"
                  title="Xử lý"
                  v-if="scope.row.received_at != null && Helper.canDo(AdminPermissions.HANDLE_TICKET)"
                  @click="showDetail(scope.row)">
                Xử lý
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination">
          <el-pagination
              v-if="tickets.total > tickets.per_page"
              background
              layout="prev, pager, next"
              :total="tickets.total"
              :current-page="tickets.current_page"
              :page-size="tickets.per_page"
              @current-change="handlePaginate"/>
        </div>
      </el-card>
      <el-dialog
          :title="formTitle"
          :visible.sync="isShowForm"
          width="50%">
        <ticket-form :categories="categories"
                     :ticket-priority="ticketPriority"
                     :ticket-status="ticketStatus"
                     :ticket-status-enum="ticketStatusEnum"
                     :on-success="onSuccess"
                     :on-cancel="hideForm"></ticket-form>
      </el-dialog>
      <el-dialog
          :visible.sync="isShowDetail"
          width="50%"
          fullscreen>
        <ticket-detail
            :ticket="target"
            :ticket-status-enum="ticketStatusEnum"
        ></ticket-detail>
      </el-dialog>
    </el-main>
  </el-container>
</template>
<script>
import TicketForm from "./TicketForm";
import TicketDetail from "./TicketDetail";

export default {
  components: {TicketDetail, TicketForm},
  props: {
    tickets: {
      type: Object,
      default() {
        return {};
      }
    },
    params: {
      type: Object,
      default() {
        return {};
      }
    },
    categories: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketPriority: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketPriorityEnum: {
      type: Object,
      default() {
        return {};
      }
    },
    ticketStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketStatusEnum: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  created() {
    if (!this._.isEmpty(this.params.search)) {
      this.requestParams.search = this.params.search;
    }
    if (!this._.isEmpty(this.params.category_id)) {
      this.requestParams.categoryId = parseInt(this.params.category_id);
      this.handleSearchCategory(this.params.category_id);
    }
    if (!this._.isEmpty(this.params.brand_id)) {
      this.requestParams.brandId = parseInt(this.params.brand_id);
    }
  },
  data() {
    return {
      customers: [],
      ticketsDataSet: this.prepareData(),
      formTitle: '',
      isSearching: false,
      isShowDetail: false,
      isShowForm: false,
      isShowConfirmDelete: false,
      target: {},
      requestParams: {
        categoryId: '',
        search: this.keyword,
        brandId: '',
      },
    }
  },
  methods: {
    tableRowClassName({row}) {
      if (row.status === 0) {
        return 'warning-row';
      }
      return '';
    },
    prepareData() {
      return this._.map(this.tickets.data, ticket => {
        ticket.status_name = this._.find(this.ticketStatus, status => status.value === ticket.status).name;
        ticket.priority_name = this._.find(this.ticketPriority, priority => priority.value === ticket.priority).name;
        return ticket;
      })
    },
    showDetail(target) {
      this.target = target;
      this.isShowDetail = true
    },
    closeDetailDialog() {
      this.isShowDetail = false;
    },
    onSuccess(data) {
      let newData = this._.clone(this.ticketsDataSet);
      newData.push(data);
      console.log(newData);
      this.ticketsDataSet = this._.map(newData, ticket => {
        ticket.status_name = this._.find(this.ticketStatus, status => status.value === ticket.status).name;
        ticket.priority_name = this._.find(this.ticketPriority, priority => priority.value === ticket.priority).name;
        return ticket;
      });
      this.isShowForm = false;
    },
    async handleSearchUser(search) {
      if (this._.isEmpty(search)) {
        return;
      }
      const params = {
        search,
      };
      this.isSearching = true;
      try {
        const uri = this.route('admin.ajax_search_user', params);
        const response = await this.Request.get(uri);
        this.customers = response.data.data;
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      this.isSearching = false;

    },
    async handleReceive(target) {

      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });

      try {
        const uri = this.route('admin.ticket.receive', {ticket: target});
        const response = await this.Request.post(uri);

        this.ticketsDataSet = this._.map(this.ticketsDataSet, record => {

          if (record.id === response.data.id) {

            response.data.status_name = this._.find(this.ticketStatus, status => status.value === response.data.status).name;

          }

          return (record.id === response.data.id) ? response.data : record;
        });

        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: this.$t('admin.common.active'),
        });
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }

      loading.close();
    },
    handlePaginate(page) {
      this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      let params = {};
      params.search = this.requestParams.search;
      params.ticket_category_id = this.requestParams.ticket_category_id;
      params.user_id = this.requestParams.user_id;
      params.status = this.requestParams.status;

      if (page > 1) {
        params.page = page;
      }

      window.location = this.route('admin.ticket.index', params);
    },
    async handleDelete() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        const uri = this.route('admin.ticket.delete', {ticket: this.target.id});
        await this.Request.delete(uri);
        this.ticketsDataSet.splice(this._.findIndex(this.ticketsDataSet, this.target), 1);
        this.isShowConfirmDelete = false;
        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: this.$t('admin.common.deleted'),
        });
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    hideForm() {
      this.isShowForm = false;
    },
    showForm() {
      this.formTitle = 'Tạo Ticket mới Cho khách hàng';
      this.isShowForm = true;
    },
  }
}
</script>
<style>
.warning-row {
  background: #f8de9a !important;
}

.success-row {
  background: #f89082 !important;
}
</style>
