<template>
  <div class="row">
    <div class="col-md-9">
      <el-card class="box-card">
        <el-header class="clearfix">
          <div class="left">
            <h4><strong>Xử lý ticket #{{ ticket.id }}: {{ ticket.title }}</strong></h4>
          </div>
          <div class="right">
            <el-popconfirm
                confirmButtonText='Xác nhận!'
                cancelButtonText='Không! Cám ơn!'
                icon="el-icon-info"
                iconColor="red"
                title="Bạn chắc chắn ?"
                @onConfirm="handleConfirmStatus"
                v-if="this.ticket.status != ticketStatusEnum.CLOSED"
            >
              <el-button type="warning" round  slot="reference">Đóng ticket</el-button>
            </el-popconfirm>
          </div>
        </el-header>
        <el-form
            ref="formMessage"
            :model="form"
            :disabled="this.ticket.status === ticketStatusEnum.CLOSED"
        >
          <el-card shadow="always">
            <div class="form-group">
              <el-input type="textarea" v-model="form.message" placeholder="Nhập nội dung...." :autosize="{ minRows: 4, maxRows: 10}"></el-input>
            </div>
            <div class="text-right">
              <el-button
                  type="success"
                  round
                  @click="handleSendMessage"
                  v-if="Helper.canDo(AdminPermissions.HANDLE_TICKET)"
              >Trả lời</el-button>
            </div>
          </el-card>
        </el-form>
        <div v-for="item in messageDataSet" :key="item.id">
          <br>
          <el-card>
            <div class="col-md-2"  v-if="!item.is_customer">
              <div>
                <el-image :src="item.admin.image" lazy style="width: 150px; height: 150px "></el-image>
                <p class="text-center">{{ item.admin.name }}</p>
              </div>
            </div>
            <div class="col-md-2" v-else>
              <div>
                <el-image :src="item.user.image" lazy style="width: 150px; height: 150px "></el-image>
                <p class="text-center">{{ item.user.name }}</p>
              </div>
            </div>
            <div class="col-md-10">
              <el-card>
                <p>{{ item.message }}</p>
                <hr>
                <div class="col-md-6  text-left">
                  <el-rate
                      v-model="item.star"
                      disabled
                      :texts="['Tệ quá', 'Hơi tệ', 'Bình thường', 'Tốt', 'Tuyệt vời']"
                      :colors="['#99A9BF', '#4a7c03', '#f7ba2a', '#f5cb57', '#FF9900']"
                      show-text
                      v-if="!item.is_customer">
                  </el-rate>
                </div>
                <div class="col-md-6 text-right">
                  <small>Gửi lúc {{ item.created_at }}</small>
                </div>

              </el-card>
            </div>
          </el-card>
        </div>
      </el-card>
    </div>
    <div class="col-md-3">
      <el-card class="box-card">
        <h4><strong>Thông tin khách hàng</strong></h4>
        <p>Khách hàng: {{ ticket.user.name }}</p>
        <p>Điện thoại: {{ ticket.user.phone }}</p>
        <p>Email: {{ ticket.user.email }}</p>
      </el-card>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    ticket: {
      type: Object,
      default() {
        return {};
      }
    },
    ticketStatusEnum: {
      type: Object,
      default() {
        return {};
      }
    },
    userRoles: {
      type: Array,
      default() { 
        return [];
      }
    },
  },
  watch: {
    ticket(updatedTicket) {
      this.handleGetMessage(updatedTicket);
    },
  },
  data() {
    return {
      form: { },
      thisTicketClose: false,
      messageDataSet: {}
    }
  },
  created() {
    this.handleGetMessage(this.ticket);
  },
  methods: {
    getRole(role) {
      return this._.find(this.userRoles, userRole => userRole.value === role).name;
    },
    
    async handleGetMessage(ticket) {
      try {
        const uri = this.route('admin.ticket.details', {ticket: ticket});
        const response = await this.Request.get(uri, this.form);
        this.messageDataSet = this._.clone(response.data.messages);
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    async handleSendMessage() {
      try {
        const uri = this.route('admin.ticket.reply', {ticket: this.ticket});
        const response = await this.Request.post(uri, this.form);
        this.messageDataSet = this._.clone(response.data.messages);
        this.resetForm('formMessage');
        await this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: 'Thành công!',
        });
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    handleConfirmStatus(){
      if (this.thisTicketClose){
        this.thisTicketClose = false;
      }else {
        this.thisTicketClose = true;
      }
      this.handleUpdateTicket();
    },
    async handleUpdateTicket() {
      try {
        let data = {
          ticket_category_id: this.ticket.ticket_category_id,
          priority: this.ticket.priority,
          title: this.ticket.title,
          status: this.ticket.status
        };
        if (this.thisTicketClose){
          data.status = this.ticketStatusEnum.WAIT_CLOSE;
        }else {
          data.status = this.ticketStatusEnum.OPEN;
        }
        const uri = this.route('admin.ticket.update', {ticket: this.ticket});
        await this.Request.patch(uri, data);
        await this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: 'Đóng ticket thành công!',
        });
        this.form.message = '';
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  }
}
</script>

<style scoped>

</style>