<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-upload
                    class="btn-upload"
                    ref="upload"
                    name="upload"
                    :multiple="true"
                    :http-request="handleUploadAndGetLink"
                    :show-file-list="true"
                    :action="this.route('admin.ajax_upload_file')"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">Chọn ảnh</el-button>
                    <el-button size="small" type="success" @click="handleSubmitUpload">Tải lên</el-button>
                </el-upload>

            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-input
                    type="textarea"
                    :rows="5"
                    v-model="allLinks"
                    readonly
                >
                </el-input>
            </el-card>
        </el-main>
    </el-container>
</template>
<script>
    export default {
        data() {
            return {
                fileLinks: [],
            };
        },
        computed: {
            allLinks() {
                return this.fileLinks.join(',');
            }
        },
        methods: {
            handleSubmitUpload() {
                this.$refs.upload.submit();
            },
            async handleUploadAndGetLink(data) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    let formData = new FormData();
                    formData.append('upload', data.file);
                    const uri = this.route('ajax_upload_anonymous');
                    const response = await this.Request.upload(uri, formData);
                    this.fileLinks.push(response.data.url);
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    console.log(e); //eslint-disable-line
                    this.$notify({
                        type: 'error',
                        title: 'Lỗi',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.$loading().close();
            },
        }
    }
</script>
