<template>
    <el-form
            ref="form"
            :model="form"
            label-position="left"
            label-width="170px"
    >
        <el-form-item :label="$t('admin.common.type')">
            <el-radio v-for="type in voucherTypes"
                      :key="type.value"
                      v-model="form.type"
                      :label="type.value">{{ type.name }}</el-radio>
        </el-form-item>
        <el-form-item v-if="form.type === voucherTypeEnum.PRODUCT" :label="$t('admin.common.product')">
            <el-select
                    v-model="form.product_id"
                    filterable
                    clearable
                    remote
                    reserve-keyword
                    :loading-text="$t('admin.common.loading')"
                    :no-match-text="$t('admin.common.no_match_text')"
                    :no-data-text="$t('admin.common.no_data_text')"
                    :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                    :remote-method="handleSearchProduct"
                    :loading="isSearchingProduct"
            >
                <el-option
                        v-for="item in products"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item v-if="form.type === voucherTypeEnum.CATEGORY" :label="$t('admin.common.category')">
            <el-select
                v-model="form.prod_category_id"
                filterable
                clearable
                remote
                reserve-keyword
                :loading-text="$t('admin.common.loading')"
                :no-match-text="$t('admin.common.no_match_text')"
                :no-data-text="$t('admin.common.no_data_text')"
                :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                :remote-method="handleSearchCategory"
                :loading="isSearchingCategory"
            >
                <el-option
                    v-for="item in categories"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item v-if="form.type === voucherTypeEnum.BRAND" :label="$t('admin.common.brand')">
            <el-select
                v-model="form.brand_id"
                filterable
                clearable
                remote
                reserve-keyword
                :loading-text="$t('admin.common.loading')"
                :no-match-text="$t('admin.common.no_match_text')"
                :no-data-text="$t('admin.common.no_data_text')"
                :placeholder="$t('admin.message.enter_id_or_name_to_search')"
                :remote-method="handleSearchBrand"
                :loading="isSearchingBrand"
            >
                <el-option
                    v-for="item in brands"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :label="$t('admin.common.code')">
            <el-input
                    v-model="form.code"
                    maxlength="50"
                    show-word-limit
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.use_percent_discount')">
            <el-switch
                v-model="form.use_percent_discount"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-text="%"
                inactive-text="Tiền mặt"
            >
            </el-switch>
        </el-form-item>
        <el-form-item :label="$t('admin.common.value')">
            <el-input
                v-model="form.value"
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.limit')">
            <el-input
                v-model="form.limit"
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.min_money_required')">
            <el-input
                v-model="form.min_money_required"
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.max_money_discount')">
            <el-input
                v-model="form.max_money_discount"
            />
        </el-form-item>
        <el-form-item :label="$t('admin.common.expired_at')">
            <el-date-picker
                    v-model="form.expired_at"
                    type="datetime"
                    value-format="yyyy-MM-dd hh:mm:ss"
                    placeholder="Chọn ngày giờ">
            </el-date-picker>
        </el-form-item>
        <el-form-item :label="$t('admin.common.active')">
            <el-switch
                    v-model="form.active"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
            </el-switch>
        </el-form-item>
        <el-form-item>
            <el-button
                    type="success"
                    @click="handleSubmit"
                    v-if="Helper.canDo(AdminPermissions.EDIT_VOUCHER)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>
    </el-form>
</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
            voucherTypes: {
                type: Array,
                default() {
                    return [];
                },
            },
            voucherTypeEnum: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                form: {},
                mode: '',
                products: [],
                isSearchingProduct: false,
                categories: [],
                isSearchingCategory: false,
                brands: [],
                isSearchingBrand: false,
            }
        },
        created () {
            this.initForm(this.target);
        },
        watch: {
            target: function (updatedRecord) {
                this.initForm(updatedRecord);
            },
        },
        methods: {
            initForm(target) {
                if(this._.isEmpty(target)) {
                    this.form = {
                        active: true,
                        use_percent_discount: false,
                        type: this.voucherTypeEnum.PRODUCT,
                    };
                    this.mode = 'create';
                } else {
                    this.form = this._.clone(target);
                    this.form.active = this.form.active.toString() === '1' || this.form.active;
                    this.form.use_percent_discount = this.form.use_percent_discount.toString() === '1' || this.form.use_percent_discount;
                    this.mode = 'edit';
                }

                this.products = [];
                if(!this._.isEmpty(target.product)) {
                    this.products.push(target.product);
                }

                this.brands = [];
                if(!this._.isEmpty(target.brand)) {
                    this.brands.push(target.brand);
                }

                this.categories = [];
                if(!this._.isEmpty(target.category)) {
                    this.categories.push(target.category);
                }
            },
            async handleSearchProduct(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearchingProduct = true;
                try {
                    const uri = this.route('admin.ajax_search_product', params ) ;
                    const response = await this.Request.get(uri);
                    this.products = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearchingProduct = false;

            },
            async handleSearchCategory(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearchingCategory = true;
                try {
                    const uri = this.route('admin.ajax_search_prod_category', params ) ;
                    const response = await this.Request.get(uri);
                    this.categories = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearchingCategory = false;

            },
            async handleSearchBrand(search) {
                if(this._.isEmpty(search)) {
                    return;
                }
                const params = {
                    search,
                };
                this.isSearchingBrand = true;
                try {
                    const uri = this.route('admin.ajax_search_brand', params ) ;
                    const response = await this.Request.get(uri);
                    this.brands = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                this.isSearchingBrand = false;

            },
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    if(this.form.product_id === null) {
                       delete this.form.product_id;
                    }
                    if(this.form.prod_category_id === null) {
                        delete this.form.prod_category_id;
                    }
                    if(this.form.brand_id === null) {
                        delete this.form.brand_id;
                    }
                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_voucher', { voucher: this.form.id})
                        : this.route('admin.ajax_create_voucher');
                    const response = (this.mode === 'edit')
                        ? await this.Request.patch(uri, this.form)
                        : await this.Request.post(uri, this.form);
                    this.onSuccess(response.data, this.mode);
                    this.resetForm();
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
