<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                        type="success"
                        icon="el-icon-edit-outline"
                        @click="showForm()"
                        v-if="Helper.canDo(AdminPermissions.EDIT_VOUCHER)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>
            </div>
            <div class="right">
                <el-input
                        class="search"
                        :placeholder="this.$t('admin.common.search')"
                        v-model="search"
                        @keyup.enter.native="handlePaginate(1)"
                />
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                        :data="vouchersDataSet"
                        :default-sort="{prop: 'id', order: 'descending' }"
                        style="width: 100%">
                    <el-table-column
                            prop="id"
                            label="ID"
                            sortable
                    />
                    <el-table-column
                            prop="code"
                            :label="$t('admin.common.code')"
                            sortable/>
                    <el-table-column
                        prop="value"
                        :label="$t('admin.common.value')"
                    >
                        <template slot-scope="scope">
                            <span v-if="!scope.row.use_percent_discount">
                                {{ Helper.formatMoney(scope.row.value)}}đ
                            </span>
                            <span v-else>{{ scope.row.value }}%</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="expired_at"
                            :label="$t('admin.common.expired_at')"
                            sortable/>
                    <el-table-column
                            prop="active"
                            :label="$t('admin.common.status')"
                            sortable
                    >
                        <template slot-scope="scope">
                           <span v-if="scope.row.active">Kích hoạt</span>
                            <span v-else>Ẩn</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            :label="$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    type="primary"
                                    :title="$t('admin.common.edit')"
                                    size="mini"
                                    icon="el-icon-edit"
                                    class="action-button"
                                    @click="showForm(scope.row)"
                                    v-if="Helper.canDo(AdminPermissions.EDIT_VOUCHER)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            v-if="vouchers.total > vouchers.per_page"
                            background
                            layout="prev, pager, next"
                            :total="vouchers.total"
                            :current-page="vouchers.current_page"
                            :page-size="vouchers.per_page"
                            @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                    :title="formTitle"
                    :visible.sync="isShowForm"
                    class="form-dialog"
            >
                <voucher-form
                        :target="target"
                        :on-success="onSuccess"
                        :on-cancel="hideForm"
                        :voucher-types="voucherTypes"
                        :voucher-type-enum="voucherTypeEnum"
                />
            </el-dialog>
        </el-main>
    </el-container>
</template>
<script>
    import VoucherForm from "./VoucherForm";
    export default {
        components: { VoucherForm },
        props: {
            vouchers: {
                type: Object,
                default() {
                    return {};
                },
            },
            voucherTypeEnum: {
                type: Object,
                default() {
                    return {};
                },
            },
            voucherTypes: {
                type: Array,
                default() {
                    return [];
                },
            },
            user: {
                type: Object,
                default() {
                    return {};
                },
            },
            keyword: {
                type: String,
                default: '',
            },
        },
        data(){
            return {
                search: this.keyword,
                vouchersDataSet: this.vouchers.data,
                formTitle: '',
                isShowForm: false,
                isShowConfirmDelete: false,
                target: {},
            }
        },
        methods: {
            onSuccess(data, mode) {
                this.isShowForm = false;
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.vouchersDataSet.push(data);
                } else {
                    this.vouchersDataSet =  this._.map(this.vouchersDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    });
                }
                this.hideForm();
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let params = {};
                if (!this._.isEmpty(this.search)) {
                    params.search = this.search;
                }
                if (page > 1) {
                    params.page = page;
                }
                window.location = this.route('admin.prod_vouchers_index', params);
            },
            hideForm() {
                this.isShowForm = false;
            },
            showForm (target) {
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = this._.isEmpty(target) ? {} : target;
                this.isShowForm = true
            },
        }
    }
</script>
