<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-button
                    type="success"
                    icon="el-icon-edit-outline"
                    @click="showForm({})"
                    v-if="Helper.canDo(AdminPermissions.EDIT_WAREHOUSE)"
                >
                    {{ this.$t('admin.common.create')}}
                </el-button>

            </div>
            <div class="right">
                <el-input
                    class="search"
                    :placeholder="this.$t('admin.common.search')"
                    v-model="search"
                    @keyup.enter.native="handlePaginate(1)"
                />
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                    :data="warehousesDataSet"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="Mã kho hàng"
                        sortable
                    >
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        :label="this.$t('admin.common.name')"
                        sortable>
                    </el-table-column>
                    <el-table-column
                        prop="address"
                        :label="this.$t('admin.common.address')"
                        sortable>
                    </el-table-column>
                    <el-table-column
                        prop="quantity_goods"
                        :label="this.$t('admin.common.quantity_goods')"
                        sortable>
                        <template slot-scope="scope">
                            <a target='_blank' :href="route('admin.inventories_index') + '?import_to_warehouse_id=' + scope.row.id">{{ scope.row.quantity_goods  }}</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                        :label="this.$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                plain
                                type="primary"
                                :title="$t('admin.common.edit')"
                                size="mini"
                                icon="el-icon-edit"
                                class="action-button"
                                @click="showForm(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.EDIT_WAREHOUSE)"
                            >
                                {{ $t('admin.common.edit') }}
                            </el-button>
                            <el-button
                                v-if="scope.row.quantity_goods == 0 && Helper.canDo(AdminPermissions.DELETE_WAREHOUSE)"
                                plain
                                type="danger"
                                :title="$t('admin.common.delete')"
                                size="mini"
                                icon="el-icon-delete"
                                class="action-button"
                                @click="confirmDelete(scope.row)"
                            >
                                {{ $t('admin.common.delete') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                        v-if="warehouses.total > warehouses.per_page"
                        background
                        layout="prev, pager, next"
                        :total="warehouses.total"
                        :current-page="warehouses.current_page"
                        :page-size="warehouses.per_page"
                        @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                :title="formTitle"
                :visible.sync="isShowForm"
                class="form-dialog"
            >
                <el-tabs type="card">
                    <el-tab-pane label="Thông tin chính">
                        <warehouse-form
                            :target="target"
                            :on-success="onCreate"
                            :on-cancel="hideForm"
                        />
                    </el-tab-pane>
                </el-tabs>

            </el-dialog>
            <delete-confirm-dialog
                :title="this.$t('admin.common.confirm_delete')"
                :visible="isShowConfirmDelete"
                :on-confirm="handleDelete"
                :on-cancel="closeDeleteDialog"
            />
        </el-main>
    </el-container>
</template>
<script>
    import WarehouseForm from './WarehouseForm';
    import DeleteConfirmDialog from './DeleteConfirmDialog';

    export default {
        components: { WarehouseForm, DeleteConfirmDialog },
        props: {
            warehouses: {
                type: Object,
                default () {
                    return {};
                },
            },
            keyword: {
                type: String,
                default: '',
            },
        },
        data () {
            return {
                search: this.keyword,
                warehousesDataSet: this.warehouses.data,
                target: {},
                isShowForm: false,
                formTitle: '',
                value: '',
                currentValueEdit: '',
                isShowConfirmDelete: false,
            }
        },
        created() {
            let urlParams = new URLSearchParams(window.location.search);
            if(urlParams.get('show_form_add') === 'true') {
                this.showForm({});
            }
        },
        methods: {
            onCreate (data, mode) {
                if (this._.isEmpty(data)) {
                    return;
                }
                if (mode === 'create') {
                    this.warehousesDataSet.push(data)
                } else {
                    this.warehousesDataSet = this._.map(this.warehousesDataSet, (record) => {
                        return (record.id === data.id) ? data : record;
                    })
                }

                this.target = {};
                this.hideForm();
            },
            confirmDelete (target) {
                this.target = target;
                this.isShowConfirmDelete = true;
            },
            closeDeleteDialog () {
                this.isShowConfirmDelete = false;
            },
            hideForm () {
                this.isShowForm = false;
            },
            showForm (target) {
                this.isShowForm = true;
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : this.$t('admin.common.edit') + ' #' + target.id;
                this.target = target;
            },
            handleChangeValue(item) {
                if(this.currentValueEdit !== '' && item.id !== this.currentValueEdit) {
                    this.$notify({
                        type: 'warning',
                        title: this.$t('admin.common.warning'),
                        message: this.$t('admin.message.warning_not_save_current_edit'),
                    });
                    return;
                }
                this.currentValueEdit = item.id;
                this.target.values = this._.map(this.target.values, record => {
                    record.changed = record.id === item.id;
                    record.editable = record.id === item.id;
                    return record;
                });
            },
            async handleAddValue() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_add_attribute_value', { attribute: this.target.id });
                    const response = await this.Request.post(uri, {
                        attribute_id: this.target.id,
                        value: this.value,
                    });
                    this.value = '';
                    this.currentValueEdit = '';
                    this.target = response.data;
                    this.onCreate(response.data, 'edit');
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleUpdateValue(item) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_update_attribute_value', { attribute: this.target.id, attributeValue: item.id });
                    const response = await this.Request.patch(uri, item);
                    this.target = response.data;
                    this.currentValueEdit = '';
                    this.onCreate(response.data, 'edit');
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            async handleDelete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('admin.ajax_delete_warehouse', { warehouse: this.target.id});
                    await this.Request.delete(uri);
                    this.warehousesDataSet.splice(this._.findIndex(this.warehousesDataSet, this.target), 1);
                    this.isShowConfirmDelete = false;
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.deleted'),
                    });
                } catch (e) {
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });

                let params = {};
                if (!this._.isEmpty(this.search)) {
                    params.search = this.search;
                }

                if (page > 1) {
                    params.page = page;
                }

                window.location = this.route('admin.warehouse_index', params);
            },
        }
    }
</script>
