<template>
    <el-form
        ref="form"
        :model="form"
        label-position="left"
        label-width="120px"
    >
        <el-form-item :label="$t('admin.common.name')">
            <el-input
                v-model="form.name"
                maxlength="255"
                show-word-limit
            />
        </el-form-item>

        <el-form-item :label="$t('admin.common.address')">
            <el-input
                v-model="form.address"
                maxlength="255"
                show-word-limit
            />
        </el-form-item>

        <el-form-item :label="$t('admin.common.description')">
            <el-input
                id="editor"
                type="textarea"
                :rows="5"
                v-model="form.description">
            </el-input>
        </el-form-item>

        <el-form-item>
            <el-button
                type="success"
                @click="handleSubmit"
                v-if="Helper.canDo(AdminPermissions.EDIT_WAREHOUSE)"
            >
                {{ $t('admin.common.save') }}
            </el-button>
            <el-button
                @click="handleCancel"
            >
                {{ $t('admin.common.cancel') }}
            </el-button>
        </el-form-item>
    </el-form>
</template>
<script>
    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {}
                }
            },
        },
        data() {
            return {
                form: this._.isEmpty(this.target) ? {} : this._.clone(this.target),
                mode: this._.isEmpty(this.target) ? 'create' : 'edit',
                isSearching: false,
                categories: [],
                categoryId: '',
                selectedCategories: [],
            }
        },
        created() {

        },
        mounted() {
            this.Editor.initEditor('editor', this.form.description);
        },
        watch: {
            target: function (updatedRecord) {
                this.form = this._.isEmpty(updatedRecord) ? {} : this._.clone(updatedRecord);
                this.mode = this._.isEmpty(updatedRecord) ? 'create' : 'edit';
                this.Editor.initEditor('editor', this._.isEmpty(updatedRecord.description) ? '' : updatedRecord.description);
            },
        },
        methods: {
            async handleSubmit() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = (this.mode === 'edit')
                        ? this.route('admin.ajax_update_warehouse', { warehouse: this.form.id})
                        : this.route('admin.ajax_create_warehouse');

                    this.form.description = this.Editor.getEditorData('editor');

                    const response = (this.mode === 'edit')
                        ? await this.Request.patch(uri, this.form)
                        : await this.Request.post(uri, this.form);
                    this.onSuccess(response.data, this.mode);
                    this.resetForm();
                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.resetForm();
                this.onCancel();
            },
            resetForm() {
                this.$refs['form'].resetFields();
            }
        }
    }
</script>
