<template>
  <div class="row">
    <div class="col-md-8">
      <el-form
          ref="warrantyProductForm"
          :model="form"
          label-position="left"
          label-width="120px"
          :rules="rules"
      >
        <el-form-item :label="$t('admin.common.order')">
          <el-select
              v-model="form.order_id"
              filterable
              clearable
              remote
              reserve-keyword
              :loading-text="$t('admin.common.loading')"
              :no-match-text="$t('admin.common.no_match_text')"
              :no-data-text="$t('admin.common.no_data_text')"
              :placeholder="$t('admin.message.enter_id_or_name_to_search')"
              :remote-method="handleSearchOrder"
              :loading="isSearching"
              @change="selectOrder"
          >
            <el-option
                v-for="item in orders"
                :key="item.id"
                :lable="item.id"
                :value="item.id">

              <span style="float: left">Order #{{ item.id }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ item.name }} mua ngày {{ item.created_at }} </span>
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('admin.common.product')">
          <el-select
              v-model="form.product_id"
              filterable
              clearable
              remote
              reserve-keyword
              :loading-text="$t('admin.common.loading')"
              :no-match-text="$t('admin.common.no_match_text')"
              :no-data-text="$t('admin.common.no_data_text')"
              :placeholder="$t('admin.message.enter_id_or_name_to_search')"
              :remote-method="handleSearchProduct"
              :loading="isSearching"
              @change="selectProduct"
          >
            <el-option
                v-for="item in products"
                :key="item.id"
                :label="item.name"
                :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Serial" prop="serial">
          <el-input
              v-model="form.serial"
              maxlength="255"
              show-word-limit
              @change="handleCheckSerial"
          ></el-input>
        </el-form-item>
        <el-form-item label="Serial Mới" v-if="form.is_refund_new">
          <el-input
              v-model="form.new_serial"
              maxlength="255"
              show-word-limit
          ></el-input>
        </el-form-item>
        <el-form-item label="Tình trạng" prop="before">
          <el-input
              type="textarea"
              v-model="form.before"
              maxlength="255"
              show-word-limit
          ></el-input>
        </el-form-item>
        <el-form-item label="Cách khắc phục">
          <el-input
              type="textarea"
              v-model="form.solution"
              maxlength="255"
              show-word-limit
          ></el-input>
        </el-form-item>
        <el-form-item label="Sau khi sửa">
          <el-input
              type="textarea"
              v-model="form.after"
              maxlength="255"
              show-word-limit
          ></el-input>
        </el-form-item>

        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item
                label="Phí sửa chữa"
                class="grid-content"
            >
              <el-input-number v-model="form.cost"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Hẹn trả khách" class="grid-content" prop="expect_return_at">
              <el-date-picker
                  v-model="form.expect_return_at"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Chọn ngày trả"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Ngày trả khách" class="grid-content"
                          v-if="form.status > productWarrantyStatusEnum.WAITING_CUSTOMER_RECEIVE"
                          prop="returned_at"
            >
              <el-date-picker
                  v-model="form.returned_at"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Chọn ngày trả">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="12">
          <el-col :span="6">
            <el-form-item label="Kỹ thuật xử lý" prop="tech_id">
              <el-select
                  v-model="form.tech_id"
                  filterable
                  clearable
                  @change="selectTech()"
              >
                <el-option
                    v-for="technician in technicians"
                    :key="technician.id"
                    :label="technician.name"
                    :value="technician.id">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Trạng thái" prop="status">
              <el-select v-model="form.status">
                <el-option
                    v-for="type in productWarrantyStatus"
                    :key="type.value"
                    :label="type.name"
                    :value="type.value"
                    :aria-selected="type.value === form.status"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="9">
            <el-form-item :label="$t('admin.common.is_refund_new')"
                          v-if="form.status === productWarrantyStatusEnum.SUCCESS">
              <el-switch
                  v-model="form.is_refund_new"
                  active-color="#13ce66"
                  inactive-color="#ff4949">
              </el-switch>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item>
          <el-button
              type="success"
              @click="submitForm('warrantyProductForm')">
            {{ $t('admin.common.save') }}
          </el-button>
          <el-button
              type="danger"
              @click="handleCancel">
            {{ $t('admin.common.cancel') }}
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="col-md-4">
      <h4>Thông tin người mua</h4>
      <el-card class="box-card">
        <div v-if="!_.isEmpty(order_info)">
          <p>Tên: <strong> {{ order_info.name }}</strong></p>
          <p>Email: <strong>{{ order_info.email }}</strong></p>
          <p>Phone: <strong>{{ order_info.phone }}</strong></p>
          <p>Địa chỉ: <strong>{{ order_info.address }}</strong></p>
        </div>
      </el-card>
    </div>
    <div class="col-md-4">
      <h4>Thông tin bảo hành</h4>
      <el-card class="box-card">
        <div v-if="!_.isEmpty(info_serial)">
          <p>Đơn vị phân phối: <strong> {{ info_serial.supply.name }}</strong></p>
          <p>Ngày xuất kho: <strong>{{ info_serial.exported_at }}</strong></p>
          <p>Thời hạn bảo hành: <strong>{{ info_serial.warranty_period }}</strong></p>
          <p>Hạn bảo hành hãng: <strong>{{ info_serial.warranty_end }}</strong></p>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import {Helper} from "../../common/helper";

export default {
  props: {
    onSuccess: {
      type: Function,
      default() {
        return null;
      }
    },
    onCancel: {
      type: Function,
      default() {
        return null;
      }
    },
    index: {
      type: Number,
      default() {
        return 0;
      },
    },
    productWarrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    productWarrantyStatusEnum: {
      type: Object,
      default() {
        return [];
      }
    },
    inventoryStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    technicians: {
      type: Array,
      default() {
        return [];
      },
    },
    target: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      form: {},
      newData: {},
      products: {},
      orders: {},
      order_info: {},
      info_serial: {},
      target_index: 0,
      mode: '',
      product_index: this._.clone(this.target.product_id),
      isSearching: false,
      rules: {
        status: [
          {required: true, message: 'Trạng thái không được để trống', trigger: 'change'}
        ],
        expect_return_at: [
          {required: true, message: 'Chọn ngày hẹn', trigger: 'change'}
        ],
        // serial: [
        //   {type: 'string', required: true, message: 'Serial không được để trống', trigger: 'change'}
        // ],
        before: [
          {required: true, message: 'Trạng thái sản phẩm không được để trống', trigger: 'change'}
        ],
      }
    }
  },
  created() {
    this.initForm(this.target);
    this.handleSearchProduct(' ');
    this.handleSearchOrder('this.form.order_id');
  },
  watch: {
    target(updatedRecord) {
      this.initForm(updatedRecord);
    }
  },
  methods: {
    initForm(data) {
      this.newData = {};
      if (!this._.isEmpty(data)) {
        this.form = this._.clone(data);
        this.mode = 'edit';
        if (!this._.isEmpty(this.form.order_id)){
           this.handleSearchOrder(this.form.order_id);
        }
        if (!this._.isEmpty(this.form.serial)){
          this.handleCheckSerial();
        }
      } else {
        this.form = {
          cost: 0,
          product: {},
          is_refund_new: false
        };
        this.mode = 'create';
      }
    },
    selectTech() {
      this.form.technician = this.technicians.find(technician => technician.id === this.form.tech_id);
    },
    async handleSearchProduct(search) {
      if (this._.isEmpty(search)) {
        return;
      }
      const params = {
        search,
      };
      this.isSearching = true;
      try {
        const uri = this.route('admin.ajax_search_product', params);
        const response = await this.Request.get(uri);
        this.products = response.data.data;
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      this.isSearching = false;

    },
    async handleCheckSerial() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        this.form.slug = this.slug;
        const uri = this.route('admin.ajax_search_inventory', {
          serial: this.form.serial,
          status: this.inventoryStatusEnum.EXPORTED
        });
        const response = await this.Request.get(uri, this.form);
        if (response.data.total > 0) {
          this.info_serial = response.data.data[0];
          this.info_serial.product.image = Helper.convertJson(this.info_serial.product.images)[0];
          this.form.product_id = this.info_serial.product_id;
          this.selectProduct();
          if (!this._.isEmpty(this.info_serial.order)){
            this.form.order_id = this.info_serial.order_id;
            this.order_info = this._.clone(this.info_serial.order);
          }
          // this.form.product = this.info_serial.product;
          // this.form.product_id = this.info_serial.product_id;

        } else {
          this.$notify({
            type: 'error',
            title: this.$t('admin.common.error'),
            message: 'Không tìm thấy serial này hoặc chưa được xuất bán!',
          });
        }
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    async handleSearchOrder(search) {
      if (this._.isEmpty(search)) {
        return;
      }
      const params = {
        search
      };
      this.isSearching = true;
      try {
        const uri = this.route('admin.ajax_search_all_order', params);
        const response = await this.Request.get(uri);
        this.orders = response.data.data;
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      this.isSearching = false;
    },
    selectProduct() {
      this.form.product = this.products.find(product => product.product_id === this.form.product_id);
    },
    selectOrder(){
      console.log(this.form.order_id);
      this.order_info = this.orders.find(order => order.id === this.form.order_id);
      this.products = this._.clone(this.order_info.order_products);
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.handleSubmit();
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    async handleSubmit() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        this.newData = this._.clone(this.form);

        await this.onSuccess(this.newData, this.mode, this.index);

        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
        });
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    handleCancel() {
      this.$refs['warrantyProductForm'].resetFields();
      this.onCancel();
    },
  }
}
</script>

<style scoped>

</style>
