<template>
  <el-container class="manager-screen">
    <el-header>
      <div class="left">
        <el-button
            type="success"
            icon="el-icon-circle-plus"
            @click="showForm()"
            v-if="Helper.canDo(AdminPermissions.EDIT_WARRANTY)"
        >
          {{ this.$t('admin.common.receive_warranty') }}
        </el-button>
      </div>
      <div class="right">
        <el-date-picker
            v-model="requestParams.date_from"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="Chọn ngày bắt đầu">
        </el-date-picker>
        <el-date-picker
            v-model="requestParams.date_to"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="Chọn ngày kết thúc">
        </el-date-picker>
        <el-select v-model="requestParams.status"
                   placeholder="Trạng thái bảo hành">
          <el-option
              v-for="type in warrantyStatus"
              :key="type.value"
              :label="type.name"
              :value="type.value">
          </el-option>
        </el-select>
        <el-input
            class="search"
            placeholder="Mã bảo hành"
            v-model="requestParams.id"
        />
        <el-input
            class="search"
            :placeholder="this.$t('admin.common.search')"
            v-model="requestParams.search"
        />
        <el-button
            type="success"
            icon="el-icon-search"
            @click="handlePaginate(1)"
        >
          Lọc
        </el-button>
      </div>
    </el-header>
    <el-main>
      <el-card class="box-card">
        <el-table
            :data="warrantyDataSet"
            :default-sort="{prop: 'id', order: 'descending' }"
            style="width: 100%">
          <el-table-column
              prop="id"
              label="Mã bảo hành"
              sortable
          />
          <el-table-column
              prop="products"
              label="Số lượng sản phẩm"
              sortable>
            <template slot-scope="scope">
              {{ scope.row.products.length }}
            </template>
          </el-table-column>
          <el-table-column
              prop="created_at"
              :label="$t('admin.common.date_of_receipt_of_warranty')"
          />
          <el-table-column
              prop="refund_date"
              :label="$t('admin.common.expected_completion_date')"
          />
          <el-table-column
              prop="status"
              :label="$t('admin.common.status')"
              sortable>
            <template slot-scope="scope">
              {{ scope.row.status_name }}
            </template>
          </el-table-column>
          <el-table-column
            prop="evaluation"
            :label="$t('admin.common.evaluation')"
            sortable>
          <template slot-scope="scope">
            <strong v-if="scope.row.evaluation > 0">{{ scope.row.status_name }} Sao</strong>
            <strong v-else>Chưa có đánh giá</strong>
          </template>
        </el-table-column>
          <el-table-column
              fixed="right"
              :label="$t('admin.common.action')"
          >
            <template slot-scope="scope">
              <el-button
                  plain
                  type="primary"
                  :title="$t('admin.common.return_warranty')"
                  size="mini"
                  class="action-button"
                  @click="showForm(scope.row)"
                  v-if="Helper.canDo(AdminPermissions.HANDLE_WARRANTY)"
              >
                Xử lý
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination">
          <el-pagination
              v-if="warranties.total > warranties.per_page"
              background
              layout="prev, pager, next"
              :total="warranties.total"
              :current-page="warranties.current_page"
              :page-size="warranties.per_page"
              @current-change="handlePaginate"
          />
        </div>
      </el-card>
      <el-dialog
          :title="formTitle"
          :visible.sync="isShowForm"
          fullscreen
      >
        <warranty-form
            :target="target"
            :on-success="onSuccess"
            :on-cancel="hideForm"
            :technicians="technicians"
            :warranty-status="warrantyStatus"
            :warranty-status-enum="warrantyStatusEnum"
            :product-warranty-status="productWarrantyStatus"
            :product-warranty-status-enum="productWarrantyStatusEnum"
            :inventory-status-enum="inventoryStatusEnum"
        />
      </el-dialog>
    </el-main>
  </el-container>
</template>
<script>
import WarrantyForm from "./WarrantyForm";

export default {
  components: {WarrantyForm},
  props: {
    warranties: {
      type: Object,
      default() {
        return {};
      },
    },
    user: {
      type: Object,
      default() {
        return {};
      },
    },
    params: {
      type: Object,
      default() {
        return {};
      }
    },
    warrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    warrantyStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    productWarrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    productWarrantyStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    inventoryStatusEnum: {
      Type: Object,
      default() {
          return {};
      },
    },
    technicians: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      requestParams: {
        date_from: '',
        date_to: '',
        status: '',
        search: '',
        id: ''
      },
      warrantyDataSet: this.prepareData(this.warranties.data),
      formTitle: '',
      isShowForm: false,
      target: {},
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.requestParams.date_from = !this._.isEmpty(this.params.date_from) ? this.params.date_from : '';
      this.requestParams.date_to = !this._.isEmpty(this.params.date_to) ? this.params.date_to : '';
      this.requestParams.status = !this._.isEmpty(this.params.status) ? parseInt(this.params.status) : '';
      this.requestParams.id = !this._.isEmpty(this.params.id) ? parseInt(this.params.id) : '';
      this.requestParams.search = !this._.isEmpty(this.params.search) ? this.params.search : '';
    },
    prepareData(data) {
      return this._.map(data, warranty => {
        warranty.status_name = this._.find(this.warrantyStatus, status => status.value.toString() === warranty.status.toString()).name;
        return warranty;
      })
    },
    onSuccess(data, mode) {
      this.isShowForm = false;
      this.target = {};
      if (this._.isEmpty(data)) {
        return;
      }
      if (mode === 'create') {
        this.warrantyDataSet.push(data);
        this.warrantyDataSet = this.prepareData(this.warrantyDataSet);

      } else {
        this.warrantyDataSet = this._.map(this.warrantyDataSet, record => {
          if (record.id.toString() === data.id.toString()) {
            data.status_name = this._.find(this.warrantyStatus, status => status.value.toString() === data.status.toString()).name;
          }
          return (record.id.toString() === data.id.toString()) ? data : record;
        });
      }
      this.hideForm();
    },
    handlePaginate(page) {
      this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      let params = {};
      params.search = this.requestParams.search;
      params.ticket_category_id = this.requestParams.ticket_category_id;
      params.user_id = this.requestParams.user_id;
      params.status = this.requestParams.status;
      params.date_from = this.requestParams.date_from;
      params.date_to = this.requestParams.date_to;

      if (page > 1) {
        params.page = page;
      }
      window.location = this.route('admin.warranty_index', params);
    },
    hideForm() {
      this.isShowForm = false;
    },
    showForm(target) {
      this.formTitle = this._.isEmpty(target)
          ? "Tạo Phiếu bảo hành"
          : "Cập nhật Phiếu bảo hành" + ' #' + target.id;
      this.target = target;
      this.isShowForm = true;
    },
  }
}
</script>
