<template>
  <div class="row">
    <div class="col-md-9">
      <el-card class="box-card">
        <h4>Thông tin bảo hành</h4>
        <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <h4>Ảnh lỗi</h4>

              <div class="demo-image">
                <div class="block">
                  <div class="el-image" v-for="(image, index) in fileLinks"
                       :key="index">
                    <el-image
                        style="width: 100px; height: 100px; padding: 5px;"
                        :src="image"
                        :preview-src-list="previewList"
                        @click="setImagePreview(image)"
                        fit="cover">
                    </el-image>
                    <a v-if="mode === 'create'" class="remove-image text-danger" @click="handleRemoveImage(image)"
                       style="display: inline;">&#215;</a>
                  </div>
                </div>
              </div>
              <el-upload v-if="mode === 'create'"
                         class="upload-demo"
                         ref="upload"
                         name="upload"
                         :multiple="true"
                         :http-request="handleUploadAndGetLink"
                         :show-file-list="false"
                         :action="this.route('admin.ajax_upload_file')"
                         :auto-upload="true">
                <el-button slot="trigger" size="small" type="primary" class="btn btn-success">Chọn ảnh</el-button>
                <small class="text-danger">Bạn có thể chọn nhiều ảnh cùng lúc</small>
              </el-upload>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-light">
              {{ target.text }}
            </div>
          </el-col>
        </el-row>
      </el-card>

      <br>
      <el-card class="box-card">
        <el-button
            icon="el-icon-circle-plus"
            type="success"
            @click="showFormWarrantyProduct()"
        >
          Thêm sản phẩm
        </el-button>
        <el-table
            :data="productsDataSet"
            stripe
            style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <p><strong>Serial:</strong> <strong class="text-success">{{ props.row.serial }}</strong></p>
              <p><strong>Tình trạng:</strong> {{ props.row.before }}</p>
              <p><strong>Tình trạng sau xử lý:</strong> {{ props.row.after }}</p>
              <p><strong>Cách xử lý:</strong> {{ props.row.solution }}</p>
              <p><strong>Hẹn trả lúc:</strong> {{ props.row.expect_return_at }}</p>
            </template>
          </el-table-column>
          <el-table-column
              prop="product.name"
              label="Tên sản phẩm">

          </el-table-column>
          <el-table-column
              prop="tech_id"
              label="Người xử lý">
            <template slot-scope="props">
              {{ props.row.technician ? props.row.technician.name : 'Chưa bàn giao'}}
            </template>
          </el-table-column>
          <el-table-column
              prop="status"
              label="Trạng thái">
            <template slot-scope="props">
              {{ props.row.status_name }}
            </template>
          </el-table-column>
          <el-table-column
              fixed="right"
              :label="$t('admin.common.action')"
          >
            <template slot-scope="props">
              <el-button
                  plain
                  type="primary"
                  :title="$t('admin.common.return_warranty')"
                  size="mini"
                  class="action-button"
                  @click="showFormWarrantyProduct(props.$index,props.row)"
              >
                Sửa
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
      <br>
      <el-card class="box-card" v-if="mode === 'edit'">
        <h4>Lịch sử xử lý</h4>
        <el-table
            :data="target.histories"
            :default-sort="{prop: 'id', order: 'ascending' }"
            stripe
            style="width: 100%">
          <el-table-column
              label="STT">
            <template slot-scope="scops">
              {{ scops.$index + 1 }}
            </template>
          </el-table-column>
          <el-table-column
              prop="action"
              label="Hoạt động">
          </el-table-column>
          <el-table-column
              prop="created_at"
              label="Thời gian">
          </el-table-column>
        </el-table>
      </el-card>
    </div>
    <div class="col-md-3">
      <el-form
          :model="form"
          ref="warrantyForm"
          :rules="rules"
          label-position="left"
          label-width="120px"
      >
        <el-card class="box-card">
          <h4>TT khách gửi bảo hành</h4>
          <el-form-item label="Họ và Tên" prop="customer_name">
            <el-input
                v-model="form.customer_name"
                maxlength="255"
                show-word-limit
            ></el-input>
          </el-form-item>
          <el-form-item label="Số điện thoại" prop="customer_phone">
            <el-input
                v-model="form.customer_phone"
                maxlength="255"
                show-word-limit
            ></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="customer_email">
            <el-input
                v-model="form.customer_email"
                maxlength="255"
                show-word-limit
            ></el-input>
          </el-form-item>
          <el-form-item label="Địa chỉ" prop="customer_address">
            <el-input
                v-model="form.customer_address"
                maxlength="255"
                show-word-limit
            ></el-input>
          </el-form-item>
        </el-card>
        <br>
        <el-card class="box-card">
          <h4>Trạng thái Phiếu</h4>
          <el-form-item label="Trạng thái" prop="status">
            <el-select v-model="form.status">
              <el-option
                  v-for="type in warrantyStatus"
                  :key="type.value"
                  :label="type.name"
                  :value="type.value"
                  :aria-selected="type.value === form.status"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Ghi chú" prop="action">
            <el-input
                v-model="form.action"
                maxlength="255"
                aria-required="true"
                show-word-limit
            />
          </el-form-item>
          <el-form-item>
            <el-button
                type="success"
                @click="submitForm('warrantyForm')"
                v-if="Helper.canDo(AdminPermissions.EDIT_WARRANTY)"
            >
              {{ $t('admin.common.save') }}
            </el-button>
            <el-button @click="handleCancel">
              {{ $t('admin.common.cancel') }}
            </el-button>
          </el-form-item>
        </el-card>
      </el-form>
    </div>
    <el-container class="manager-screen">
      <el-main>
        <el-dialog
            :title="formTitle"
            :visible.sync="isShowWarrantyProductForm"
            class="form-dialog"
        >
          <warranty-product-form
              :technicians="technicians"
              :target="targetWarrantyProduct"
              :index="targetWarrantyProductIndex"
              :product-warranty-status="productWarrantyStatus"
              :product-warranty-status-enum="productWarrantyStatusEnum"
              :inventory-status-enum="inventoryStatusEnum"
              :on-success="onSuccessWarrantyProduct"
              :on-cancel="closeFormWarrantyProduct"
          />
        </el-dialog>
      </el-main>
    </el-container>
  </div>
</template>
<script>

import WarrantyProductForm from "./WarrantyProductForm";
// import {Helper} from "../../common/helper";

export default {
  components: {WarrantyProductForm},
  props: {
    onSuccess: {
      type: Function,
      default() {
        return null;
      }
    },
    onCancel: {
      type: Function,
      default() {
        return null;
      }
    },
    warrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    warrantyStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    productWarrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    productWarrantyStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    inventoryStatusEnum: {
      Type: Object,
      default() {
          return {};
      },
    },
    target: {
      type: Object,
      default() {
        return {};
      }
    },
    technicians: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      form: {},
      productsDataSet: this.prepareProductsData(this.target.products),
      is_readonly: false,
      isShowWarrantyProductForm: false,
      targetWarrantyProduct: {},
      targetWarrantyProductIndex: 0,
      formTitle: '',
      mode: '',
      fileLinks: [],
      previewList: [],
      rules: {
        status: [
          {required: true, message: 'Trạng thái không được để trống', trigger: 'change'}
        ],
        customer_name: [
          {type: 'string', required: true, message: 'Tên khách hàng không được để trống', trigger: 'change'}
        ],
        customer_phone: [
          {type: 'string', required: true, message: 'SĐT không được để trống', trigger: 'change'}
        ],
        customer_email: [
          {type: 'string', required: true, message: 'Email không được để trống', trigger: 'change'}
        ],
        customer_address: [
          {type: 'string', required: true, message: 'Địa chỉ không được để trống', trigger: 'change'}
        ],
        action: [
          {required: true, message: 'Ghi chú không được để trống', trigger: 'change'}
        ],
      }
    }
  },
  created() {
    this.initForm(this.target);
  },
  watch: {
    target: function (updatedRecord) {
      this.initForm(updatedRecord);
    },
  },
  methods: {
    initForm(data) {
      if (this._.isEmpty(data)) {
        this.form = {
          is_refund_new: false,
        };
        this.mode = 'create';
      } else {
        this.form = this._.clone(data);
        this.fileLinks = this._.clone(data.images);
        this.mode = 'edit';
      }
    },
    prepareProductsData(data) {
      return this._.map(data, product => {
        product.status_name = this._.find(this.productWarrantyStatus, status => status.value === product.status).name;
        return product;
      })
    },
    handleSubmitUpload() {
      this.$refs.upload.submit();
    },
    async handleUploadAndGetLink(data) {
      try {
        let formData = new FormData();
        formData.append('upload', data.file);
        const uri = this.route('ajax_upload_anonymous');
        const response = await this.Request.upload(uri, formData);
        this.fileLinks.push(response.data.url);
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        console.log(e); //eslint-disable-line
        this.$notify({
          icon: 'error',
          title: 'Lỗi',
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    handleRemoveImage(file) {
      this.fileLinks.splice(this.fileLinks.indexOf(file), 1);
    },

    setImagePreview(image) {
      this.previewList = [image]
      let clone = this._.clone(this.fileLinks)
      clone = this._.remove(clone, image => image === image)
      this.previewList = this.previewList.concat(clone)
    },

    showFormWarrantyProduct(key, target) {
      this.formTitle = this._.isEmpty(target)
          ? this.$t('admin.common.create') + " Sản phẩm"
          : this.$t('admin.common.update') + " Sản phẩm " + ' #' + target.id;
      this.targetWarrantyProduct = target;
      this.targetWarrantyProductIndex = key;
      this.isShowWarrantyProductForm = true
    },
    onSuccessWarrantyProduct(data, mode, index) {

      console.log('data', data);

      this.isShowWarrantyProductForm = false;
      if (this._.isEmpty(data)) {
        return;
      }
      if (mode === 'create') {
        this.productsDataSet.push(data);
        this.productsDataSet = this.prepareProductsData(this.productsDataSet);
      } else {
        this.productsDataSet = this.prepareProductsData(
            this._.map(this.productsDataSet, (record, key) => {
              return (key === index) ? data : record;
            })
        );
        console.log(this.productsDataSet);
      }
    },
    closeFormWarrantyProduct() {
      this.isShowWarrantyProductForm = false;
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.handleSubmit();
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    async handleSubmit() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      try {
        let data = this._.clone(this.form);
        data.images = this._.clone(this.fileLinks);
        data.products = this._.clone(this.productsDataSet);

        const uri = (this.mode === 'edit')
            ? this.route('admin.ajax_update_warranty', {warranty: this.form.id})
            : this.route('admin.ajax_create_warranty');
        const response = (this.mode === 'edit')
            ? await this.Request.patch(uri, data)
            : await this.Request.post(uri, data);
        this.onSuccess(response.data, this.mode);
        this.resetForm();
        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: (this.mode === 'edit') ? this.$t('admin.common.updated') : this.$t('admin.common.created'),
        });
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.close();
    },
    handleCancel() {
      this.resetForm();
      this.onCancel();
    },
    resetForm() {
      this.$refs['warrantyForm'].resetFields();
    }
  }
}
</script>
<style scope>
.remove-image {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 15em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 16px/16px sans-serif;
  background: #fdbb00;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: background 0.5s;
}

.remove-image:hover {
  background: #E54E4E;
  padding: 3px 7px 5px;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.remove-image:active {
  background: #E54E4E;
  top: 4px;
  right: 4px;
}
</style>
