<template>
  <el-container class="manager-screen">
    <el-header>
      <div class="right">
        <el-date-picker
            v-model="requestParams.date_from"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="Chọn ngày bắt đầu">
        </el-date-picker>
        <el-date-picker
            v-model="requestParams.date_to"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="Chọn ngày kết thúc">
        </el-date-picker>
        <el-select v-model="requestParams.status"
                   placeholder="Trạng thái bảo hành">
          <el-option
              v-for="type in productWarrantyStatus"
              :key="type.value"
              :label="type.name"
              :value="type.value">
          </el-option>
        </el-select>
        <el-input
            class="search"
            placeholder="Mã bảo hành"
            v-model="requestParams.id"
        />
        <el-input
            class="search"
            :placeholder="this.$t('admin.common.search')"
            v-model="requestParams.search"
        />
        <el-button
            type="success"
            icon="el-icon-search"
            @click="handlePaginate(1)"
        >
          Lọc
        </el-button>
      </div>
    </el-header>
    <el-main>
      <el-card class="box-card">
        <el-table
            :data="productsDataSet"
            stripe
            style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <p><strong>Serial:</strong> <strong class="text-success">{{ props.row.serial }}</strong></p>
              <p><strong>Tình trạng:</strong> {{ props.row.before }}</p>
              <p><strong>Tình trạng sau xử lý:</strong> {{ props.row.after }}</p>
              <p><strong>Cách xử lý:</strong> {{ props.row.solution }}</p>
              <p><strong>Hẹn trả lúc:</strong> {{ props.row.expect_return_at }}</p>
            </template>
          </el-table-column>
          <el-table-column
              prop="product.name"
              label="Tên sản phẩm">

          </el-table-column>
          <el-table-column
              prop="tech_id"
              label="Người xử lý">
            <template slot-scope="props">
              {{ props.row.technician ? props.row.technician.name : 'Chưa bàn giao' }}
            </template>
          </el-table-column>
          <el-table-column
              prop="status"
              label="Trạng thái">
            <template slot-scope="props">
              {{ props.row.status_name }}
            </template>
          </el-table-column>
          <el-table-column
              fixed="right"
              :label="$t('admin.common.action')"
          >
            <template slot-scope="props">
              <el-button
                  plain
                  type="primary"
                  :title="$t('admin.common.return_warranty')"
                  size="mini"
                  class="action-button"
                  @click="showForm(props.row)"
              >
                Sửa
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
      <el-dialog
          :title="formTitle"
          :visible.sync="isShowForm"
          class="form-dialog"
      >
        <warranty-product-form
            :technicians="technicians"
            :target="target"
            :product-warranty-status="productWarrantyStatus"
            :product-warranty-status-enum="productWarrantyStatusEnum"
            :inventory-status-enum="inventoryStatusEnum"
            :on-success="onSuccess"
            :on-cancel="hideForm"
        />
      </el-dialog>
    </el-main>
  </el-container>
</template>

<script>
import WarrantyProductForm from "./WarrantyProductForm";
export default {
  components: {WarrantyProductForm},
  props: {
    productWarrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    productWarrantyStatusEnum: {
      type: Object,
      default() {
        return [];
      }
    },
    inventoryStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },
    technicians: {
      type: Array,
      default() {
        return [];
      },
    },
    products: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      requestParams: {
        date_from: '',
        date_to: '',
        status: '',
        search: '',
        id: ''
      },
      productsDataSet: this.prepareData(this.products.data),
      formTitle: '',
      isShowForm: false,
      target: {},
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.requestParams.date_from = !this._.isEmpty(this.params.date_from) ? this.params.date_from : '';
      this.requestParams.date_to = !this._.isEmpty(this.params.date_to) ? this.params.date_to : '';
      this.requestParams.status = !this._.isEmpty(this.params.status) ? parseInt(this.params.status) : '';
      this.requestParams.id = !this._.isEmpty(this.params.id) ? parseInt(this.params.id) : '';
      this.requestParams.search = !this._.isEmpty(this.params.search) ? this.params.search : '';
    },
    prepareData(data) {
      return this._.map(data, product => {
        product.status_name = this._.find(this.productWarrantyStatus, status => status.value === product.status).name;
        return product;
      })
    },
    onSuccess(data, mode) {
      this.isShowForm = false;
      this.target = {};
      if (this._.isEmpty(data)) {
        return;
      }
      if (mode === 'create') {
        this.productsDataSet.push(data);
        this.productsDataSet = this.prepareData(this.productsDataSet);

      } else {
        this.productsDataSet = this._.map(this.productsDataSet, record => {
          if (record.id.toString() === data.id.toString()) {
            data.status_name = this._.find(this.productWarrantyStatus, status => status.value.toString() === data.status.toString()).name;
          }
          return (record.id.toString() === data.id.toString()) ? data : record;
        });
      }
      this.hideForm();
    },
    showForm(target) {
      this.target = target;
      this.formTitle = this._.isEmpty(target)
          ? this.$t('admin.common.create') + " Sản phẩm"
          : this.$t('admin.common.update') + " Sản phẩm " + ' #' + target.id;
      this.isShowForm = true;
    },
    hideForm() {
      this.isShowForm = false;
      this.target = {};
    },
  }
}
</script>

<style scoped>

</style>