<template>
    <el-container class="manager-screen">
        <el-header>
            <div class="left">
                <el-date-picker
                    v-model="filter.date_from"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="Chọn ngày bắt đầu">
                </el-date-picker>
                <el-date-picker
                    v-model="filter.date_to"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="Chọn ngày kết thúc">
                </el-date-picker>
                <el-select v-model="filter.shipping_status"
                           placeholder="Trạng thái giao hàng">
                    <el-option
                        v-for="type in shippingStatus"
                        :key="type.value"
                        :label="type.name"
                        :value="type.value">
                    </el-option>
                </el-select>
                <el-select v-model="filter.status"
                           placeholder="Trạng thái đơn hàng">
                    <el-option
                        v-for="type in orderStatus"
                        :key="type.value"
                        :label="type.name"
                        :value="type.value">
                    </el-option>
                </el-select>
                <el-select v-model="filter.payment_status"
                           placeholder="Trạng thái thanh toán">
                    <el-option
                        v-for="type in paymentStatus"
                        :key="type.value"
                        :label="type.name"
                        :value="type.value">
                    </el-option>
                </el-select>
                <el-input
                    class="search"
                    :placeholder="this.$t('admin.common.search')"
                    v-model="filter.search"
                />
                <el-button
                    type="success"
                    icon="el-icon-search"
                    @click="handlePaginate(1)"
                >
                    Lọc
                </el-button>
            </div>
        </el-header>
        <el-main>
            <el-card class="box-card">
                <el-table
                    :data="orderDataSet"
                    :default-sort="{prop: 'id', order: 'descending' }"
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="Mã đơn"
                        sortable
                    />
                    <el-table-column
                        prop="created_at"
                        :label="$t('admin.common.datetime')"
                        sortable/>
                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.shipping_status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ scope.row.shipping_status_name }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ scope.row.status_name }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="payment_status"
                        :label="$t('admin.common.payment_status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ scope.row.payment_status_name }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        :label="$t('admin.common.name')"
                        sortable/>
                    <el-table-column
                        prop="phone"
                        :label="$t('admin.common.phone')"
                        sortable/>
                    <el-table-column
                        prop="email"
                        :label="$t('admin.common.email')"
                        sortable/>
                    <el-table-column
                        prop="pay_money"
                        :label="$t('admin.common.pay_money')"
                        sortable>
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.pay_money)}}đ
                        </template>
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        :label="$t('admin.common.action')"
                    >
                        <template slot-scope="scope">
                            <el-button
                                plain
                                type="primary"
                                :title="$t('admin.common.detail')"
                                size="mini"
                                icon="el-icon-edit"
                                class="action-button"
                                @click="showForm(scope.row)"
                                v-if="Helper.canDo(AdminPermissions.HANDLE_SHIPPING_BILL)"
                            >
                                {{ $t('admin.common.detail') }}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                        v-if="orders.total > orders.per_page"
                        background
                        layout="prev, pager, next"
                        :total="orders.total"
                        :current-page="orders.current_page"
                        :page-size="orders.per_page"
                        @current-change="handlePaginate"
                    />
                </div>
            </el-card>
            <el-dialog
                :title="formTitle"
                :visible.sync="isShowForm"
                fullscreen
            >
                <order-form
                    :target="target"
                    :on-success="onSuccess"
                    :on-cancel="hideForm"
                    :order-status="orderStatus"
                    :shipping-status="shippingStatus"
                    :payment-status="paymentStatus"
                    :order-status-enum="orderStatusEnum"
                    :order-shipping-status-enum="orderShippingStatusEnum"
                    :order-actions="orderActions"
                    :shippers="shippers"
                    :transport-companies="transportCompanies"
                />
            </el-dialog>
        </el-main>
    </el-container>
</template>
<script>
    import OrderForm from "./OrderForm";
    import {Helper} from "../../common/helper";

    export default {
        components: {OrderForm},
        props: {
            orders: {
                type: Object,
                default() {
                    return {};
                },
            },
          admin: {
                type: Object,
                default() {
                    return {};
                },
            },
            params: {
                type: Object,
                default() {
                    return {};
                }
            },
            orderStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippingStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            orderStatusEnum: {
                Type: Object,
                default(){
                    return {};
                },
            },
            orderShippingStatusEnum: {
                Type: Object,
                default(){
                    return {};
                },
            },
            orderActions: {
                type: Array,
                default() {
                    return [];
                }
            },
            paymentMethod: {
                type: Array,
                default() {
                    return [];
                }
            },
            paymentStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            shipping_status: {
                type: Array,
                default() {
                    return [];
                }
            },
            receivedMethod: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippers: {
                type: Array,
                default() {
                    return [];
                }
            },
            transportCompanies: {
                type: Array,
                default() {
                    return [];
                }
            },
        },
        data() {
            return {
                filter: {
                    date_from: '',
                    date_to: '',
                    status: '',
                    payment_status: '',
                    shipping_status: '',
                    search: ''
                },
                orderDataSet: this.prepareData(),
                formTitle: '',
                isShowForm: false,
                target: {},
            }
        },

        mounted() {
            this.init();
        },

        methods: {
            init() {
                this.filter.date_from = !this._.isEmpty(this.params.date_from) ? this.params.date_from : '';
                this.filter.date_to = !this._.isEmpty(this.params.date_to) ? this.params.date_to : '';
                this.filter.status = !this._.isEmpty(this.params.status) ? parseInt(this.params.status) : '';
                this.filter.payment_status = !this._.isEmpty(this.params.payment_status) ? parseInt(this.params.payment_status) : '';
                this.filter.shipping_status = !this._.isEmpty(this.params.shipping_status) ? parseInt(this.params.shipping_status) : '';
                this.filter.search = !this._.isEmpty(this.params.search) ? this.params.search : '';
            },
            prepareData() {
                return this._.map(this.orders.data, order => {
                    order.payment_method_name = this._.find(this.paymentMethod, method => method.value === order.payment_method).name;
                    order.received_method_name = this._.find(this.receivedMethod, method => method.value === order.received_method).name;
                    order.status_name = this._.find(this.orderStatus, status => status.value === order.status).name;
                    order.payment_status_name = this._.find(this.paymentStatus, status => status.value === order.payment_status).name;
                    order.shipping_status_name = this._.find(this.shippingStatus, status => status.value === order.shipping_status).name;
                    return order;
                })
            },
            onSuccess(order) {
                this.orderDataSet = this._.map(this.orderDataSet, record => {
                    if (record.id.toString() === order.id.toString()) {
                        order.payment_method_name = this._.find(this.paymentMethod, method => method.value === order.payment_method).name;
                        order.received_method_name = this._.find(this.receivedMethod, method => method.value === order.received_method).name;
                        order.status_name = this._.find(this.orderStatus, status => status.value === order.status).name;
                        order.payment_status_name = this._.find(this.paymentStatus, status => status.value === order.payment_status).name;
                        order.shipping_status_name = this._.find(this.shippingStatus, status => status.value === order.shipping_status).name;
                    }
                    return (record.id.toString() === order.id.toString()) ? order : record;
                });
            },
            handlePaginate(page) {
                this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                if (page > 1) {
                    this.filter.page = page;
                }
                window.location = this.route('shipper.orders_index') + Helper.serializeParams(this.filter);
            },
            hideForm() {
                this.isShowForm = false;
            },
            showForm(target) {
                this.formTitle = this._.isEmpty(target)
                    ? this.$t('admin.common.create')
                    : '#' + target.id;
                this.target = target;
                this.isShowForm = true
            },
        }
    }
</script>
