<template>
    <div class="row">
        <div class="col-md-8">

            <el-card class="box-card">
                <el-header>
                    <div class="left">
                        <h4><strong>Danh sách sản phẩm</strong></h4>
                    </div>
                    <div class="right">
                    </div>
                </el-header>
                <el-table
                    :data="productDataSet"
                    :default-sort="{prop: 'id', order: 'ascending' }"
                    style="width: 100%"
                    :row-class-name="tableRowClassName">
                    >
                    <el-table-column
                        prop="id"
                        label="Mã"
                        sortable
                    />
                    <el-table-column :label="$t('admin.common.image')" width="150">
                        <template slot-scope="scope">
                            <img class="thumbnail" :src="scope.row.image" alt=""/>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        :label="$t('admin.common.product')"
                        width="260"
                        sortable/>
                    <el-table-column
                        prop="price"
                        :label="$t('admin.common.price')"
                        sortable>
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.price)}}đ
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="quantity"
                        :label="$t('admin.common.quantity')"
                        sortable/>

                    <el-table-column :label="$t('admin.common.temp_money')">
                        <template slot-scope="scope">
                            {{ Helper.formatMoney(scope.row.price * scope.row.quantity )}}đ
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Lịch sử ship</strong></h4>
                <el-table
                    :data="target.shipping_histories"
                >
                    <el-table-column
                        prop="admin.name"
                        label="Người xử lý"
                        sortable
                    />

                    <el-table-column
                        prop="shipper.name"
                        label="Người giao hàng"
                        sortable
                    />

                    <el-table-column
                        prop="transport_company.name"
                        label="Đơn vị vận chuyển"
                        sortable
                    />

                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getShippingStatusName(scope.row.status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="note"
                        label="Ghi chú"
                        sortable
                    />

                    <el-table-column
                        prop="created_at"
                        label="Thời gian"
                        sortable
                    />

                </el-table>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Lịch sử xử lý</strong></h4>
                <el-table
                    :data="target.histories"
                >
                    <el-table-column
                        prop="admin.name"
                        label="Người xử lý"
                        sortable
                    />

                    <el-table-column
                        prop="action"
                        :label="$t('admin.common.action')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getActionName(scope.row.action) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="status"
                        :label="$t('admin.common.status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getStatusName(scope.row.status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="payment_status"
                        :label="$t('admin.common.payment_status')"
                        sortable>
                        <template slot-scope="scope">
                            {{ getPaymentStatusName(scope.row.payment_status) }}
                        </template>
                    </el-table-column>

                    <el-table-column
                        prop="note"
                        label="Ghi chú"
                        sortable
                    />

                    <el-table-column
                        prop="created_at"
                        label="Thời gian"
                        sortable
                    />

                </el-table>
            </el-card>
        </div>
        <div class="col-md-4">
            <el-card class="box-card">
                <h4><strong>Thông tin giao hàng</strong></h4>
                <p>Phương thức nhận hàng: {{ form.received_method_name }} </p>
                <p>Khách hàng: {{ form.name }}</p>
                <p>Điện thoại: {{ form.phone }}</p>
                <p>Email: {{ form.email }}</p>
                <p>Địa chỉ: {{ form.address }}, {{ form.district_name }}, {{ form.province_name }}</p>
                <p>Ghi chú: {{ form.note }}</p>
            </el-card>
            <br>
            <el-card v-if="form.has_bill" class="box-card">
                <h4>Thông tin xuất hóa đơn</h4>
                <p>Tên công ty: {{ form.company_name }} </p>
                <p>Mã số thuế: {{ form.company_tax_identification }}</p>
                <p>Địa chỉ công ty: {{ form.company_address }}</p>
                <p>Địa chỉ nhận hóa đơn: {{ form.bill_received_address }}</p>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Thông tin thanh toán</strong></h4>
                <p>Phương thức thanh toán: {{ form.payment_method_name }} </p>
                <p>Tạm tính: {{ Helper.formatMoney(form.temp_money) }}đ</p>
                <p>Phí ship: {{ Helper.formatMoney(form.ship_money) }}đ</p>
                <p>Voucher: <span class="text-success">{{ form.voucher_code }}</span> -{{
                    Helper.formatMoney(form.voucher_discount_value) }}đ</p>
                <p>Thanh toán: <b><span class="text-danger">{{ Helper.formatMoney(form.pay_money) }}đ</span></b></p>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Thông tin Staff</strong></h4>
                <div>
                    <p>Người giao hàng:&nbsp;&nbsp;&nbsp;
                        <el-select
                            v-model="form.shipper_id"
                            filterable
                            clearable
                            :disabled="true"
                        >
                            <el-option
                                v-for="shipper in shippers"
                                :key="shipper.id"
                                :label="shipper.name"
                                :value="shipper.id">
                            </el-option>
                        </el-select>
                    </p>

                    <p>Đơn vị vận chuyển:
                        <el-select
                            v-model="form.transport_company_id"
                            filterable
                            clearable
                            :disabled="true"
                        >
                            <el-option
                                v-for="company in transportCompanies"
                                :key="company.id"
                                :label="company.name"
                                :value="company.id">
                            </el-option>
                        </el-select>
                    </p>

                    <p>Mã vận đơn:
                        <el-input
                            v-model="form.track_code"
                            maxlength="255"
                            show-word-limit
                            :disabled="true"
                        />
                    </p>
                    <p>Phí ship:
                        <el-input
                            v-model="form.ship_money"
                            maxlength="255"
                            show-word-limit
                            :disabled="true"
                        />
                    </p>

                    <p> Trạng thái giao hàng:&nbsp;
                        <el-select
                            v-model="form.shipping_status"
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                            <el-option
                                v-for="status in shippingStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Ghi chú:&nbsp;
                        <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            v-model="form.note_shipping"
                            :disabled="checkOrderCompleted() || checkOrderShippingCompleted()"
                        >
                        </el-input>
                    </p>

                    <el-button
                        type="primary"
                        @click="confirmUpdateShippingInfo()"
                        v-if="!checkOrderCompleted() && !checkOrderShippingCompleted() && Helper.canDo(AdminPermissions.HANDLE_SHIPPING_BILL)"
                    >
                        {{ this.$t('admin.common.save')}}
                    </el-button>
                </div>
            </el-card>
            <br>
            <el-card class="box-card">
                <h4><strong>Trạng thái xử lý</strong></h4>

                <div>
                    <p> Trạng thái đơn hàng:&nbsp;
                        <el-select v-model="form.status"
                                   :disabled="true"
                        >
                            <el-option
                                v-for="status in orderStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Trạng thái thanh toán:
                        <el-select
                            v-model="form.payment_status"
                            :disabled="true"
                        >
                            <el-option
                                v-for="status in paymentStatus"
                                :key="status.value"
                                :label="status.name"
                                :value="status.value">
                            </el-option>
                        </el-select>
                    </p>

                    <p> Ghi chú:&nbsp;
                        <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            v-model="form.note_order_status"
                            :disabled="true"
                        >
                        </el-input>
                    </p>
                </div>
            </el-card>
        </div>
        <el-container class="manager-screen">
            <el-main>
                <update-confirm-dialog
                    :title="this.$t('admin.common.confirm_update')"
                    :visible="isShowConfirmUpdateShippingInfo"
                    :on-confirm="updateShippingInfo"
                    :on-cancel="closeUpdateShippingInfoDialog"
                    :button-type="'primary'"
                />
            </el-main>
        </el-container>
    </div>
</template>

<style>
    .el-table .warning-row {
        background: oldlace;
    }
</style>
<script>

    export default {
        props: {
            onSuccess: {
                type: Function,
                default() {
                    return null;
                }
            },
            onCancel: {
                type: Function,
                default() {
                    return null;
                }
            },
            target: {
                type: Object,
                default() {
                    return {};
                }
            },
            orderStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippingStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            orderStatusEnum: {
                Type: Object,
                default() {
                    return {};
                },
            },
            orderShippingStatusEnum: {
                Type: Object,
                default() {
                    return {};
                },
            },
            paymentStatus: {
                type: Array,
                default() {
                    return [];
                }
            },
            orderActions: {
                type: Array,
                default() {
                    return [];
                }
            },
            shippers: {
                type: Array,
                default() {
                    return [];
                },
            },
            transportCompanies: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                form: this._.clone({...this.target, ...{note_order_status: '', note_shipping: ''}}),
                productDataSet: {
                    Type: Array,
                    default(){
                        return []
                    }
                },
                formTitle: '',
                targetUpdateProduct: {},
                isShowConfirmUpdateShippingInfo: false,
                orderStatusPendingProcessing: [this.orderStatusEnum.PENDING, this.orderStatusEnum.PROCESSING]
            }
        },
        watch: {
            target: async function (updatedRecord) {
                this.form = this._.clone(updatedRecord);
            },
        },
        async created() {
            this.productDataSet = this._.clone(this.target.order_products);
        },
        methods: {
            confirmSubmit () {
                this.isShowConfirmSubmit = true
            },
            closeSubmitDialog() {
                this.isShowConfirmSubmit = false;
            },
            confirmUpdateShippingInfo () {
                this.isShowConfirmUpdateShippingInfo = true
            },
            closeUpdateShippingInfoDialog() {
                this.isShowConfirmUpdateShippingInfo = false;
            },
            tableRowClassName({row}) {
                if(row.qty_goods_missing_in_warehouse && row.qty_goods_missing_in_warehouse > 0) {
                    return 'warning-row';
                }

                return '';
            },
            getStatusName(status) {
                const type = this._.find(this.orderStatus, type => type.value === status);
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getShippingStatusName(status) {
                const type = this._.find(this.shippingStatus, type => type.value === status);
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getPaymentStatusName(status) {
                const type = this._.find(this.paymentStatus, type => type.value === (status === null ? status : status));
                if (this._.isEmpty(type)) {
                    return '';
                }
                return type.name;
            },
            getActionName(action) {
                const action_type = this._.find(this.orderActions, action_type => action_type.value === action);
                if (this._.isEmpty(action_type)) {
                    return 'không rõ';
                }
                return action_type.name;
            },
            checkOrderCompleted() {
                const statusCompleted = [this.orderStatusEnum.SUCCESS, this.orderStatusEnum.ERROR , this.orderStatusEnum.RETURN];

                return statusCompleted.includes(this.target.status);
            },
            checkOrderShippingCompleted() {
                const statusShippingCompleted = [this.orderShippingStatusEnum.SUCCESS, this.orderShippingStatusEnum.FAILED];

                return statusShippingCompleted.includes(this.target.shipping_status);
            },
            onSuccessUpdateShippingInfo(data) {
                this.target.shipping_histories = data.shipping_histories;
                this.target.shipping_status = data.shipping_status;
                this.form.note_shipping = '';
            },
            async updateShippingInfo() {
                this.closeUpdateShippingInfoDialog();
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                try {
                    const uri = this.route('shipper.ajax_update_shipping_info_order', {order: this.form.id});
                    const response = await this.Request.patch(
                        uri,
                        {
                            'shipping_status' : this.form.shipping_status,
                            'note' : this.form.note_shipping
                        }
                    );

                    this.onSuccess(response.data);
                    this.onSuccessUpdateShippingInfo(response.data);

                    this.$notify({
                        type: 'success',
                        title: this.$t('admin.common.success'),
                        message: this.$t('admin.common.updated'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.close();
            },
            handleCancel() {
                this.onCancel();
            }
        }
    }
</script>
