<template>
    <div class="sidebar" data-active-color="green" data-background-color="black">

        <div class="logo">
            <a :href="this.route('index')" class="simple-text logo-normal">
                <img class="logo" :src="logo" alt="Logo">
                <i class="material-icons">local_shipping</i>
                <p>Trang cho shipper</p>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img :src="admin.image" :alt="admin.name" />
                </div>
                <div class="info text-middle">
                    <a :href="this.route('shipper.index')"><span>{{ admin.name }}</span></a>
                </div>
            </div>
            <ul class="nav">
                <template>
                    <li v-for="menu in menues" :key="menu.name" :class="activeRoute === menu.name ? 'active' : ''">
                        <a v-if="!menu.hasOwnProperty('child')" :href="menu.route">
                            <i class="material-icons">{{ menu.icon }}</i>
                            <p> {{ menu.label }} </p>
                        </a>

                        <a v-if="menu.hasOwnProperty('child')" class="nav-link" data-toggle="collapse" :href="'#' + menu.route">
                            <i class="material-icons">{{ menu.icon }}</i>
                            <p> {{ menu.label }}
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div v-if="menu.hasOwnProperty('child')" :class="groupRoute === menu.groupRoute ? '' : 'collapse'" :id="menu.route">
                            <ul class="nav" style="background-color: #1d2b40">
                                <li v-for="itemChild in menu.child" :key="itemChild.name" :class="activeRoute === itemChild.name ? 'active' : ''">
                                    <a class="nav-link" :href="itemChild.route">
                                        <i class="material-icons">{{ itemChild.icon }}</i>
                                        <span class="sidebar-normal"> {{ itemChild.label }} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>
<style scoped>
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
</style>
<script>
    export default {
        props: {
          admin: {
                Type: Object,
                default() {
                    return {};
                },
            },
            activeRoute: {
                Type: String,
                default: '',
            },
            groupRoute: {
                Type: String,
                default: '',
            }
        },
        data() {
            return {
                logo: '/images/logo.png',
                menues: [
                    {
                        name: 'shipper.orders_index',
                        route: this.route('shipper.orders_index'),
                        label: 'Đơn hàng',
                        icon: 'shopping_basket'
                    },
                    {
                        name: 'logout',
                        route: this.route('auth.admin_logout'),
                        label: 'Thoát',
                        icon: 'exit_to_app'
                    }
                ]
            };
        },
    }
</script>
