<template>
<img v-lazy="imgUrl" :alt="imgAlt" :class="imgClass" :style="imgStyle"/>
</template>

<script>
export default {
  props: {
    imgUrl: {
      Type: String,
      default() {
        return '';
      },
    },
    imgAlt: {
      Type: String,
      default() {
        return '';
      },
    },
    imgClass: {
      Type: String,
      default() {
        return '';
      },
    },
    imgStyle: {
      Type: String,
      default() {
        return '';
      },
    },
  }
}
</script>

<style scoped>

</style>