<template>
    <div class="build-panel">
        <h3 class="text-center">Xây dựng cấu hình</h3>
        <table class="table table-bordered">
            <tbody>
            <tr v-for="item in configDataSet" :key="item.category.id">
                <th scope="row">{{ item.category.name }}</th>
                <td>
                    <div class="item row" v-if="!_.isEmpty(item.product)">
                        <div class="col-12 col-md-2">
                            <lazy-image :img-url="Helper.convertJson(item.product.images)[0]" :img-alt="item.name"/>
                        </div>
                        <div class="col-8 col-md-6">
                            <a :href="route('product', { product: item.product.slug })" class="name">{{
                                item.product.name }}</a>
                            <span>SKU: {{ item.product.sku }}</span>
                            <div class="price text-danger">
                                {{ Helper.formatMoney(item.product.price) }} đ
                            </div>
<!--                            <span class="text-success" v-if="!_.isEmpty(item.product.inventory)">Còn hàng</span>-->
<!--                            <span class="text-danger" v-else>Hết hàng</span>-->
                            <div class="btn-quantity">
                                <button :disabled="item.product.quantity < 2" class="btn btn-minus" @click="handleDecreaseQuantity(item.product)">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input class="input-quantity" type="text" v-model="item.product.quantity">
                                <button class="btn btn-plus" @click="handleIncreaseQuantity(item.product)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-4 col-md-4">
                            <button class="btn btn-success" @click="showSelectPanel(item.category)">
                                <i class="fas fa-tools"></i>
                                Chọn sản phẩm khác
                            </button>
                            <button class="btn btn-danger" @click="deleteProduct(item)">
                                <i class="fas fa-trash"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="row" v-else>
                        <button class="btn btn-success" @click="showSelectPanel(item.category)">
                            <i class="fas fa-tools"></i>
                            Chọn sản phẩm
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <h4 class="text-center">Chi phí dự tính: {{ Helper.formatMoney(totalMoney) }}VNĐ</h4>
        <div class="text-center">
            <button class="btn-kow" @click="handleClear">Làm mới</button>
            <button class="btn-kow" @click="handleExportExcel">Tải file excel cấu hình</button>
            <button class="btn-kow" @click="downloadImageConfig">Tải ảnh cấu hình</button>
            <button class="btn-red" @click="handleAddToCart">Thêm vào giỏ hàng</button>
        </div>
        <p class="contact_config">Liên hệ để được tư vấn cấu hình tối ưu : <a class="phone_mobile_config" :href="'tel:' + settings.hotline">{{ settings.hotline }}</a> </p>
        <div v-if="isShowSelectPanel" class="modal fade show bd-example-modal-lg" style="display: block; z-index: 1026; margin-top: 100px"
             tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-filter" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-white p-2">{{ selectPanelTitle }}</h5>
                        <button type="button" class="close" @click="isShowSelectPanel = false">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row filter-panel">
                            <div class="left col-12 col-sm-6 col-md-3 wrap-chuyen-muc">
                                <filter-sidebar
                                    :category="currentCategory"
                                    :attributes="attributes"
                                    :brands="brands"
                                    :prices="priceRange"
                                    :on-submit="handleSubmitAttributes"
                                ></filter-sidebar>
                            </div>
                            <div class="col-12 col-sm-6 col-md-9">
                                <div class="col-12">
                                    <div class="order-list">
                                        <div class="order">
                                            <div class="form-inline ">
                                                <select class="form-control form-control-sm btn-sort"
                                                        v-model="sortBy"
                                                        @change="handleSubmitSorting"
                                                >
                                                    <option value="" disabled>Sắp xếp</option>
                                                    <option v-for="type in sortType"
                                                            :key="type.value"
                                                            :value="type.value">
                                                        {{ type.name }}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right col-12">
                                    <div class="item row" v-for="product in products" :key="product.id">
                                        <div class="col-12 col-md-2">
                                            <lazy-image :img-url="Helper.convertJson(product.images)[0]" :img-alt="product.name"/>
                                        </div>
                                        <div class="col-8 col-md-6">
                                            <a :href="route('product', { product: product.slug })" class="name">{{
                                                product.name }}</a>
                                            <span>SKU: {{ product.sku }}</span>
                                            <div class="price text-danger">
                                                {{ Helper.formatMoney(product.price) }} đ
                                            </div>
<!--                                            <span class="text-success"-->
<!--                                                  v-if="!_.isEmpty(product.inventory)">Còn hàng</span>-->
<!--                                            <span class="text-danger" v-else>Hết hàng</span>-->
                                        </div>
                                        <div class="col-4 col-md-4">
                                            <button class="btn btn-success" @click="handleSelectProduct(product)">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                Chọn
                                            </button>
                                        </div>
                                    </div>
                                    <div class="load-more">
                                        <button v-if="currentPage < lastPage" class="btn btn-success"
                                                @click="handleLoadMore">Xem thêm
                                        </button>
                                    </div>
                                    <p v-if="this._.isEmpty(products)"> Không có sản phẩm nào thõa mãn </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnClosePopup" value="Close" @click="isShowSelectPanel = false"
                               class="btn btn-danger">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import FilterSidebar from './FilterSidebar';
    import html2canvas from 'html2canvas';
    import {mapState, mapMutations} from 'vuex';

    export default {
        components: {FilterSidebar},
        props: {
            settings: {
                Type: Object,
                default() {
                    return {};
                },
            },
            config: {
                Type: Array,
                default() {
                    return [];
                },
            },
            requestParams: {
                Type: Object,
                default() {
                    return {};
                },
            },
            sortType: {
                Type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                cartProducts: [],
                isShowSelectPanel: false,
                selectPanelTitle: '',
                configDataSet: this._.clone(this.config),
                products: [],
                currentCategory: {},
                currentPage: 1,
                lastPage: 1,
                attributes: [],
                brands: [],
                priceRange: [],
                params: {},
                sortBy: this._.isEmpty(this.requestParams.sort) ? '' : this.requestParams.sort
            };
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
            totalMoney() {
                let money = 0;
                this._.forEach(this.configDataSet, config => {
                    if (!this._.isEmpty(config.product)) {
                        money += parseInt(config.product.quantity) * parseInt(config.product.price);
                    }
                });
                return money;
            },
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        mounted() {
            const configProducts = JSON.parse(localStorage.getItem('kow_build_config'));
            if (!this._.isEmpty(configProducts)) {
              this.configDataSet = configProducts;
            }
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            async downloadImageConfig() {
                const loading = this.$loading.show();
                try {
                    let products = [];
                    this._.forEach(this.configDataSet, config => {
                        if (!this._.isEmpty(config.product)) {
                            products.push({
                                name: config.product.name,
                                sku: config.product.sku,
                                price: config.product.price,
                                quantity: config.product.quantity,
                                image: JSON.parse(config.product.images)[0],
                                slug: config.product.slug
                            });
                        }
                    });

                    if(this._.isEmpty(products)) {
                        this.$swal({
                            icon: 'warning',
                            text: 'Vui lòng chọn sản phẩm.',
                        });
                    } else {
                        document.cookie = "kow_build_config=" + JSON.stringify(products);

                        let iframe = document.createElement('iframe');
                        iframe.src = this.route('export_image_config_view');
                        iframe.onload = function() {
                            let height = iframe.contentDocument.documentElement.offsetHeight;
                            html2canvas(iframe.contentDocument.documentElement, {
                                height: height + (height / 20)
                            }).then(canvas => {
                                let a = document.createElement('a');
                                // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
                                a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
                                a.download = 'kowcomputer-xay-dung-cau-hinh.jpg';
                                a.click();
                                //remove the link when done
                                a.remove();
                            });
                        }
                        // just to hide the iframe
                        iframe.style.cssText ='position: absolute; opacity:0; z-index: -9999';
                        document.body.appendChild(iframe);
                        setTimeout(function(){ iframe.remove() }, 2000);
                    }
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

                loading.hide();
            },
            handleAddToCart() {
                try {
                    let isEmptyProductsBuildConfig = true;
                    this._.forEach(this.configDataSet, config => {
                        if (!this._.isEmpty(config.product)) {
                            const product = this._.find(this.cartProducts, cartProduct => {
                                return cartProduct.id === config.product.id;
                            });
                            if (this._.isEmpty(product)) {
                                this.cartProducts.push(config.product);
                            } else {
                                this.cartProducts = this._.map(this.cartProducts, cartProduct => {
                                    if (cartProduct.id === config.product.id) {
                                        cartProduct.quantity += config.product.quantity;
                                    }
                                    return cartProduct;
                                })
                            }

                            isEmptyProductsBuildConfig = false;
                        }
                    });

                    if (isEmptyProductsBuildConfig) {
                        this.$swal({
                            icon: 'warning',
                            text: 'Vui lòng chọn sản phẩm.',
                        });
                    } else {
                        this.setCartProducts(this._.clone(this.cartProducts));
                        localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                        this.$swal({
                            icon: 'success',
                            title: this.$t('admin.common.success'),
                            text: this.$t('shop.add_to_cart_success'),
                        });
                    }
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }
            },
            handleSaveLocal() {
                localStorage.setItem("kow_build_config", JSON.stringify(this.configDataSet));
            },
            handleClear() {
                this.configDataSet = this._.map(this.configDataSet, config => {
                    config.product = {};
                    return config;
                })
                this.handleSaveLocal();
            },
            showSelectPanel(category) {
                // Clear filter, sorting
                this.params.sort = '';
                this.params.brands = [];
                this.params.attributes = [];
                this.params.min = '';
                this.params.max = '';
                this.sortBy = '';

                this.currentCategory = category;
                this.currentPage = 1;
                this.products = [];
                this.loadAttributes();
                this.handleFilter();
            },
            handleSelectProduct(product) {
                this.isShowSelectPanel = false;
                this._.forEach(this.configDataSet, item => {
                    if (item.category.id === this.currentCategory.id) {
                        let clone = this._.clone(product);
                        clone.quantity = 1;
                        item.product = clone;
                    }
                });
                this.handleSaveLocal();
            },
            handleIncreaseQuantity(product) {
                product.quantity++;
                this.handleSaveLocal();
            },
            handleDecreaseQuantity(product) {
                if (product.quantity > 1) {
                    product.quantity--;
                }
                this.handleSaveLocal();
            },
            deleteProduct(item) {
                item.product = null;
                this.handleSaveLocal();
            },
            async handleLoadMore() {
                this.currentPage++;
                await this.handleFilter();
            },
            async handleSubmitAttributes(params) {
                this.params = params;
                this.currentPage = 1;
                this.products = [];
                await this.handleFilter();
            },
            async handleSubmitSorting() {
                this.currentPage = 1;
                this.products = [];
                await this.handleFilter();
            },
            async handleFilter() {
                const loading = this.$loading.show();
                try {
                    this.params.category = this.currentCategory.slug;
                    this.params.page = this.currentPage;
                    if(!this._.isEmpty(this.sortType)) {
                        this.params.sort = this.sortBy;
                    }
                    const uri = this.route('ajax_category_products', this.params);
                    const response = await this.Request.get(uri);
                    this.products = this.products.concat(response.data.data);
                    this.currentPage = response.data.current_page;
                    this.lastPage = response.data.last_page;
                    this.selectPanelTitle = 'Chọn ' + this.currentCategory.name;
                    this.isShowSelectPanel = true;

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.hide();
            },
            async loadAttributes() {
                const loading = this.$loading.show();
                try {
                    const uri = this.route('ajax_category_attributes', {
                        category: this.currentCategory.slug,
                        is_show_on_filter: true
                    });
                    const response = await this.Request.get(uri);
                    this.attributes = response.data.attributes;
                    this.brands = response.data.brands;
                    this.priceRange = response.data.priceRange;

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.hide();
            },
            async handleExportExcel() {
                const loading = this.$loading.show();
                let products = [];
                this._.forEach(this.configDataSet, config => {
                    if(!this._.isEmpty(config.product)) {
                        products.push({
                            name: config.product.name,
                            sku: config.product.sku,
                            price: config.product.price,
                            quantity: config.product.quantity,
                        })
                    }
                });

                if(this._.isEmpty(products)) {
                    this.$swal({
                        icon: 'warning',
                        text: 'Vui lòng chọn sản phẩm.',
                    });
                } else {
                    window.open(this.route('export_config',  products));
                }

                loading.hide();
            }
        }
    }
</script>
