<template>
    <div class="main-bar-cart">
        <a :href="route('cart')"><i class="fas fa-shopping-cart"></i></a>
        <span v-if="totalCount > 0" id="cart-number" >{{ totalCount }}</span>
        <div  v-if="totalCount > 0" class="mini-cart">
            <div class="wrap-item">
                <div class="item" v-for="item in cartProducts" :key="item.id">
                    <div class="wrap-image">
                        <lazy-image :img-url="item.thumbnail" :img-alt="item.name"/>
                    </div>
                    <div class="wrap-info">
                        <a :href="route('product', { product: item.slug })">
                            {{ item.name }}
                        </a>
                        <div class="inff">
                            <p>Qty: {{ item.quantity }}</p>
                            <p class="total-item">{{ Helper.formatMoney(item.price) }}đ</p>
                            <p></p>
                            <a href="#" class="remove-item" @click="handleRemove(item)">
                                <span class="x-del"><i class="fas fa-times"></i></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cart-total">
                <p>{{ $t('shop.total_count_products') }} : {{ totalCount }} </p>
                <p class="total">{{ $t('shop.total_money') }}<span>{{ Helper.formatMoney(totalMoney) }}đ</span></p>
            </div>
            <div class="cart-active">
                <a :href="route('cart')" class="show-more">{{ $t('shop.view_detail') }}</a>
                <a :href="route('checkout')" class="pay-now">{{ $t('shop.checkout_now') }}</a>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        data() {
            return {
                cartProducts: [],
            };
        },
        mounted() {
            const products = JSON.parse(localStorage.getItem('kow_cart'));
            if(!this._.isEmpty(products)) {
                this.cartProducts = products;
                this.setCartProducts(products);
            }
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
            totalMoney() {
                let money = 0;
                this._.forEach(this.cartProducts, item => {
                    money += parseInt(item.quantity) * parseInt(item.price);
                });
                return money;
            },
            totalCount() {
                let count = 0;
                this._.forEach(this.cartProducts, item => {
                    count +=  parseInt(item.quantity);
                });
                return count;
            }
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = this.prepareProduct(products);
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleRemove(item) {
                try {
                    this.cartProducts = this._.remove(this.cartProducts, product => {
                        return product.id !== item.id;
                    });
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                        icon: 'error',
                    });
                }

            },
            prepareProduct(products) {
                return this._.map(products, product => {
                    product.thumbnail = this.Helper.convertJson(product.images)[0];
                    product.money = parseInt(product.quantity) * parseInt(product.price);
                    return product;
                });
            }
        }
    }
</script>
