<template>
   <div>
       <div class="single-qty">
           <p>Chọn số lượng</p>
           <div class="form">
               <button class="item-bt minus-item" @click="handleDecrease">
                   <i class="fa fa-minus" aria-hidden="true"></i>
               </button>
               <input class="quantity-input" type="text" v-model="quantity" @change="handleChangeQuantity">
               <button class="item-bt plus-item" @click="handleIncrease">
                   <i class="fa fa-plus" aria-hidden="true"></i>
               </button>
           </div>
       </div>

       <div class="add-to-cart">
           <button v-if="!displayInPopup" class="buy-now" @click="handleBuyNow">Mua ngay</button>
       </div>
       <div class="add-to-cart">
           <button class="add-cart" @click="handleAddToCart">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               {{ $t('shop.add_to_cart') }}
           </button>
           <button v-if="!displayInPopup" class="add-cart" @click="handleBuyNow">Mua Trả Góp</button>
       </div>
       <div class="contact_detail">
           <div class="in-contact">
               <span class="hotline">HOTLINE : <a href="tel:098 765 3333">1900 636 101</a></span>
           </div>
       </div>
   </div>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props: {
            product: {
                Type: Object,
                default() {
                    return {};
                },
            },
            products: {
                Type: Array,
                default() {
                    return [];
                },
            },
            displayInPopup: {
                Type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                cartProducts: this._.clone(this.products),
                quantity: 1,
            };
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleChangeQuantity() {
                if(parseInt(this.quantity) <= 0) {
                    this.quantity = 1;
                }
            },
            handleDecrease() {
                if(parseInt(this.quantity) > 1) {
                    this.quantity--;
                }
            },
            handleIncrease() {
                this.quantity++;
            },
            handleBuyNow() {
                this.quantity = 1;
                this.handleAddToCart();
                window.location = this.route('checkout');
            },
            handleAddToCart() {
                try {
                    const product = this._.find(this.cartProducts, item => {
                        return item.id === this.product.id;
                    });
                    if(this._.isEmpty(product)) {
                        const item = this._.clone(this.product);
                        item.quantity = this.quantity;
                        this.cartProducts.push(item);
                    } else {
                        this.cartProducts = this._.map(this.cartProducts, item => {
                            if(item.id === this.product.id) {
                                item.quantity += this.quantity;
                            }
                            return item;
                        })
                    }
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                    this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.add_to_cart_success'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

            }
        }
    }
</script>
