<template>
    <div class="entry-cart">
        <div class="cart-item" v-if="totalCount > 0">
            <div class="cart-action clearfix">
                <a class="continue" :href="route('index')">Tiếp tục mua hàng</a>
                <button @click="handleClearCart" class="clear-cart">Xoá giỏ hàng</button>
            </div>

            <div class="entry-item">
                <div v-for="item in cartProducts" :key="item.id" class="item">
                    <div class="item-1">
                        <div class="it-img">
                            <lazy-image :img-url="item.thumbnail" :img-alt="item.name"/>
                        </div>
                        <div class="in-item">
                            <a :href="route('product', { product: item.slug })">{{ item.name }}</a>
                            <a href="#" class="remove-item" @click="handleRemove(item)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                {{ $t('shop.remove_from_cart')}}
                            </a>
                        </div>
                    </div>
                    <div class="item-2">
                        <div class="price-item">
                            <p class="price">{{ Helper.formatMoney(item.price) }}đ</p>
                            <!-- <p>Giảm 51.000đ khi nhập mã <span>PAY022</span></p>-->
                        </div>
                        <div class="qty-item">
                            <button class="item-bt minus-item" @click="handleDecrease(item)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                            <input type="text" v-model="item.quantity" @change="handleChangeQuantity(item)">
                            <button class="item-bt plus-item" @click="handleIncrease(item)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>


                </div>
            </div>

            <!--   <div class="down-catalog">
                         <a href="#">Tải file excel báo giá <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                         <a href="#">Tải ảnh báo giá <i class="fa fa-picture-o" aria-hidden="true"></i></a>
                         </div>
             -->
        </div>
        <div class="cart-check" v-if="totalCount > 0">
            <table>
                <tr>
                    <td>Tạm Tính</td>
                    <td>{{ Helper.formatMoney(totalMoney) }}đ</td>
                </tr>
                <tr>
                    <td>Giảm giá</td>
                    <td>0đ</td>
                </tr>
            </table>

            <div class="notice">
                <p>KOW Computer Miễn phí vận chuyển với đơn hàng tại nội thành Hà Nội</p>
            </div>
            <table>
                <tr>
                    <td>Thành tiền</td>
                    <td>{{ Helper.formatMoney(totalMoney) }}đ<span>(Đã bao gồm VAT)</span></td>
                </tr>
            </table>

            <div class="payment">
                <a class="btn-checkout" :href="route('checkout')">Thanh Toán</a>
            </div>
        </div>
        <div class="cart-empty" v-else>
            <h2 class="text-notification">{{ $t('shop.cart_empty') }}</h2>
            <a class="btn-red" :href="route('index')">Tiếp tục mua hàng</a>
        </div>
    </div>
</template>
<script>
    import {mapState, mapMutations} from 'vuex';

    export default {
        data() {
            return {
                cartProducts: [],
            };
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
            totalMoney() {
                let money = 0;
                this._.forEach(this.cartProducts, item => {
                    money += parseInt(item.quantity) * parseInt(item.price);
                });
                return money;
            },
            totalCount() {
                let count = 0;
                this._.forEach(this.cartProducts, item => {
                    count += parseInt(item.quantity);
                });
                return count;
            }
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleChangeQuantity(item) {
                if (parseInt(item.quantity) <= 0) {
                    item.quantity = 1;
                }
                localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
            },
            handleDecrease(item) {
                if (parseInt(item.quantity) > 1) {
                    item.quantity--;
                }
                localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
            },
            handleIncrease(item) {
                item.quantity++;
                localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
            },
            handleRemove(item) {
                try {
                    this.cartProducts = this._.remove(this.cartProducts, product => {
                        return product.id !== item.id;
                    });
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                    this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.remove_from_cart_success'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

            },
            handleClearCart() {
                this.cartProducts = [];
                this.setCartProducts(this.cartProducts);
                localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
            }
        }
    }
</script>
