<template>
    <div class="row">
        <div v-if="!orderSuccess">
            <h1 class="col-lg-12 title-about">Thanh Toán</h1>

            <div class="col-lg-8 info-checkout">
                <h3>LỰA CHỌN HÌNH THỨC THANH TOÁN</h3>
                <div class="payment">
                    <div class="radio-item">
                        <input checked="checked" id="payment_1" role="radio" type="radio" value="1"
                               v-model="form.payment_method">
                        <label for="payment_1" aria-hidden="true" class="v-label theme--light">Thanh toán tiền mặt khi nhận hàng</label>
                        <span class="style-radio"></span>
                    </div>
<!--                    <div class="radio-item">-->
<!--                        <input aria-checked="true" id="payment_3" role="radio" type="radio"  value="2"  v-model="form.payment_method">-->
<!--                        <label for="payment_3" aria-hidden="true" class="v-label theme&#45;&#45;light">Thanh toán trả góp</label>-->
<!--                        <div class="text-ib">-->
<!--                            Hướng dẫn thanh toán trả góp <a href="https://kowcomputer.com/tin-tuc/chinh-sach-kinh-doanh-4" target="_blank">&nbsp;Xem chi tiết tại đây</a>-->
<!--                        </div>-->
<!--                        <span class="style-radio"></span>-->
<!--                    </div>-->
                    <div class="radio-item">
                        <input aria-checked="true" id="payment_2" role="radio" type="radio"  value="2"  v-model="form.payment_method">
                        <label for="payment_2" aria-hidden="true" class="v-label theme--light">Thanh toán qua chuyển khoản</label>
                        <div class="text-ib">
                            DANH SÁCH STK <a href="https://kowcomputer.com/tin-tuc/thanh-toan-1" target="_blank">&nbsp;Xem chi tiết tại đây</a>
                        </div>
                        <span class="style-radio"></span>
                    </div>
                </div>
                <h3>LỰA CHỌN HÌNH THỨC NHẬN HÀNG</h3>
                <div class="nhan-hang">
                    <div class="radio-item">
                        <input checked="checked" id="nhan_hang" role="radio" type="radio" name="v-radio-115" value="1"
                               v-model="form.received_method">
                        <label for="nhan_hang" aria-hidden="true" class="v-label theme--light">Giao hàng tận nơi</label>
                        <span class="style-radio"></span>
                    </div>
                    <div class="radio-item">
                        <input id="nhan_hang2" role="radio" type="radio" name="v-radio-115" value="2"
                               v-model="form.received_method">
                        <label for="nhan_hang2" aria-hidden="true" class="v-label theme--light">Nhận hàng tại showroom</label>
                        <span class="style-radio"></span>
                    </div>
                </div>


                <div class="wrap-nhan-hang-tan-noi check-show" v-if="form.received_method.toString() === '1'">
                    <h3>ĐIỀN THÔNG TIN NHẬN HÀNG</h3>
                    <div class="address-content">
                        <table>
                            <tr>
                                <td>Họ tên <span>*</span></td>
                                <td colspan="2">
                                    <input type="text"
                                           placeholder="Nhập họ tên đầy đủ"
                                           required="required"
                                           v-model="form.name">
                                </td>
                            </tr>
                            <tr>
                                <td>Điện thoại di động <span>*</span></td>
                                <td colspan="2">
                                    <input type="tel"
                                           placeholder="Nhập số điện thoại"
                                           required="required"
                                           v-model="form.phone">
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ email <span>*</span></td>
                                <td><input type="email"
                                           placeholder="Nhập địa chỉ email"
                                           required="required"
                                           v-model="form.email">
                                </td>
                            </tr>
                            <tr>
                                <td>Tỉnh/Thành phố <span>*</span></td>
                                <td class="per50">
                                    <select v-model="form.province" @change="handleChangeProvince">
                                        <option v-for="(item, key) in provinces" :key="key" :value="key">{{ item.name }}</option>
                                    </select>
                                </td>
                                <td class="per50">
                                    <select v-model="form.district" @change="handleChangeDistrict">
                                        <option v-for="(item, key) in districts" :key="key" :value="key">{{ item }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ giao hàng <span>*</span></td>
                                <td><textarea v-model="form.address" rows="3"
                                              placeholder="Nhập địa chỉ nhận hàng"></textarea></td>
                            </tr>
                            <tr>
                                <td>Ghi chú</td>
                                <td><textarea rows="3" placeholder="Ghi chú cho nhân viên giao hàng"
                                              v-model="form.note"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="nhan-hang-showroom check-show" v-if="form.received_method.toString() === '2'">
                    <h3>DANH SÁCH SHOWROOM CÓ HÀNG</h3>
                    <table>
                        <tr>
                            <td>
                                <select v-model="form.province" placeholder="Chọn Tỉnh/Thành phố"
                                        @change="handleChangeProvince">
                                    <option v-for="(item, key) in provinces" :key="key" :value="key">{{ item.name }}</option>
                                </select>
                            </td>
                            <td><input type="text" placeholder="Chọn Showroom" required="required"
                                       v-model="form.showroom"></td>
                            <td><input type="datetime-local" placeholder="Chọn thời gian nhận hàng" required="required"
                                       v-model="form.received_time"></td>
                        </tr>
                    </table>

                    <h3>ĐIỀN THÔNG TIN NHẬN HÀNG</h3>
                    <div class="address-content">
                        <table>
                            <tr>
                                <td>Họ tên <span>*</span></td>
                                <td colspan="2"><input type="text" placeholder="Nhập họ tên đầy đủ" v-model="form.name">
                                </td>
                            </tr>
                            <tr>
                                <td>Điện thoại di động <span>*</span></td>
                                <td colspan="2"><input type="tel" placeholder="Nhập số điện thoại" v-model="form.phone">
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ email <span>*</span></td>
                                <td><input type="email" placeholder="Nhập địa chỉ email" v-model="form.email"></td>
                            </tr>
                            <tr>
                                <td>Ghi chú</td>
                                <td><textarea rows="3" placeholder="Ghi chú cho nhân viên giao hàng"
                                              v-model="form.note"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div :class="classShowBill">
                    <div class="hoa-don-checkbox">
                        <input id="has_bill" aria-label="Yêu cầu xuất hóa đơn" role="checkbox" type="checkbox"
                               v-model="form.has_bill">
                    </div>
                    <label aria-hidden="true" for="has_bill" class="v-label theme--light">Yêu cầu xuất hóa đơn</label>

                    <div class="hoa-don-content" v-if="form.has_bill">
                        <table>
                            <tr>
                                <td>Tên công ty <span>*</span></td>
                                <td><input v-model="form.company_name" type="text" placeholder="Nhập tên công ty"></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ trên hóa đơn <span>*</span></td>
                                <td><textarea v-model="form.company_address" rows="3"
                                              placeholder="Nhập địa chỉ trên hóa đơn"></textarea></td>
                            </tr>
                            <tr>
                                <td>Mã số thuế <span>*</span></td>
                                <td><input type="text" v-model="form.company_tax_identification"
                                           placeholder="Nhập mã số thuế"></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ nhận hóa đơn <span>*</span></td>
                                <td><textarea v-model="form.bill_received_address" rows="3"
                                              placeholder="Nhập địa chỉ nhận hóa đơn"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <h4>MÃ GIỚI THIỆU MUA HÀNG TẠI {{ settings.name }}</h4>
                <div class="form-ma-gt">
                    <input v-model="form.referral_code" type="text"
                           placeholder="Đây là mã giới thiệu, không có giá trị giảm giá cho đơn hàng"
                           class="affiliate-input">
                </div>
                <div class="v-btn__content">
                    <button class="white--text text-capitalize" @click="handleSubmitOrder">Hoàn tất</button>
                </div>
            </div>
            <div class="col-lg-4 cart-checkout">
                <div class="cart-title">
                    <h3>Giỏ Hàng</h3>
                    <a :href="route('cart')"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa giỏ hàng</a>
                </div>
                <div class="cart-checkout">
                    <div class="item" v-for="item in cartProducts" :key="item.id">
                        <div class="it-img">
                            <lazy-image :img-url="item.thumbnail" :img-alt="item.name"/>
                        </div>
                        <div class="in-item">
                            <a :href="route('product', { product: item.slug })">{{ item.name }}</a>
                            <div class="price-item">
                                <p>{{ Helper.formatMoney(item.price) }}đ</p>
                                <p>x{{ item.quantity }}</p>
                                <p class="price">= {{ Helper.formatMoney(item.money) }}đ</p>
                            </div>
<!--                            <p>Giảm 51.000đ khi nhập mã <span>PAY022</span></p>-->
                        </div>
                    </div>

                    <div class="check_coupon">
                        <p v-if="_.isEmpty(voucher)">Bạn có Mã giảm giá không?</p>
                        <p v-else>Bạn được giảm {{ Helper.formatMoney(discountMoney) }}đ</p>
                        <div :class="!_.isEmpty(voucher) ? 'input check-ok' : 'input' ">
                            <input type="text" placeholder="Nhập mã giảm giá" v-model="form.voucher_code">
                            <input v-if="_.isEmpty(voucher)" type="submit" value="Kiểm tra" @click="handleApplyVoucher">
                            <input v-else type="submit" value="Hủy" @click="handleRemoveVoucher">
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td>Tạm tính</td>
                            <td>{{ Helper.formatMoney(totalMoney) }}</td>
                        </tr>
                        <tr>
                            <td>Giảm giá:</td>
                            <td v-if="_.isEmpty(voucher)">0đ</td>
                            <td v-else>-{{ Helper.formatMoney(discountMoney) }}đ</td>
                        </tr>
                        <tr class="speaial">
                            <td>Giảm giá thanh toán trực tuyến:</td>
                            <td>-0đ</td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td>0đ</td>
                        </tr>
                        <tr>
                            <td>Thành tiền</td>
                            <td class="special-price">{{  Helper.formatMoney(totalMoney - discountMoney) }}<span>(Đã bao gồm VAT)</span>
                            </td>
                        </tr>
                    </table>

                    <!--<div class="payment">
                        <div class="noti-pay">
                            <p>Lựa chọn hình thức thanh toán trực tuyến và VNPAY-QR để được giá tốt hơn nữa</p>
                        </div>
                    </div>-->
                </div>
                <div class="cart-notice">
                    <ul>
                        <li>
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <p>Miễn phí vận chuyển với đơn hàng tại nội thành Hà Nội</p>
                        </li>
                        <li>
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <p>Hỗ trợ online 24/7</p>
                        </li>
                        <li>
                            <i class="fa fa-shield" aria-hidden="true"></i>
                            <p>Thanh toán bảo mật</p>
                        </li>
                        <li>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <p>Tham khảo ý kiến tại Cộng đồng Máy tính chơi game & thiết kế đồ họa số 1 thị trường -<a href="https://www.facebook.com/groups/kowgroup">KOW Computer</a> </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="col-lg-8 info-checkout">
                <h1>ĐẶT HÀNG THÀNH CÔNG</h1>
                <div class="payment">
                    <p>Cảm ơn quý khách đã đặt hàng tại {{ settings.name }}!</p>
                    <p>Đơn hàng #{{ order.id }} đã được tạo thành công. Nhân viên KOW sẽ liên hệ bạn trong vòng 24h để xác nhận và thực hiện đơn hàng.
                        Để kiểm tra đơn hàng vui lòng đăng nhập vào website. Nếu Quý khách có yêu cầu đặc biệt, vui lòng liên hệ nhân viên tư vấn qua Facebook KOW Cyber hoặc hotline
                        {{ settings.hotline }}.
                    </p>
                </div>
                <div class="v-btn__content">
                    <a class="white--text text-capitalize btn-red" :href="route('index')">Tiếp tục mua hàng</a>
                </div>
            </div>

            <div class="col-lg-4 cart-checkout">
                <div class="cart-title">
                    <h3>SẢN PHẨM ĐÃ MUA</h3>
                </div>
                <div class="cart-checkout">
                    <div class="item" v-for="item in oldProducts" :key="item.id">
                        <div class="it-img">
                            <lazy-image :img-url="item.thumbnail" :img-alt="item.name"/>
                        </div>
                        <div class="in-item">
                            <a :href="route('product', { product: item.slug })">{{ item.name }}</a>
                            <div class="price-item">
                                <p>{{ Helper.formatMoney(item.price) }}đ</p>
                                <p>x{{ item.quantity }}</p>
                                <p class="price">= {{ Helper.formatMoney(item.money) }}đ</p>
                            </div>
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td>Tạm tính</td>
                            <td>{{ Helper.formatMoney(order.temp_money) }}</td>
                        </tr>
                        <tr>
                            <td>Giảm giá:</td>
                            <td>{{ Helper.formatMoney(order.discount_money) }}</td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td>0đ</td>
                        </tr>
                        <tr>
                            <td>Thành tiền</td>
                            <td class="special-price">{{ Helper.formatMoney(order.pay_money) }}<span>(Đã bao gồm VAT)</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
    import {mapState, mapMutations} from 'vuex';
    import {vnProvinces} from '../../data/list_provinces';
    export default {
        props: {
            user: {
                Type: Object,
                default() {
                    return {};
                },
            },
            settings: {
                Type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                order: {},
                oldProducts: [],
                orderSuccess: false,
                cartProducts: [],
                provinces: [],
                districts: [],
                voucher: {},
                discountMoney: 0,
                form: {
                    payment_method: '1',
                    received_method: '1',
                    name: '',
                    phone: '',
                    province: 'HANOI',
                    province_name: 'TP. Hà Nội',
                    district: 'QUANBADINH',
                    district_name: 'Quận Ba Đình',
                    address: '',
                    email: '',
                    note: '',
                    showroom: '',
                    received_time: '',
                    referral_code: '',
                    voucher_code: '',
                    has_bill: false,
                    company_name: '',
                    company_address: '',
                    company_tax_identification: '',
                    bill_received_address: '',
                }
            };
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
            totalMoney() {
                let money = 0;
                this._.forEach(this.cartProducts, item => {
                    money += parseInt(item.quantity) * parseInt(item.price);
                });
                return money;
            },
            totalCount() {
                let count = 0;
                this._.forEach(this.cartProducts, item => {
                    count += parseInt(item.quantity);
                });
                return count;
            },
            classShowBill() {
                return this.form.has_bill ? 'form-hoa-don hoa-don-show' : 'form-hoa-don';
            }
        },
        created() {
            this.provinces = vnProvinces;
            this.districts = vnProvinces.HANOI.cities;
        },
        mounted() {
            if (!this._.isEmpty(this.user)) {
                this.form.name = this.user.name;
                this.form.phone = this.user.phone;
                this.form.email = this.user.email;
            }
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleChangeProvince() {
                const province = this._.find(this.provinces, (province, key) => key === this.form.province);
                this.form.province_name = province.name;
                this.districts = province.cities;
                this.form.district = Object.keys(province.cities)[0];
                this.form.district_name = province.cities[0];
            },
            handleChangeDistrict() {
                this.form.district_name = this._.find(this.districts, (district, key) => key === this.form.district);
            },
            handleRemoveVoucher() {
                this.voucher = {};
                this.form.voucher_code = '';
                this.discountMoney = 0;
            },
            async handleApplyVoucher() {
                const loading = this.$loading.show();
                try {
                    const uri = this.route('check_voucher');
                    const form = {
                        voucher: this.form.voucher_code,
                        products: this.cartProducts,
                        phone: this.form.phone,
                        email: this.form.email,
                    };
                    const response = await this.Request.post(uri, form);
                    this.voucher =  response.data.voucher;
                    this.discountMoney =  response.data.discount_money;

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.hide();
            },
            async handleSubmitOrder() {
                const loading = this.$loading.show();
                try {
                    const uri = this.route('order');
                    this.form.products = this.cartProducts;
                    const response = await this.Request.post(uri, this.form);
                    this.orderSuccess = true;
                    this.order = response.data;
                    this.oldProducts = this._.clone(this.cartProducts);
                    this.cartProducts = [];
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));

                    await this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.order_success'),
                    });

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    await this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
                loading.hide();
            }
        }
    }
</script>
