<template>
    <div id="filter-bar" class="cm-filter">
        <div class="content-filter single-filter">
            <div class="af-bf">
                <p>BỘ LỌC</p>
            </div>
            <ul class="bs-filter">
<!--                <li :class="'filter-item '+ isActive(price)">-->
<!--                    <a-->
<!--                        href="#"-->
<!--                        data-toggle="collapse"-->
<!--                        :aria-expanded="isExpand(price)"-->
<!--                        :class="'dropdown ' + isCollapsed(price)"-->
<!--                        @click="handleToogleAttr(price)"-->
<!--                    >-->
<!--                        Giá-->
<!--                    </a>-->
<!--                    <ul :class="'collapse list-unstyled ' + isActive(price)">-->
<!--                        <li>-->
<!--                            <div class="range">-->
<!--                                <div class="value-min">-->
<!--                                    <input v-model="price.min" @input="handleChangePrice">-->
<!--                                </div>-->
<!--                                <span class="minis">-</span>-->
<!--                                <div class="value-max">-->
<!--                                    <input v-model="price.max" @input="handleChangePrice">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <vue-slider-->
<!--                                ref="priceSlider"-->
<!--                                v-model="priceRange"-->
<!--                                :min="0"-->
<!--                                :max="100000000"-->
<!--                                :interval="100000"-->
<!--                                @change="handleSlidePrice"-->
<!--                            />-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li v-if="!_.isEmpty(childCategoriesDataSet.values)" :class="'filter-item '+ isActive(childCategoriesDataSet)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(childCategoriesDataSet)"
                        :class="'dropdown '"
                        @click="handleToogleAttr(childCategoriesDataSet)"
                    >
                        Danh mục
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(childCategoriesDataSet)">
                        <li>
                            <div class="brand-item d-block">
                                <a v-for="category in childCategoriesDataSet.values"
                                    :key="category.id"
                                    :href="route('category', { category: category.slug })"
                                     :class="'btn-attribute'"
                                >{{ category.name }}</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li v-if="!_.isEmpty(brandsDataSet.values)" :class="'filter-item '+ isActive(brandsDataSet)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(brandsDataSet)"
                        :class="'dropdown ' + isCollapsed(brandsDataSet)"
                        @click="handleToogleAttr(brandsDataSet)"
                    >
                        Thương hiệu
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(brandsDataSet)">
                        <li>
                            <div class="brand-item d-block">
                                <div v-for="brand in brandsDataSet.values"
                                     :key="brand.id"
                                     :class="brand.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                     @click="handleSelectAttr(brand)"
                                >{{ brand.name }}</div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li v-if="!_.isEmpty(priceRangeDataSet.values)" :class="'filter-item '+ isActive(priceRangeDataSet)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(priceRangeDataSet)"
                        :class="'dropdown ' + isCollapsed(priceRangeDataSet)"
                        @click="handleToogleAttr(priceRangeDataSet)"
                    >
                        Khoảng giá
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(priceRangeDataSet)">
                        <li>
                            <div class="brand-item d-block">
                                <div v-for="range in priceRangeDataSet.values"
                                     :key="range.value"
                                     :class="range.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                     @click="handleSelectAttr(range)"
                                >{{ range.name }}</div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li v-for="attribute in attributesDataSet"
                    :key="attribute.id"
                    :class="'filter-item '+ isActive(attribute)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(attribute)"
                        :class="'dropdown ' + isCollapsed(attribute)"
                        @click="handleToogleAttr(attribute)">
                        {{ attribute.name }}
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(attribute)">
                        <li>
                            <div class="brand-item  d-block">
                                <div v-for="item in attribute.values"
                                     :key="item.id"
                                     :class="item.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                     @click="handleSelectAttr(item)"
                                >{{ item.value }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
<!--            <div v-show="hasFilterValue" class="submit-filter">-->
<!--                <button @click="handleSubmit" class="btn-red">LỌC NGAY</button>-->
<!--                <button @click="handleClear" class="btn">XÓA BỘ LỌC</button>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>
    // import VueSlider from 'vue-slider-component';
    import 'vue-slider-component/theme/antd.css';

    export default {
        // components: {
        //     VueSlider
        // },
        props: {
            params: {
                Type: Object,
                default() {
                    return {};
                },
            },
            category: {
                Type: Object,
                default() {
                    return {};
                },
            },
            attributes: {
                Type: Array,
                default() {
                    return [];
                },
            },
            brands: {
                Type: Array,
                default() {
                    return [];
                },
            },
            priceRangeCheckbox: {
                Type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                price: {
                    min:  this.handleFormatMoney(10000),
                    max:  this.handleFormatMoney(10000000),
                    is_expand: true,
                },
                priceRange: [10000, 10000000],
                brandsDataSet: {
                    is_expand: false,
                    values: [],
                },
                priceRangeDataSet: {
                    is_expand: false,
                    values: [],
                },
                attributesDataSet: {},
                childCategoriesDataSet: {
                    is_expand: true,
                    values: this.category.children,
                },
                hasFilterValue: true,
            };
        },
        created() {
            if(!this._.isEmpty(this.params.min)) {
                this.price.min = this.handleFormatMoney(this.params.min);
                this.hasFilterValue = true;
            }
            if(!this._.isEmpty(this.params.max)) {
                this.price.max = this.handleFormatMoney(this.params.max);
                this.hasFilterValue = true;
            }

            this.attributesDataSet = this._.map(this.attributes, attribute => {
                let isSet = false;
                attribute.values = this._.map( attribute.values, value => {
                    const item = this._.isEmpty(this.params.attributes) ? '' : this._.find(this.params.attributes, attribute => attribute.toString() === value.id.toString());
                    value.is_selected = !this._.isEmpty(item);
                    if(value.is_selected) {
                        isSet = true;
                    }
                    return value;
                });
                attribute.is_expand = isSet;
                if(isSet) {
                    this.hasFilterValue = true;
                }
                return attribute;
            });
            this.brandsDataSet.values = this._.map(this.brands, brand => {
                const item = this._.isEmpty(this.params.brands) ? '' : this._.find(this.params.brands, item => item.toString() === brand.id.toString());
                brand.is_selected = !this._.isEmpty(item);
                if(brand.is_selected) {
                    this.brandsDataSet.is_expand = true;
                    this.hasFilterValue = true;
                }
                return brand;
            });

            this.priceRangeDataSet.values = this._.map(this.priceRangeCheckbox, range => {
                let item = '';
                if(!this._.isEmpty(this.params.min) && !this._.isEmpty(this.params.max)) {
                    if(this.params.min.toString() === range.min.toString() && this.params.max.toString() === range.max.toString()) {
                        item = range;
                    }
                }

                range.is_selected = !this._.isEmpty(item);
                if(range.is_selected) {
                    range.selected_timestamp = new Date().getTime();
                    this.priceRangeDataSet.is_expand = true;
                    this.hasFilterValue = true;
                }

                return range;
            });
        },
        mounted() {
            this.handleChangePrice();
        },
        methods: {
            isActive(attribute) {
                return (attribute.is_expand) ? 'fade show active' : '';
            },
            isExpand(attribute) {
                return (attribute.is_expand) ? 'true' : 'false';
            },
            isCollapsed(attribute) {
                return (attribute.is_expand) ? 'collapsed' : '';
            },
            handleToogleAttr(attribute) {
                attribute.is_expand = !attribute.is_expand;
            },
            handleSelectAttr(attribute) {
                attribute.is_selected = !attribute.is_selected;
                if(attribute.is_selected) {
                    attribute.selected_timestamp = new Date().getTime();
                    this.hasFilterValue = true;
                }

                this.handleSubmit();
            },
            handleFormatMoney(number) {
                return this.Helper.formatMoney(number);
            },
            handleClear() {
                this._.forEach(this.attributesDataSet, attribute => {
                    this._.forEach(attribute.values, item => {
                       item.is_selected = false;
                    });
                });
                this._.forEach(this.brandsDataSet.values, item => {
                    item.is_selected = false;
                });
                this.hasFilterValue = false;

                window.location.href = window.location.href.split('?')[0];
            },
            handleSlidePrice() {
                this.price.min =  this.handleFormatMoney(this.priceRange[0]);
                this.price.max =  this.handleFormatMoney(this.priceRange[1]);
            },
            handleChangePrice() {
                if (this._.isEmpty(this.price.min)) {
                    this.price.min = 0;
                }

                if (this._.isEmpty(this.price.max)) {
                    this.price.max = 0;
                }

                this.$refs.priceSlider.setValue([
                    this.Helper.inputMoneyToInt(this.price.min),
                    this.Helper.inputMoneyToInt(this.price.max)
                ]);
            },
            handleSubmit() {
                let attrIds = [];
                this._.forEach(this.attributesDataSet, attribute => {
                    this._.forEach(attribute.values, item => {
                        if(item.is_selected) {
                            attrIds.push(item.id);
                        }
                    });
                });

                let brandIds = [];
                this._.forEach(this.brandsDataSet.values, item => {
                    if(item.is_selected) {
                        brandIds.push(item.id);
                    }
                });

                let requestParams = this._.isEmpty(this.params) ? {} : this._.clone(this.params);
                if(this.routeName === 'category') {
                    requestParams.category = this.category.id;
                }

                let newPriceRangeSelectedTimestamp = 0;
                requestParams.min = '';
                requestParams.max = '';
                this._.forEach(this.priceRangeDataSet.values, item => {
                    if(item.is_selected) {
                        let itemSelectedTimestamp = item.selected_timestamp;
                        if(itemSelectedTimestamp > newPriceRangeSelectedTimestamp) {
                            requestParams.min = this.Helper.inputMoneyToInt(item.min);
                            requestParams.max = this.Helper.inputMoneyToInt(item.max);

                            newPriceRangeSelectedTimestamp = item.selected_timestamp;
                        }
                    }
                });

                requestParams.attributes = attrIds;
                requestParams.brands = brandIds;
                // requestParams.min = this.Helper.inputMoneyToInt(this.price.min);
                // requestParams.max = this.Helper.inputMoneyToInt(this.price.max);
                requestParams.page = 1;
                window.location = this.route(this.routeName, requestParams);
            }
        }
    }
</script>
