<template>
    <div class="">
        <div class="form-group">
            <input
                class="search"
                :placeholder="this.$t('admin.common.search')"
                v-model="search"
                v-on:keyup.enter="handleSubmit()"
            />
        </div>
        <div class="content-filter single-filter">
            <ul class="bs-filter">
<!--                <li :class="'filter-item '+ isActive(price)">-->
<!--                    <a-->
<!--                        href="#"-->
<!--                        data-toggle="collapse"-->
<!--                        :aria-expanded="isExpand(price)"-->
<!--                        :class="'dropdown ' + isCollapsed(price)"-->
<!--                        @click="handleToogleAttr(price)"-->
<!--                    >-->
<!--                        Giá-->
<!--                    </a>-->
<!--                    <ul :class="'collapse list-unstyled ' + isActive(price)">-->
<!--                        <li>-->
<!--                            <div class="range">-->
<!--                                <div class="value-min">-->
<!--                                    <input v-model="price.min" @input="handleChangePrice">-->
<!--                                </div>-->
<!--                                <span class="minis">-</span>-->
<!--                                <div class="value-max">-->
<!--                                    <input v-model="price.max" @input="handleChangePrice">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <vue-slider-->
<!--                                ref="priceSlider"-->
<!--                                v-model="priceRange"-->
<!--                                :min="0"-->
<!--                                :max="100000000"-->
<!--                                @change="handleSlidePrice"-->
<!--                            />-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
                <li v-if="!_.isEmpty(brandsDataSet.values)" :class="'filter-item '+ isActive(brandsDataSet)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(brandsDataSet)"
                        :class="'dropdown ' + isCollapsed(brandsDataSet)"
                        @click="handleToogleAttr(brandsDataSet)"
                    >
                        Thương hiệu
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(brandsDataSet)">
                        <li>
                            <div class="brand-item d-block">
                                <div v-for="brand in brandsDataSet.values"
                                     :key="brand.id"
                                     :class="brand.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                     @click="handleSelectAttr(brand)"
                                >{{ brand.name }}</div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li v-if="!_.isEmpty(priceRangeDataSet.values)" :class="'filter-item '+ isActive(priceRangeDataSet)">
                    <a
                        href="#"
                        data-toggle="collapse"
                        :aria-expanded="isExpand(priceRangeDataSet)"
                        :class="'dropdown ' + isCollapsed(priceRangeDataSet)"
                        @click="handleToogleAttr(priceRangeDataSet)"
                    >
                        Khoảng giá
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(priceRangeDataSet)">
                        <li>
                            <div class="brand-item d-block">
                                <div v-for="range in priceRangeDataSet.values"
                                     :key="range.value"
                                     :class="range.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                     @click="handleSelectAttr(range)"
                                >{{ range.name }}</div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li v-for="attribute in attributesDataSet"
                    :key="attribute.id"
                    :class="'filter-item '+ isActive(attribute)">
                    <a
                            href="#"
                            data-toggle="collapse"
                            :aria-expanded="isExpand(attribute)"
                            :class="'dropdown ' + isCollapsed(attribute)"
                            @click="handleToogleAttr(attribute)"
                    >
                        {{ attribute.name }}
                    </a>
                    <ul :class="'collapse list-unstyled ' + isActive(attribute)">
                        <li>
                            <div class="brand-item d-block">
                                <div v-for="item in attribute.values"
                                    :key="item.id"
                                    :class="item.is_selected ? 'btn-attribute selected' : 'btn-attribute'"
                                    @click="handleSelectAttr(item)"
                                >{{ item.value }}</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
<!--            <div>-->
<!--                <button @click="handleSubmit" class="btn-red">ÁP DỤNG</button>-->
<!--                <button @click="handleClear" class="btn">XÓA BỘ LỌC</button>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>
    // import VueSlider from 'vue-slider-component';
    import 'vue-slider-component/theme/antd.css';

    export default {
        // components: {
        //     VueSlider
        // },
        props: {
            onSubmit: {
                Type: Function,
                default() {
                    return null;
                }
            },
            category: {
                Type: Object,
                default() {
                    return {};
                },
            },
            attributes: {
                Type: Array,
                default() {
                    return [];
                },
            },
            brands: {
                Type: Array,
                default() {
                    return [];
                },
            },
            prices: {
                Type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                price: {
                    min:  this.handleFormatMoney(10000),
                    max:  this.handleFormatMoney(100000000),
                    is_expand: true,
                },
                priceRange: [10000, 10000000],
                brandsDataSet: {
                    is_expand: false,
                    values: [],
                },
                priceRangeDataSet: {
                    is_expand: false,
                    values: [],
                },
                attributesDataSet: {},
                search: '',
            };
        },
        created() {
            this.initAttributes(this.attributes);
            this.initBrands(this.brands);
            this.initPriceRange(this.prices);
        },
        watch: {
            attributes(data) {
                this.initAttributes(data);
            },
            brands(data) {
               this.initBrands(data);
            },
            prices(data) {
                this.initPriceRange(data);
            }
        },
        methods: {
            initBrands(data) {
                this.brandsDataSet.values = this._.map(data, brand => {
                    let clone = this._.clone(brand);
                    clone.is_selected = false;
                    return clone;
                });
            },
            initPriceRange(data) {
                this.priceRangeDataSet.values = this._.map(data, range => {
                    let clone = this._.clone(range);
                    clone.is_selected = false;
                    return clone;
                });
            },
            initAttributes(data) {
                this.attributesDataSet = this._.map(data, attribute => {
                    const clone = this._.cloneDeep(attribute);
                    clone.is_expand = false;
                    clone.values = this._.map(clone.values, value => {
                        value.is_selected = false;
                        return value;
                    });
                    return clone;
                });
            },
            isActive(attribute) {
                return (attribute === 'price' || attribute === 'brand' || attribute.is_expand) ? 'fade show active' : '';
            },
            isExpand(attribute) {
                return (attribute === 'price' || attribute === 'brand' || attribute.is_expand) ? 'true' : 'false';
            },
            isCollapsed(attribute) {
                return (attribute === 'price' || attribute === 'brand' || attribute.is_expand) ? 'collapsed' : '';
            },
            handleToogleAttr(attribute) {
                attribute.is_expand = !attribute.is_expand;
            },
            handleSelectAttr(attribute) {
                attribute.is_selected = !attribute.is_selected;

                if(attribute.is_selected) {
                    attribute.selected_timestamp = new Date().getTime();
                }

                this.handleSubmit();
            },
            handleFormatMoney(number) {
                return this.Helper.formatMoney(number);
            },
            handleClear() {
                this._.forEach(this.attributesDataSet, attribute => {
                    this._.forEach(attribute.values, item => {
                       item.is_selected = false;
                    });
                });
                this._.forEach(this.brandsDataSet.values, item => {
                    item.is_selected = false;
                });
            },
            handleSlidePrice() {
                this.price.min =  this.handleFormatMoney(this.priceRange[0]);
                this.price.max =  this.handleFormatMoney(this.priceRange[1]);
            },
            handleChangePrice() {
                this.$refs.priceSlider.setValue([
                    this.Helper.inputMoneyToInt(this.price.min),
                    this.Helper.inputMoneyToInt(this.price.max)
                ]);
            },
            handleSubmit() {
                let attrIds = [];
                this._.forEach(this.attributesDataSet, attribute => {
                    this._.forEach(attribute.values, item => {
                        if(item.is_selected) {
                            attrIds.push(item.id);
                        }
                    });
                });
                let brandIds = [];
                this._.forEach(this.brandsDataSet.values, item => {
                    if(item.is_selected) {
                        brandIds.push(item.id);
                    }
                });

                let requestParams = {};

                let newPriceRangeSelectedTimestamp = 0;
                let newPriceRangeSelectedKey = null;
                requestParams.min = '';
                requestParams.max = '';
                this._.forEach(this.priceRangeDataSet.values, (item, key) => {
                    if(item.is_selected) {
                        let itemSelectedTimestamp = item.selected_timestamp;
                        if(itemSelectedTimestamp > newPriceRangeSelectedTimestamp) {
                            requestParams.min = this.Helper.inputMoneyToInt(item.min);
                            requestParams.max = this.Helper.inputMoneyToInt(item.max);

                            newPriceRangeSelectedTimestamp = item.selected_timestamp;

                            if(newPriceRangeSelectedKey !== null) {
                                this.priceRangeDataSet.values[newPriceRangeSelectedKey].is_selected = false;
                            }

                            newPriceRangeSelectedKey = key;
                        } else {
                            if(newPriceRangeSelectedKey !== null) {
                                this.priceRangeDataSet.values[key].is_selected = false;
                            }
                        }
                    }
                });

                requestParams.category = this.category.id;
                requestParams.attributes = attrIds;
                requestParams.brands = brandIds;
                // requestParams.min = this.Helper.inputMoneyToInt(this.price.min);
                // requestParams.max = this.Helper.inputMoneyToInt(this.price.max);
                if(!this._.isEmpty(this.search)) {
                    requestParams.search = this.search;
                }
                this.onSubmit(requestParams);
            }
        }
    }
</script>
