<template>
    <a v-if="!_.isEmpty(userLogin)" :href="route('user.order')" class="main-bar-news">
        <i class="fas fa-user-circle" area-hidden="true"></i>
        <div class="ri-info">
            <p>Thông tin tài khoản</p>
        </div>
    </a>
    <a v-else :href="route('auth.user_login')" class="main-bar-news">
        <i class="fas fa-user-circle" area-hidden="true"></i>
        <div class="ri-info">
            <p>Đăng nhập Đăng ký</p>
        </div>
    </a>
</template>
<script>
    import {mapState, mapMutations} from 'vuex';

    export default {
        props: {
            user: {
                Type: Object,
                default() {
                    return {};
                },
            }
        },
        data() {
            return {
                userLogin: {},
            };
        },
        mounted() {
            if (!this._.isEmpty(this.user)) {
                this.userLogin = this.user;
                this.setUser(this.user);
            }
        },
        computed: {
            ...mapState({
                getUser: state => state.userStore.user,
            }),
        },
        watch: {
            getUser(user) {
                this.userLogin = user;
            },
        },
        methods: {
            ...mapMutations([
                'setUser',
            ]),
        }
    }
</script>
