<template>
  <div class="regis-login" v-if="_.isEmpty(userDataSet)">
    <div class="login-tab">
      <ul class="nav nav-tabs">
        <li :class="action === 'login' ? 'nav-item active' : 'nav-item'">
          <a href="#" class="nav-link" @click="action = 'login'" >Đăng nhập</a>
        </li>
        <li :class="action === 'register' ? 'nav-item active' : 'nav-item'"  v-if="action !== 'register' && guard ==='user'" >
          <a href="#" class="nav-link"  @click="action = 'register'">Đăng ký</a>
        </li>
      </ul>
      <div class="tab-content">
        <div v-if="action === 'login'" class="tab-pane fade show active">
          <div class="tab-login">
            <div class="wrap-u">
              <input type="text" placeholder="Email hoặc tên đăng nhập" v-model="form.email" name="email">
            </div>
            <div class="wrap-pas">
              <input type="password"
                     placeholder="Mật khẩu"
                     v-model="form.password"
                     @keyup.enter="handleSubmitLogin"
                     name="password"
              >
            </div>
            <button @click="handleSubmitLogin">Đăng Nhập</button>
            <hr>
            <a href="#"  @click="action = 'forget'" >Quên mật khẩu ?</a>
            <div class="or-login">
              <p>Hoặc đăng nhập bằng</p>
              <a  :href="route('auth.facebook_login')"><button>Facebook</button></a>
            </div>
          </div>
        </div>
        <div  v-if="action === 'register'" class="tab-pane fade show active">
          <div class="tab-regis">
            <div class="wrap-item">
              <input type="text" placeholder="Họ và tên" v-model="formRegister.name"  name="name">
            </div>
            <div class="wrap-item">
              <input type="text" placeholder="Tên đăng nhập" v-model="formRegister.username" name="username">
            </div>
            <div class="wrap-item">
              <input type="email" placeholder="Địa chỉ email" v-model="formRegister.email" name="email">
            </div>
            <div class="wrap-item">
              <input type="text" placeholder="Số điện thoại" v-model="formRegister.phone" name="phone">
            </div>
            <div class="wrap-item">
              <input type="password" name="password" placeholder="Mật khẩu" v-model="formRegister.password">
            </div>
            <div class="wrap-item">
              <input type="password"  name="re_password" placeholder="Nhập lại mật khẩu" v-model="formRegister.password_confirm">
            </div>
            <button @click="handleSubmitRegister">Đăng Ký</button>
          </div>
        </div>
        <div v-if="action === 'forget'" class="tab-pane fade show active">
          <div class="tab-login">
            <div class="wrap-u">
              <input type="email" v-model="formForget.email"
                     name="email"
                     placeholder="Email...">
            </div>
            <button @click="handleSubmitForget" >Đặtlại mật khẩu</button>
            <div class="or-login">
              <button  @click="action = 'login'" >Quay lại Đăng nhập</button>
            </div>
          </div>
        </div>
        <div v-if="action === 'reset'" class="tab-pane fade show active">
          <div class="tab-login">
            <div class="wrap-pas">
              <input type="password" v-model="formReset.password"
                     name="password"
                     placeholder="Mật khẩu...">
            </div>
            <div class="wrap-pas">
              <input type="password" v-model="formReset.password_confirm"  placeholder="Nhập lại mật khẩu...">
            </div>
            <button @click="handleSubmitReset" >Đặtlại mật khẩu</button>
            <div class="or-login">
              <button @click="action = 'login'" >Quay lại Đăng nhập</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';

export default {
  props: {
    guard: {
      Type: String,
      default: ''
    },
    screen: {
      Type: String,
      default: ''
    },
    token: {
      Type: String,
      default: ''
    },
    user: {
      Type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      formReset: {
        password: '',
        password_confirm: ''
      },
      formForget: {
        email: '',
      },
      formRegister: {
        name: '',
        email: '',
        username: '',
        phone: '',
        password: '',
        password_confirm: ''
      },
      action: this.screen,
      userDataSet: this.user,
    };
  },
  methods: {
    ...mapMutations([
      'setUser',
    ]),
    handleLogin() {
      this.action = 'login';
    },
    handleRegister() {
      this.action = 'register';
    },
    handleForgetPassword() {
      this.action = 'forget';
    },
    async handleSubmitReset() {
      const loading = this.$loading.show();
      try {
        const uri = this.guard === 'admin'
            ? this.route('auth.reset_admin_password', {token: this.token})
            : this.route('auth.reset_user_password', {token: this.token});
        const response = await this.Request.post(uri, this.formReset);
        this.user = response.data.user;

        this.$swal({
          icon: 'success',
          title: this.$t('admin.common.success'),
          text: this.$t('auth.password_updated'),
        });
        const redirectUri = this.route('index');
        setTimeout(function () {
          window.location = redirectUri;
        }, 1000)
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$swal({
          icon: 'error',
          title: this.$t('admin.common.error'),
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.hide();
    },
    async handleSubmitForget() {
      const loading = this.$loading.show();
      this.$swal({
        icon: 'warning',
        title: 'Thông báo',
        text: 'Đang gửi email liên kết đặt lại mật khẩu...!',
      });
      try {
        const uri = this.guard === 'admin' ? this.route('auth.create_admin_reset_password_token') : this.route('auth.create_user_reset_password_token');
        await this.Request.post(uri, this.formForget);
        this.handleLogin();
        this.$swal({
          icon: 'success',
          title: this.$t('admin.common.success'),
          text: this.$t('auth.create_reset_password_success'),
        });
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$swal({
          icon: 'error',
          title: this.$t('admin.common.error'),
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.hide();
    },
    async handleSubmitLogin() {
      const loading = this.$loading.show();
      try {
        const uri = this.guard === 'admin' ? this.route('auth.admin_login') : this.route('auth.user_login');
        const response = await this.Request.post(uri, this.form);
        this.user = response.data.user;
        this.$swal({
          icon: 'success',
          title: this.$t('admin.common.success'),
          text: this.$t('auth.login_success'),
        });

        const redirectUri = this.guard === 'admin' ? this.route('admin.index') : this.route('index');
        setTimeout(function () {
          window.location = redirectUri;
        }, 1000)
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$swal({
          icon: 'error',
          title: this.$t('admin.common.error'),
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.hide();
    },
    async handleSubmitRegister() {
      const loading = this.$loading.show();
      try {
        const uri = this.route('auth.register_user');
        const response = await this.Request.post(uri, this.formRegister);
        this.user = response.data.user;
        this.$swal({
          icon: 'success',
          title: this.$t('admin.common.success'),
          text: this.$t('auth.register_success'),
        });
        const redirectUri = this.route('index');
        setTimeout(function () {
          window.location = redirectUri;
        }, 1000)

      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$swal({
          icon: 'error',
          title: this.$t('admin.common.error'),
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.hide();
    },

  }
}
</script>
