<template>
  <div class="check-order">
    <div class="searh-order">
      <h3>Danh sách đơn hàng của bạn</h3>
      <div class="form-search">
        <form :action="route('user.order')" method="GET">
          <input type="text" name="id" placeholder="Tìm kiếm đơn hàng">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <div v-if="!_.isEmpty(orders.data)" class="order-table">
        <div class="order-table-title">
          <p class="first-col">Mã đơn</p>
          <p class="third-col">Tình trạng</p>
          <p class="second-col">Ngày đặt</p>
        </div>

        <div v-for="order in orders.data" :key="order.id" class="order-table-row" @click="handleViewOrder(order)">
          <p class="first-col">#{{ order.id }}</p>
          <p class="third-col">{{ getStatusName(order.status) }}</p>
          <p class="second-col">{{ order.created_at }}</p>
        </div>
      </div>
      <div class="notice">
        <p>(*) Để biết thông tin chính xác về tình trạng đơn hàng, Quý khách vui lòng liên hệ CSKH - 18006865 hoặc
          Fanpage để được giải đáp</p>
      </div>
    </div>
    <div v-if="!_.isEmpty(order)" class="detail-order">
      <h3>Chi tiết đơn hàng</h3>
      <div class="status">
        <div class="header-status">
          <p class="id-order">Đơn hàng <span>#{{ order.id }}</span></p>
          <p class="order-date">Đặt ngày {{ order.created_at }}</p>
        </div>
        <div class="middle-status"></div>
        <div class="notice-status">
          <p v-if="order.status === orderStatusEnum.PENDING">
            Đơn hàng đang được kiểm tra, nhân viên KOW Cyber sẽ liên hệ Quý khách trong thời gian sớm nhất.
            Để được hỗ trợ vui lòng liên hệ Facebook KOW Cyber hoặc Hotline 18006865 (Miễn phí)
          </p>
          <p v-if="order.status === orderStatusEnum.PROCESSING">
            Đơn hàng đang được xử lý. Để được hỗ trợ vui lòng liên hệ Facebook KOW Cyber hoặc Hotline 18006865 (Miễn
            phí)
          </p>
          <p v-if="order.status === orderStatusEnum.SUCCESS">
            Đơn hoàn. Để được hỗ trợ vui lòng liên hệ Facebook KOW Cyber hoặc Hotline 18006865 (Miễn phí)
          </p>
          <p v-if="order.status === orderStatusEnum.ERROR">
            Đơn hàng lỗi. Để được hỗ trợ vui lòng liên hệ Facebook KOW Cyber hoặc Hotline 18006865 (Miễn phí)
          </p>
        </div>
      </div>
      <div class="info-order">
        <div class="info-ship">
          <h4>Thông tin giao hàng</h4>
          <p><span>Khách hàng:</span> {{ order.name }}</p>

          <p><span>Địa chỉ:</span>
            {{ order.address }},
            {{ order.district_name }},
            {{ order.province_name }}
          </p>

          <p><span>SĐT:</span> {{ order.phone }}</p>
          <br><hr>
          <div v-if="order.shipping_histories.length > 0">
            <h3 class="text-bold">Lịch sử giao hàng</h3>
            <ul class="timeline">
              <li v-for="history in order.shipping_histories" :key="history.id">
                <b>{{ getShippingStatusName(history.status) }}</b>
                <a href="#" class="float-right">{{ history.created_at }}</a>
                <p>{{ history.note }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-order">
          <h4 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
              aria-controls="collapseExample">Hoá đơn <small>(bấm vào để xem danh sách sản phẩm)</small></h4>
          <div class="collapse" id="collapseExample">
            <div v-for="product in order.order_products" :key="product.id" class="item-container">
              <div class="img-wrap">
                <lazy-image :img-url="product.image" :img-alt="product.name" width="75px"/>
              </div>
              <div class="item-info">
                <a :href="route('product', { product: product.product.slug })" class="item-name">{{ product.name }}</a>
                <div class="price-outer">
                  <p class="unit-price">{{ Helper.formatMoney(product.price) }}đ</p>
                  <p class="quantity">x{{ product.quantity }}</p>
                  <p class="item-price">{{ Helper.formatMoney(product.price * product.quantity) }}đ</p>
                </div>

                <p>{{ Helper.formatMoney(product.price) }}đ</p>
              </div>
            </div>

          </div>

          <div class="price-order">
            <div class="bottom-line">
              <p>Tạm tính</p>
              <p>{{ Helper.formatMoney(order.temp_money) }}đ</p>
            </div>
            <div class="bottom-line">
              <p>Giảm giá</p>
              <p>{{ Helper.formatMoney(order.voucher_discount_value) }}đ</p>
            </div>
            <div class="bottom-line">
              <p>Phí vận chuyển</p>
              <p>0đ</p>
            </div>
            <div class="bottom-line">
              <p>Thành tiền</p>
              <p class="total-price">{{ Helper.formatMoney(order.pay_money) }}đ</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  props: {
    user: {
      Type: Object,
      default() {
        return {};
      },
    },
    orders: {
      Type: Array,
      default() {
        return [];
      },
    },
    orderStatus: {
      Type: Array,
      default() {
        return [];
      },
    },
    shippingStatus: {
      Type: Array,
      default() {
        return [];
      },
    },
    orderStatusEnum: {
      Type: Object,
      default() {
        return {};
      },
    },

  },
  data() {
    return {
      order: {},
    };
  },
  methods: {
    getStatusName(status) {
      const type = this._.find(this.orderStatus, type => type.value.toString() === status.toString());
      if (this._.isEmpty(type)) {
        return '';
      }
      return type.name;
    },
    getShippingStatusName(status) {
      const type = this._.find(this.shippingStatus, type => type.value === status);
      if (this._.isEmpty(type)) {
        return '';
      }
      return type.name;
    },
    handleViewOrder(order) {
      this.order = order;
    },
  }
}
</script>
<style scoped>
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
</style>
