<template>
    <!-- ---------Modal--------- -->
    <div v-if="!_.isEmpty(productDataSet)" class="modal fade show" id="popup-product" tabindex="-1" role="dialog" aria-labelledby="basicModal" style="display: block; padding-right: 15px;">
        <div class="modal-dialog modal-lg my-modal">
            <div class="modal-content">
                <div class="modal-header mod-head">
                    <button  @click="productDataSet = {}"  type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-img">
                            <div class="show-img">
                                <lazy-image :img-url="thumbnail" img-alt=""/>
                            </div>
                            <div class="thumb-img">
                                <div class="thumb-item" v-for="image in images" :key="image">
                                    <lazy-image :img-url="image" img-alt="" @mouseover="thumbnail = image"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mod-title">
                            <h5>{{ productDataSet.name }}</h5>
                        </div>
                        <div class="mod-desc">
                            <ul>
                                <li>SKU: {{ productDataSet.sku }}</li>
                            </ul>
                        </div>
                        <div class="mod-price"><h3>Giá: {{ Helper.formatMoney(productDataSet.price )}}đ</h3></div>

                        <cart-plugin :product="productDataSet" :products="cartProducts" :display-in-popup="true"></cart-plugin>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ---------Modal--------- -->
</template>
<script>
    import { mapState } from 'vuex';
    import CartPlugin from "./CartPlugin";

    export default {
        components: { CartPlugin },
        data() {
            return {
                productDataSet: {},
                cartProducts: [],
                thumbnail: '',
                images: '',
            }
        },
        computed: {
            ...mapState({
                getProduct: state => state.productStore.product,
                getCartProducts: state => state.cartStore.products,
            }),
        },
        watch: {
            getProduct(data) {
                this.productDataSet = data;
                this.activeClass = 'modal fade show';
                this.images = this.Helper.convertJson(data.images);
                this.thumbnail = this.images[0];
            },
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
    }
</script>
