<template>
    <div class="ss-product" :id="'list-products-cat' + category.id">
        <div class="product-title">
            <div class="s-tab-ct">
                <ul class="nav nav-tabs small justify-content-start" role="tablist">
                    <h2 style="margin-right: 30px"><i class="fa fa-tag" aria-hidden="true"></i> {{ category.name }}</h2>
                    <template v-for="item in category.descendants">
                        <li
                            v-if="item.parent_id === category.id"
                            :key="item.id"
                            class="nav-item">
                            <a v-if = "item.name != 'XEM TẤT CẢ'" :class="currentCategory.id === item.id ? 'nav-link active show' : 'nav-link'"
                               data-toggle="tab"
                               :href="'#tab-cat-'+ item.id"
                               role="tab"
                               @click="handleLoadTabProduct(item)"
                            >
                                {{ item.name }}
                            </a>
                            <a v-else :class="currentCategory.id === item.id ? 'nav-link active show' : 'nav-link'"
                               :href="'https://kowcomputer.com/danh-muc-san-pham/'+ item.slug"
                            >
                                {{ item.name }}
                            </a>

                        </li>
                    </template>

                </ul>
                <div class="tab-content py-4">
                    <div class="product-content" v-if="!_.isEmpty(products)">
                        <div class="tab-flex">
                            <div class="cat-pro" v-if="!_.isEmpty(category.banner)">
                                <a :href="category.banner_link"><lazy-image :img-url="category.banner" :img-alt="category.name"/></a>
                            </div>
                            <div :class="!_.isEmpty(category.banner) ? 'width-82' : 'width-100'">
                                <carousel
                                    class="product-carousel"
                                    :perPageCustom="[[1600, 5], [1366, 4], [1024, 3],[768, 2], [0, 1]]"
                                    :navigationEnabled="true"
                                    :autoplay="false"
                                    :paginationEnabled="false"
                                    navigationPrevLabel="<i class='fa fa-chevron-left'></i>"
                                    navigationNextLabel="<i class='fa fa-chevron-right'></i>"
                                >
                                    <slide v-for="product in products"
                                           :key="product.id">
                                        <product-item :product="product"></product-item>
                                    </slide>
                                </carousel>
                            </div>
                        </div>
                        <div class="load-more">
                            <a :href="route('category', { category: category.slug })" class="view-all-btn">Xem tất cả</a>
                        </div>
                    </div>
                    <div class="product-content" v-else>
                        <p class="text-center">Loại sản phẩm này đang cập nhật, bạn vui lòng quay lại sau...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ProductItem from './ProductItem';

    export default {
        components: { ProductItem },
        props: {
            category: {
                Type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                products: [],
                currentCategory: {},
            }
        },
        mounted () {
            window.addEventListener('scroll', this.initFirstLoad);
        },
        methods: {
            async initFirstLoad() {
                const offsetTop = document.getElementById('list-products-cat' + this.category.id).offsetTop;
                const top = (window.pageYOffset || document.documentElement.scrollTop)  - (document.documentElement.clientTop || 0);
                if(top >= (offsetTop - 800)) {
                    window.removeEventListener('scroll', this.initFirstLoad);
                    this.currentCategory = this.category;

                    await this.handleLoadTabProduct(this.currentCategory.id);
                }
            },
            async handleLoadTabProduct(category) {
                try {
                    const uri = this.route('ajax_category_products', { category });
                    const response = await this.Request.get(uri);
                    this.products = response.data.data;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
            }
        }
    }
</script>
