<template>
    <div>
        <button class="icon-seen d-lg-block d-none d-sm-none d-sm-none d-xs-none" type="button"
                @click="handleToogleShow"><i class="fa fa-eye"></i>SẢN PHẨM VỪA XEM
        </button>
        <div :class="classActive">
            <h6><i class="fa fa-eye"></i>CÁC SẢN PHẨM VỪA XEM</h6>
            <div class="sp-seen">
                <div class="bestsell-pro row" v-for="product in products" :key="product.id">
                    <a :title="product.name" :href="route('product', { product: product.slug })" class="b-img col-md-3">
                        <lazy-image :img-url="Helper.convertJson(product.images)[0]" :img-alt="product.name"/>
                    </a>
                    <div class="b-i-title col-md-7">
                        <a :title="product.name" :href="route('product', { product: product.slug })">{{
                            Helper.strLimit(product.name, 40) }}</a>
                        <p>{{ Helper.formatMoney(product.price) }} đ</p>
                    </div>
                    <div class="item col-md-2">
                        <button @click="handleAddToCart(product)" title="Thêm vào giỏ hàng">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapMutations} from 'vuex';

    export default {
        props: {
            product: {
                Type: Object,
                default() {
                    return {};
                },
            }
        },

        data() {
            return {
                isShow: false,
                classActive: 'sp-seen-prod collapse',
                products: [],
                cartProducts: [],
            }
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        mounted() {
            const products = JSON.parse(localStorage.getItem('kow_products_recently'));
            if (!this._.isEmpty(products)) {
                this.products = products;
            }
            if (!this._.isEmpty(this.product)) {
                const item = this._.find(this.products, item => item.id === this.product.id);
                if (this._.isEmpty(item)) {
                    this.products.push(this.product);
                }
            }
            localStorage.setItem("kow_products_recently", JSON.stringify(this.products));
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleToogleShow() {
                this.isShow = !this.isShow;
                this.classActive = this.isShow ? 'sp-seen-prod collapse show' : 'sp-seen-prod collapse';
            },
            handleAddToCart(target) {
                try {
                    const product = this._.find(this.cartProducts, item => {
                        return item.id === target.id;
                    });
                    if (this._.isEmpty(product)) {
                        target.quantity = 1;
                        this.cartProducts.push(target);
                    } else {
                        this.cartProducts = this._.map(this.cartProducts, item => {
                            if (item.id === target.id) {
                                item.quantity++;
                            }
                            return item;
                        })
                    }
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                    this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.add_to_cart_success'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

            }
        }
    }
</script>
