<template>
  <div class="card">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col-md-10">
          <h4 class="w-75">Sản phẩm đã mua</h4>
        </div>
        <div class="col-md-2 float-right">
          <button class="btn-send-warranty"
                  @click="showForm"
                  data-toggle="modal"
                  data-target="#warrantyModal"
                  :disabled="_.isEmpty(multipleSelection)"
          >
            Gửi bảo hành
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="right-align">
      </div>
      <el-table
          ref="multipleTable"
          :data="inventories"
          style="width: 100%"
          class="table table-bordered"
          @selection-change="handleSelectionChange"
      >
        <el-table-column
            type="selection"
            width="55">
        </el-table-column>
        <el-table-column
            prop="product.name"
            label="Sản phẩm"
            width="555">
          <template slot-scope="scope">
            <a :href="route('product', { product: scope.row.product.slug })" target="_blank"
               class="text-success"> {{ scope.row.product.name }}</a>
          </template>
        </el-table-column>
        <el-table-column
            prop="serial"
            label="Serial"
            sortable/>
        <el-table-column
            prop="order_id"
            label="Mã đơn hàng"
            sortable/>
        <el-table-column
            prop="exported_at"
            label="Ngày xuất kho"
            sortable/>
        <el-table-column
            prop="warranty_end"
            label="Bảo hành đến"
            sortable/>
      </el-table>
    </div>
    <div class="modal fade" id="warrantyModal" tabindex="-1" role="dialog" aria-labelledby="warrantyModalTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Gửi phiếu yêu cầu bảo hành</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Tên của bạn</label>
              <input type="text" v-model="form.customer_name" class="form-control" id="name"
                     placeholder="Tên của bạn">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" v-model="form.customer_email" class="form-control" id="email"
                     placeholder="Email">
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại liên hệ</label>
              <input type="text"
                     v-model="form.customer_phone"
                     class="form-control" id="phone" placeholder="Số điện thoại">
            </div>
            <div class="form-group">
              <label for="address">Địa chỉ</label>
              <input type="text"
                     v-model="form.customer_address"
                     class="form-control" id="address" placeholder="Địa chỉ">
            </div>
            <div class="form-group">
              <label>Ảnh hiện trạng sản phẩm</label>
              <div class="row thumb-row">
                <div class="col-sm-3 col-xs-6" v-for="(image, index) in fileLinks" :key="index">
                  <div class="thumb-box">
                    <img :src="image" :id="index"/>
                    <a class="remove-image" @click="handleRemoveImage(image)" style="display: inline;">&#215;</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <el-upload
                  class="upload-demo"
                  ref="upload"
                  name="upload"
                  :multiple="true"
                  :http-request="handleUploadAndGetLink"
                  :show-file-list="false"
                  :action="this.route('admin.ajax_upload_file')"
                  :auto-upload="true">
                <el-button slot="trigger" size="small" type="primary" class="btn btn-success">Chọn ảnh</el-button>
                <small class="text-danger">Bạn có thể chọn nhiều ảnh cùng lúc</small>
              </el-upload>
            </div>
            <div class="form-group">
              <el-table
                  ref="multipleTable"
                  :data="form.products"
                  style="width: 100%"
                  class="table table-bordered"
              >
                <el-table-column
                    prop="product.name"
                    label="Tên sản phẩm"
                    sortable/>

                <el-table-column
                    prop="before"
                    label="Tình trạng"
                    sortable
                >
                  <template slot-scope="scope">
                    <textarea type="text" class="form-control" v-model="scope.row.before"
                              placeholder="Vui lòng nhập tình trạng sản phẩm" required>
                    </textarea>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" @click="handleSendWarranty">Yêu cầu bảo hành</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<style scope>
.btn-send-warranty{
  padding: 9px 10px;
  background: #ef383e;
  text-align: center;
  color: yellow;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: 0.1s ease-in-out;
  border: none;
}
.btn-send-warranty:disabled {
  background: #303030;
  color: white;
}
.thumb-box {
  position: relative;
  background: #000;
  padding: 3px;
  margin: 10px 0;
}

.thumb-box img {
  width: 100%;
  height: 145px;
}

.remove-image {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 21px/20px sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.remove-image:hover {
  background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
  right: -11px;
  cursor: pointer;
}

.remove-image:active {
  background: #E54E4E;
  top: -10px;
  right: -11px;
}

/**/
@media (max-width: 767px) {
  .thumb-row {
    margin-left: -2%;
    margin-right: -2%;
  }

  .thumb-row [class*=col-] {
    padding-left: 2%;
    padding-right: 2%;
  }

}
</style>
<script>
export default {
  props: {
    inventories: {
      Type: Object,
      default() {
        return {};
      },
    },
    user: {
      Type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      fileLinks: [],
      target: {
        id: '',
      },
      form: {
        customer_name: '',
        customer_email: '',
        customer_phone: '',
        customer_address: '',
        products: [],
      },
      multipleSelection: []
    }
  },
  methods: {
    showForm() {
      this.form = {
        customer_name: this._.clone(this.user.name),
        customer_email: this._.clone(this.user.email),
        customer_phone: this._.clone(this.user.phone),
        customer_address: this._.clone(this.user.address),
        products: this._.clone(this.multipleSelection)
      }
    },
    handleSubmitUpload() {
      this.$refs.upload.submit();
    },
    async handleUploadAndGetLink(data) {
      try {
        let formData = new FormData();
        formData.append('upload', data.file);
        const uri = this.route('ajax_upload_anonymous');
        const response = await this.Request.upload(uri, formData);
        this.fileLinks.push(response.data.url);
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        console.log(e); //eslint-disable-line
        this.$notify({
          icon: 'error',
          title: 'Lỗi',
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    handleRemoveImage(file) {
      this.fileLinks.splice(this.fileLinks.indexOf(file), 1);
    },
    async handleSendWarranty() {
      try {

        let newData = {
          customer_name: this.form.customer_name,
          customer_email: this.form.customer_email,
          customer_phone: this.form.customer_phone,
          customer_address: this.form.customer_address,
          products: this.form.products.map(product => this._.pick(product, ['product_id', 'before', 'serial', 'product_name'])),
          images: this.fileLinks
        };

        const uri = this.route('user.report_warranty');
        await this.Request.post(uri, newData);
        await this.$swal({
          icon: 'success',
          title: 'Thành công',
          text: 'Chúng tôi đã nhận được thông báo bảo hành! Nhân viên sẽ liên lạc với bạn để tư vấn và hỗ trợ trong thời gian sớm nhất!',
        });
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        console.log(e); //eslint-disable-line
        await this.$swal({
          icon: 'error',
          title: 'Lỗi',
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val.map(function (el) {
        let o = Object.assign({}, el);
        o.before = "";
        o.product_name = o.product.name;
        return o;
      });
    }

  }
}
</script>
