<template>
    <div class="single-img">
        <div class="wrap-img">
            <div class="show-img">
                <lazy-image :img-url="thumbnailDefault" img-alt=""/>
            </div>
            <div class="thum-img">
                <div class="thum-item" v-for="image in images" :key="image">
                  <img :src="image" :alt="product.name" @mouseover="thumbnailDefault = image"/>
                </div>

            </div>
        </div>
        <div :class="'popup-single-img ' +classPopup">
            <div class="pop-overlay"></div>
            <div class="pop-content">
                <div class="pop-close" @click="isShowPopup = false"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="img-pop">
                    <lazy-image :img-url="thumbnailDefault" img-alt=""/>
                </div>
                <div class="content-pop">
                    <h3>{{ product.name }}</h3>

                    <div class="pop-price">
                        <p>Giá niêm yết</p>
                        <p class="price-ol">{{ this.Helper.formatMoney(product.price) }}đ</p>
                    </div>

                    <div class="thum-img">
                        <div class="thum-item" v-for="image in images" :key="image">
                          <img :src="image" :alt="product.name" @mouseover="thumbnailDefault = image"/>
                        </div>
                    </div>
                    <div class="action">
                        <cart-plugin :product="product"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import CartPlugin from './CartPlugin';

    export default {
        components: { CartPlugin },
        props: {
            thumbnail: {
                Type: String,
                default: '',
            },
            images: {
                Type: Array,
                default() {
                    return [];
                },
            },
            product: {
                Type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                isShowPopup: false,
                thumbnailDefault: this._.clone(this.thumbnail),
            }
        },
        computed: {
            classPopup() {
                return this.isShowPopup ? 'pop-show' : '';
            }
        }
    }
</script>
