<template>
    <div class="item">
            <div class="item-w">
                <div class="discount" v-if="product.listed_price > product.price">
                    <i class="fas fa-bolt"></i>
                    <p></p>
                    <span v-if="product.show_percent_discount">GIẢM {{ Math.round((parseInt(product.listed_price) - parseInt(product.price)) / product.listed_price * 100) }}%</span>
                    <span v-else>GIẢM {{ Helper.formatMoney(parseInt(product.listed_price) - parseInt(product.price)) }}đ</span>
                </div>
				<div class="discount" v-if="product.listed_price <= product.price">
                    <i class="fas fa-bolt"></i>
                    <p></p>
                    <span>GIẢM 0đ</span>
                </div>
                <div class="wrap-k2-image">
                    <a :href="route('product', { product: product.slug })"
                       class="title-post" :title="product.name">
                        <lazy-image img-style="width:200px; height:200px;" :img-url="Helper.convertJson(product.images)[0]" :img-alt="product.name"/>
                    </a>
                    <!--<span  v-if="!inStock" class="item-contact">Liên Hệ</span>-->
                </div>
                <div class="wrap-k2-info">

                    <a :href="route('product', { product: product.slug })"
                       class="title-post" data-toggle="tooltip" :title="product.name">
                        {{ product.name }}
                    </a>

                    <div class="price-label">
                        <div class="product-price">
                            <p>{{ Helper.formatMoney(product.price) }} đ</p>
                            <p class="fs12" v-if="product.listed_price">{{ Helper.formatMoney(product.listed_price) }} đ</p>
                        </div>
                        <div class="btn-prod">
                            <button type="button" title="Xem nhanh" data-toggle="modal" data-target="popup-product" @click="setProduct(product)">
                                <i class="far fa-eye"></i>
                            </button>
                            <button  @click="handleAddToCart" title="Thêm vào giỏ hàng">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';

    export default {
        props: {
            product: {
                Type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                cartProducts: [],
                quantity: 1,
                inStock: true,
            };
        },
        created() {
            this.inStock = !this._.isEmpty(this.product.inventory);
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
                'setProduct'
            ]),
            handleAddToCart() {
                try {
                    const product = this._.find(this.cartProducts, item => {
                        return item.id === this.product.id;
                    });
                    if(this._.isEmpty(product)) {
                        const item = this._.clone(this.product);
                        item.quantity = this.quantity;
                        this.cartProducts.push(item);
                    } else {
                        this.cartProducts = this._.map(this.cartProducts, item => {
                            if(item.id === this.product.id) {
                                item.quantity += this.quantity;
                            }
                            return item;
                        })
                    }
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                    this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.add_to_cart_success'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

            }
        }
    }
</script>
