<template>
    <div class="dropdown">
        <form role="search"
              class="searchform"
              autocomplete="off"
              :action="route('search')"
              method="GET"
        >
            <div class="flex-row-s clearfix">
                <input v-model="search"
                       autocomplete="off"
                       type="search"
                       name="search"
                       class="search-field"
                       placeholder="Nhập tên sản phẩm, mã sản phẩm, từ khóa cần tìm..."
                       @input="delaySearch"
                >
                <button type="submit"
                        class="submit-button btn-search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
        <div class="dropdown-menu search-dropdown show" v-if="!_.isEmpty(products) && isShowDropdown">
            <a v-for="product in products"
               :key="product.id"
               class="dropdown-item"
               :href="route('product', { product: product.slug })">
                <div class="row">
                    <div class="col-md-4 col-lg-2">
                        <lazy-image :img-url="Helper.convertJson(product.images)[0]"/>
                    </div>
                    <div class="col-md-8 col-lg-10">
                        <p class="text-name">{{ product.name }}</p>
                        <p class="text-price">{{ Helper.formatMoney(product.price)}}đ</p>
                    </div>
                </div>

            </a>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
           keyword: {
               Type: String,
               default: '',
           },
        },
        data() {
            return {
                search: this.keyword,
                products: [],
                delay: null,
                isShowDropdown: false,
            }
        },
        methods: {
            async delaySearch() {
                this.isShowDropdown = false;
                if(this._.isEmpty(this.delay)) {
                    clearTimeout(this.delay);
                }
                this.delay = setTimeout(this.handleSearch, 1000);
            },
            async handleSearch() {
                try {
                    if(this._.isEmpty(this.search.trim())) {
                        this.products = [];
                        return;
                    }
                    const uri = this.route('search', { search: this.search, limit: 5  });
                    const response = await this.Request.get(uri);
                    this.products = response.data.data.data;
                    this.isShowDropdown = true;
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                    });
                }
            }
        }
    }
</script>
