<template>
    <li>
        <div class="bestsell-pro row">
            <a :title="product.name" :href="route('product', { product: product.slug })" class="b-img col-md-3">
                <lazy-image :img-url="Helper.convertJson(product.images)[0]" :img-alt="product.name"/>
            </a>
            <div class="b-i-title col-md-7">
                <a :title="product.name" :href="route('product', { product: product.slug })">{{
                    Helper.strLimit(product.name, 40) }}</a>
                <p>{{ Helper.formatMoney(product.price) }} đ</p>
            </div>
            <div class="item col-md-2">
                <button @click="handleAddToCart(product)" title="Thêm vào giỏ hàng">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </li>
</template>
<script>
    import {mapState, mapMutations} from 'vuex';

    export default {
        props: {
            product: {
                Type: Object,
                default() {
                    return {};
                },
            }
        },

        data() {
            return {
                products: [],
                cartProducts: [],
            }
        },
        computed: {
            ...mapState({
                getCartProducts: state => state.cartStore.products,
            }),
        },
        watch: {
            getCartProducts(products) {
                this.cartProducts = products;
            },
        },
        methods: {
            ...mapMutations([
                'setCartProducts',
            ]),
            handleAddToCart(target) {
                try {
                    const product = this._.find(this.cartProducts, item => {
                        return item.id === target.id;
                    });
                    if (this._.isEmpty(product)) {
                        target.quantity = 1;
                        this.cartProducts.push(target);
                    } else {
                        this.cartProducts = this._.map(this.cartProducts, item => {
                            if (item.id === target.id) {
                                item.quantity++;
                            }
                            return item;
                        })
                    }
                    this.setCartProducts(this.cartProducts);
                    localStorage.setItem("kow_cart", JSON.stringify(this.cartProducts));
                    this.$swal({
                        icon: 'success',
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.add_to_cart_success'),
                    });
                } catch (e) {
                    console.log(e); // eslint-disable-line
                    this.$swal({
                        icon: 'error',
                        title: this.$t('admin.common.error'),
                        text: this.$t('shop.something_wrong'),
                    });
                }

            }
        }
    }
</script>