<template>
    <div class="order-list">
        <div class="order">
            <div class="form-inline ">
                <select class="form-control form-control-sm btn-sort"
                        v-model="sortBy"
                        @change="handleSubmit"
                >
                    <option value="">Sắp xếp</option>
                    <option v-for="type in sortType"
                            :key="type.value"
                            :value="type.value">
                        {{ type.name }}
                    </option>

                </select>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            params: {
                Type: Object,
                default() {
                    return {};
                },
            },
            category: {
                Type: Object,
                default() {
                    return {};
                },
            },
            routeName: {
                Type: String,
                default() {
                    return '';
                },
            },
            sortType: {
                Type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                sortBy: this._.isEmpty(this.params.sort) ? '' : this.params.sort,
            };
        },
        methods: {
            handleSubmit() {
                let paramSort = this._.isEmpty(this.params) ? {} : this._.clone(this.params);
                paramSort.sort = this.sortBy;
                if(this.routeName === 'category') {
                    paramSort.category = this.category.id;
                }
                window.location = this.route(this.routeName, paramSort);
            }
        }

    }
</script>
