<template>
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="float-left"><h4> Các yêu cầu hỗ trợ</h4></div>
          <div class="float-right">
            <button class="btn btn-success"   @click="showForm()"><i class="fa fa-plus-circle"></i> Mở yêu cầu hỗ trợ</button>
          </div>

        </div>
        <div class="card-body">
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-2">Trạng thái</div>
              <div class="col col-2">Phòng ban</div>
              <div class="col col-6">Tiêu đề</div>
              <div class="col col-2">Ngày</div>
            </li>
            <li class="table-row" v-for="ticket in ticketsDataSet" :key="ticket.id">
              <div class="col col-2 text-danger" data-label="Trạng thái"><b>{{ ticket.status_name }}</b></div>
              <div class="col col-2" data-label="Phòng ban">[{{ ticket.category.name }}]</div>
              <div class="col col-6 popover__wrapper" data-label="Tiêu đề">
                <a :href="route('user.ticket_detail', { ticket: ticket})" class="text-primary">
                  <strong>{{ ticket.title }}</strong>
                </a>
                <div class="popover__content">
                  <p class="popover__message">{{ ticket.first_message }}</p>
                </div>
              </div>
              <div class="col col-2" data-label="Ngày">{{ ticket.created_at }}</div>
            </li>
          </ul>
          <div class="pagination">
            <el-pagination
                v-if="tickets.total > tickets.per_page"
                background
                layout="prev, pager, next"
                :total="tickets.total"
                :current-page="tickets.current_page"
                :page-size="tickets.per_page"
                @current-change="handlePaginate"
            />
          </div>
        </div>
      </div>
    </div>
    <el-dialog
        :title="formTitle"
        :visible.sync="isShowForm"
        width="70%"
    >
      <user-ticket-create
          :categories="categories"
          :ticket-priority="ticketPriority"
          :ticket-status="ticketStatus"
          :ticket-status-enum="ticketStatusEnum"
          :on-success="onSuccess"
          :on-cancel="hideForm"
      >
      </user-ticket-create>
    </el-dialog>
  </div>
</template>

<script>
import UserTicketCreate from "./UserTicketCreate";
export default {
  components: {UserTicketCreate},
  props: {
    tickets: {
      type: Object,
      default() {
        return {};
      }
    },
    params: {
      type: Object,
      default() {
        return {};
      }
    },
    categories: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketPriority: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketPriorityEnum: {
      type: Object,
      default() {
        return {};
      }
    },
    ticketStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketStatusEnum: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  created() {
    if (!this._.isEmpty(this.params.search)) {
      this.requestParams.search = this.params.search;
    }
    if (!this._.isEmpty(this.params.category_id)) {
      this.requestParams.categoryId = parseInt(this.params.category_id);
      this.handleSearchCategory(this.params.category_id);
    }
    if (!this._.isEmpty(this.params.brand_id)) {
      this.requestParams.brandId = parseInt(this.params.brand_id);
    }
  },
  data() {
    return {
      customers: [],
      ticketsDataSet: this.prepareData(),
      isSearching: false,
      isShowDetail: false,
      isShowForm: false,
      isShowConfirmDelete: false,
      target: {},
      formTitle: '',
      requestParams: {
        categoryId: '',
        search: this.keyword,
        brandId: '',
      },
    }
  },
  methods: {
    tableRowClassName({row}) {
      if (row.priority === 1 && row.status === 0) {
        return 'warning-row';
      } else if (row.priority === 2 && row.status === 0) {
        return 'success-row';
      }
      return '';
    },
    prepareData(){
      return this._.map(this.tickets.data, ticket => {
        ticket.status_name = this._.find(this.ticketStatus, status => status.value === ticket.status).name;
        ticket.priority_name = this._.find(this.ticketPriority, priority => priority.value === ticket.priority).name;
        return ticket;
      })
    },
    confirmDelete(target) {
      this.target = target;
      this.isShowConfirmDelete = true
    },
    closeDeleteDialog() {
      this.isShowConfirmDelete = false;
    },
    onSuccess() {
      this.isShowForm = false;
      this.handlePaginate(1);
    },
    async handleSearchUser(search) {
      if(this._.isEmpty(search)) {
        return;
      }
      const params = {
        search,
      };
      this.isSearching = true;
      try {
        const uri = this.route('admin.ajax_search_user', params ) ;
        const response = await this.Request.get(uri);
        this.customers = response.data.data;
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      this.isSearching = false;

    },
    handlePaginate(page) {

      let params = {};
      params.search = this.requestParams.search;
      params.ticket_category_id = this.requestParams.ticket_category_id;
      params.user_id = this.requestParams.user_id;
      params.status = this.requestParams.status;

      if (page > 1) {
        params.page = page;
      }

      window.location = this.route('user.ticket_index', params);
    },
    hideForm() {
      this.isShowForm = false;
    },
    showForm() {
      this.formTitle = 'Tạo yêu cầu mới';
      this.isShowForm = true;
    },
  }
}
</script>

<style scoped>

</style>