<template>
  <el-form
      ref="form"
      :model="form"
      label-position="left"
      label-width="120px"
  >
    <el-form-item label="Phòng ban">
      <el-select
          v-model="form.ticket_category_id"
          filterable
          clearable
          placeholder="Phòng ban"
      >
        <el-option
            v-for="category in categories"
            :key="category.id"
            :label="category.name"
            :value="category.id">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item :label="$t('admin.common.title')">
      <el-input
          v-model="form.title"
          maxlength="255"
          show-word-limit
      />
    </el-form-item>

    <el-form-item label="Tin nhắn">
      <el-input
          id="editor"
          type="textarea"
          :rows="5"
          v-model="form.message">
      </el-input>
    </el-form-item>
    <el-form-item label="Mức độ ưu tiên">
      <el-select
          v-model="form.priority"
          filterable
          clearable
          placeholder="Mức độ ưu tiên"
      >
        <el-option
            v-for="priority in ticketPriority"
            :key="priority.value"
            :label="priority.name"
            :value="priority.value">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button
          type="success"
          @click="handleSubmit"
      >
        {{ $t('admin.common.save') }}
      </el-button>
      <el-button
          @click="handleCancel"
      >
        {{ $t('admin.common.cancel') }}
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    onSuccess: {
      type: Function,
      default() {
        return null;
      }
    },
    onCancel: {
      type: Function,
      default() {
        return null;
      }
    },
    categories: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketPriority: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketStatus: {
      type: Array,
      default() {
        return [];
      }
    },
    ticketStatusEnum: {
      type: Object,
      default() {
        return {};
      }
    }

  },
  data() {
    return {
      customers: [],
      isSearching: false,
      form: {}
    }
  },
  methods: {
    async handleSubmit() {
      try {
        const uri = this.route('user.ticket_create');
        await this.Request.put(uri, this.form);
        this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: this.$t('admin.common.created'),
        });
        setTimeout(this.onSuccess(), 2000);
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    handleCancel() {
      this.resetForm();
      this.onCancel();
    },
    resetForm() {
      this.$refs['form'].resetFields();
    }
  }
}
</script>

<style scoped>

</style>