<template>
    <div class="row-edit">
        <div class="wrap-info">
            <h3>Sửa thông tin cá nhân</h3>
            <div class="form">
                <label>Họ và tên *</label>
                <input type="text" class="form-control" v-model="user.name"
                       placeholder="Nhập tên mới">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" v-model="user.phone">
                <label>Địa chỉ email *</label>
                <input type="email" class="form-control" v-model="user.email"
                       placeholder="Nhập địa chỉ Email mới">
                <div class="sub">
                    <input type="submit" value="Lưu Thay Đổi" @click="handleSubmitUpdateInfo">
                </div>
            </div>
        </div>

        <div class="wrap-change-pwd">
            <h3>Cập nhật mật khẩu</h3>
            <div class="form">
                <label>Mật khẩu cũ *</label>
                <input type="password" name="" placeholder="Nhập mật khẩu hiện tại" v-model="user.current">
                <label>Mật khẩu mới *</label>
                <input type="password" placeholder="Nhập mật khẩu mới"  v-model="user.new">
                <label>Xác nhận mật khẩu mới *</label>
                <input type="password" name="" placeholder="Nhập lại mật khẩu mới"  v-model="user.confirm">
                <div class="sub">
                    <input type="submit" value="Lưu Thay Đổi" @click="handleSubmitUpdatePassword">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            user: {
                Type: Object,
                default() {
                    return {};
                },
            },
            data() {
                return {
                    user: {
                        name: '',
                        phone: '',
                        email: '',
                    },
                    userDataSet: this.user,
                };
            },
        },
        methods: {
            async handleSubmitUpdateInfo() {
                const loading = this.$loading.show();
                try {
                    const uri = this.route('user.update.info');
                    const response = await this.Request.post(uri, this.user);
                    this.userDataSet = response.data.user;
                    console.log('Thành công');
                    this.$swal({
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.update_user_info_success'),
                        icon: 'success',
                    });

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                        icon: 'error',
                    });
                }
                loading.hide();
            },
            async handleSubmitUpdatePassword() {
                const loading = this.$loading.show();
                try {
                    const uri = this.route('user.update.password');
                    const response = await this.Request.post(uri, this.user);
                    this.userDataSet = response.data.user;
                    console.log('Thành công');
                    this.$swal({
                        title: this.$t('admin.common.success'),
                        text: this.$t('shop.update_user_info_success'),
                        icon: 'success',
                    });

                } catch (e) {
                    console.log(e); // eslint-disable-line
                    const errorMessages = this.Request.errors(e.response);
                    this.$swal({
                        title: this.$t('admin.common.error'),
                        text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
                        icon: 'error',
                    });
                }
                loading.hide();
            }
        }
    }
</script>
