<template>
  <div class="container">
    <section class="card">
      <div class="card-header">
        <div class="float-left col-md-8">
          <h4>[Yêu cầu #{{ ticket.id }}] {{ ticket.title }}</h4>
          <small>Phòng ban: <strong class="text-primary">{{ ticket.category.name }}</strong> | Được
            thêm: {{ ticket.created_at }}</small>
        </div>
        <div class="col-md-4 float-right text-left">
          <div class="col-md-6">
            <p>Đánh giá</p>
            <el-rate
                style="margin-top: -11px"
                label="Đánh giá"
                v-model="ticketStar"
                :colors="['#99A9BF', '#4a7c03', '#f7ba2a', '#f5cb57', '#FF9900']"
                @change="handleUpdateTicket"
            >
            </el-rate>
          </div>
          <div class="col-md-6">
            <el-popconfirm
                confirmButtonText='Xác nhận!'
                cancelButtonText='Không! Cám ơn!'
                icon="el-icon-info"
                iconColor="red"
                title="Bạn chắc chắn ?"
                @onConfirm="handleConfirmStatus"
            >
              <el-button type="danger" round  slot="reference" v-if="!this.thisTicketClosed">Đóng ticket</el-button>
              <el-button type="success" round  slot="reference" v-else>Mở ticket</el-button>
            </el-popconfirm>
          </div>
        </div>
      </div>
      <div class="card-body">
        <el-form
            ref="formMessage"
            :model="form"
            :disabled="this.thisTicketClosed"
        >
          <div class="form-group">
            <el-input type="textarea" v-model="form.message" placeholder="Nhập nội dung...." rows="5"></el-input>
          </div>

          <div class="text-right">
            <el-button type="success" round @click="handleSendMessage">Trả lời</el-button>
          </div>
        </el-form>
      </div>
    </section>
    <br>
    <div class="card">
      <div class="card-body">
        <section class="comment-list" v-for="item in messageDataSet" :key="item.id">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-1 hidden-xs">
              <figure class="thumbnail" v-if="!item.is_customer">
                <img class="img-responsive"
                     :src="item.admin.image"/>
                <figcaption class="text-center"><strong class="text-primary">{{ item.admin.name }} </strong></figcaption>
              </figure>
              <figure class="thumbnail" v-else>
                <img class="img-responsive"
                     :src="item.user.image"/>
                <figcaption class="text-center"><strong class="text-primary">{{ item.user.name }} </strong></figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <time class="comment-date" datetime="16-12-2014 01:05"><i
                        class="fa fa-clock-o"></i> {{ item.created_at }}
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{ item.message }}
                    </p>
                    <hr>
                    <p v-if="!item.is_customer" v-html="ticket.category.signature"></p>
                    <hr>
                    <el-rate
                        v-model="item.star"
                        :texts="['Tệ quá', 'Hơi tệ', 'Bình thường', 'Tốt', 'Tuyệt vời']"
                        :colors="['#99A9BF', '#4a7c03', '#f7ba2a', '#f5cb57', '#FF9900']"
                        show-text
                        v-if="!item.is_customer"
                        @change="handleRateMessage(item,item.star)">
                    </el-rate>
                  </div>

                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    ticket: {
      type: Object,
      default() {
        return {};
      }
    },
    ticketStatusEnum: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      form: {},
      ticketStar: this._.clone(this.ticket.star),
      thisTicketClosed: this._.clone(this.initTicketStatus()),
      messageDataSet: this._.clone(this.ticket.messages),
    }
  },
  methods: {
    getRole(role) {
      return this._.find(this.userRoles, userRole => userRole.value === role).name;
    },
    initTicketStatus(){
      if (this.ticket.status === this.ticketStatusEnum.CLOSED)
      {
        return true;
      }
      return false;
    },
    async handleSendMessage() {
      try {
        const uri = this.route('user.ticket_reply', {ticket: this.ticket});
        const response = await this.Request.post(uri, this.form);
        this.messageDataSet = this._.clone(response.data.messages);
        this.resetForm('formMessage');
        await this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: 'Cám ơn bạn đã gửi tin! Chúng tôi đã tiếp nhận và sẽ sớm trả lời bạn!',
        });

      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    async handleRateMessage(message, star) {
      try {
        const uri = this.route('user.ticket_rate_message', {message: message});
        const response = await this.Request.post(uri, {star: star});
        this.messageDataSet = this._.map(this.messageDataSet, (record) => {
          return (record.id === response.id) ? response : record;
        });
        await this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: 'Cám ơn bạn đã đánh giá!',
        });
        this.form.message = '';
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    handleConfirmStatus(){
        if (this.thisTicketClosed){
          this.thisTicketClosed = false;
        }else {
          this.thisTicketClosed = true;
        }
        this.handleUpdateTicket();
    },
    async handleUpdateTicket() {
      try {
        let status = this.ticket.status;
        if (this.thisTicketClosed){
          status = this.ticketStatusEnum.CLOSED;
        }else {
          status = this.ticketStatusEnum.OPEN;
        }
        const uri = this.route('user.ticket_update', {ticket: this.ticket});
        const response = await this.Request.patch(uri, {star: this.ticketStar, status: status });
        this.ticketStar = this._.clone(response.data.star);
        await this.$notify({
          type: 'success',
          title: this.$t('admin.common.success'),
          message: 'Update ticket thành công!',
        });
        this.form.message = '';
      } catch (e) {
        const errorMessages = this.Request.errors(e.response);
        this.$notify({
          type: 'error',
          title: 'Error',
          message: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  }
}
</script>

<style scoped>

</style>