<template>
  <div class="site-body" id="site-body">
    <div class="blog">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Tra Cứu bảo hành sản phẩm</h3>
          <hr>
          <p>(*) Để biết thông tin chính xác về tình trạng bảo hành, Quý khách vui lòng liên hệ CSKH - 18006865 hoặc
            Fanpage để được giải đáp</p>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-4 col-md-4"></div>
          <div class="col-sm-4 col-md-4 text-center">
            <input class="form-control" placeholder="Nhập serial" v-model="form.serial"/>
            <button class="btn btn-success" style="background: #5ca467; border: #0b0b0b; color: yellow;"
                    @click="handleCheckWarranty"><i class="fa fa-search" aria-hidden="true"></i> Tra cứu bảo hành
            </button>
          </div>
          <div class="col-sm-4 col-md-4">
          </div>
        </div>
      </div>
      <hr>
      <div v-if="!_.isEmpty(inventory)" class="row">
        <div class="col-sm-12">
          <h3 class="title text-center">
            Thông tin bảo hành
          </h3>
          <hr>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <p class="card-title"></p>
                <lazy-image :img-url="this.Helper.convertJson(inventory.product.images)[0]" img-class="card-img-top"
                            :img-alt="inventory.product.name"/>

              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Tên sản phẩm:</strong> <a :href="route('product', { product: inventory.product.slug })"
                                                  target="_blank"
                                                  class="text-danger"><strong>{{ inventory.product.name }}</strong>
              </a>
              </li>
              <li class="list-group-item">
                <strong>Ngày xuất kho:</strong> {{ inventory.exported_at }}
              </li>
              <li class="list-group-item">
                <strong>Tên khách hàng:</strong> {{ inventory.order.name }}
              </li>
              <li class="list-group-item">
                <strong>Bảo hành đến ngày:</strong> {{ inventory.warranty_end }} ( {{ inventory.warranty_period }} tháng
                kể từ ngày
                xuất kho).
              </li>
            </ul>
          </div>

<!--          <div class="col-sm-9">-->
<!--            <br>-->
<!--            <h4 v-if="!_.isEmpty(inventory.warranties)" class="title">Lịch sử bảo hành:</h4>-->
<!--            <table class="table table-striped" v-if="!_.isEmpty(inventory.warranties)">-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th scope="col">#</th>-->
<!--                <th scope="col">Ngày bảo hành</th>-->
<!--                <th scope="col">Nguyên nhân</th>-->
<!--                <th scope="col">Người yêu cầu</th>-->
<!--                <th scope="col">Trạng thái</th>-->
<!--                <th scope="col">Ngày hẹn trả</th>-->
<!--                <th scope="col">Tình trạng sau bảo hành</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr v-for="(item, index) in inventory.warranties"-->
<!--                  :key="index">-->
<!--                <th scope="row">{{ index + 1 }}</th>-->
<!--                <td>{{ item.created_at }}</td>-->
<!--                <td>{{ item.before }}</td>-->
<!--                <td>{{ item.warranty.customer_name }}</td>-->
<!--                <td>{{ getStatusName(item.status) }}</td>-->
<!--                <td>{{ item.expect_return_at }}</td>-->
<!--                <td>{{ item.after }}</td>-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    productWarrantyStatus: {
      type: Array,
      default() {
        return [];
      }
    },
  },
  data() {
    return {
      form: {
        serial: '',
        // TODO Not need Order ID
        /*order_id: '',*/
      },
      inventory: {},
    };
  },
  methods: {
    async handleCheckWarranty() {
      const loading = this.$loading.show();
      try {
        const uri = this.route('user.check_warranty');
        const response = await this.Request.post(uri, this.form);
        this.inventory = response.data;
      } catch (e) {
        console.log(e); // eslint-disable-line
        const errorMessages = this.Request.errors(e.response);
        await this.$swal({
          icon: 'error',
          title: this.$t('admin.common.error '),
          text: this._.isEmpty(errorMessages) ? this.$t('admin.common.unknown_error') : errorMessages[0],
        });
      }
      loading.hide();
    },
    getStatusName(status) {
      const type = this._.find(this.productWarrantyStatus, type => type.value === status);
      if (this._.isEmpty(type)) {
        return '';
      }
      return type.name;
    },
  }
}
</script>
