//Preloader
$color: #15f631;
$colorRight: darken(#06d42a, 15%);
$colorLeft: darken(#06d42a, 5%);
$shadow: #DBE3F4;
//File
$imageThumbnailSize: 10vw;

//Manager
$imageSelectSize: 125px;
$imageSlideSize: 200px;
