.build-screen {
    background: #FFF;
    padding: 2rem 0;

    .search {
        padding: 5px;
        display: block;
        width: 90%;
        background: #f6f6f6;
        border-radius: 20px;
        border: solid 1px #ea1212;
        text-align: center;
        margin: 0 3%;
    }

    .wrap-chuyen-muc {
        width: auto;

        a {
            background-color: #fff;
            display: flex;
            align-items: center;
            position: relative;
        }

        .range {
            display: flex;
            padding-bottom: 10px;

            input {
                width: 100%;
                height: 30px;
                text-align: center;
                background: #f6f6f6;
                border-radius: 999px;
                border: none;
            }
        }

        .value-max, .value-min {
            flex-grow: 1;
            margin: 0 10px;
        }

        .minis {
            width: 10px;
            font-size: 20px;
            color: #000;
        }
    }

    .modal-filter {
        max-width: 1366px !important;
    }

    .filter-panel {
        .left, .right {
            padding: 0;
            margin: 0;
            overflow: auto;
            height: 500px;
        }

        .load-more {
            text-align: center;
            margin: 10px 0;
        }
    }

    .build-panel {
        padding: 10px;

        .item {
            width: 100%;
            display: inline-flex;

            .name {
                color: #333;
                font-size: 18px;
                word-break: break-word;
                display: block;
                font-weight: bold;
            }

            .price {
                color: #333;
                font-size: 16px;
            }

            .input-quantity {
                width: 38px;
                height: 38px;
                background: #fff;
                margin: 0;
                text-align: center;
                border: 1px solid #e7e7e7;
            }

            .btn-remove {
                color: red;
                font-size: 20px;
            }

            .btn-minus {
                margin-left: 0;
                width: 38px;
                height: 38px;
            }

            .btn-plus {
                margin-right: 0;
                width: 38px;
                height: 38px;
            }
        }
    }

}
