.single-summany {
    padding: 5px 10px;
}
.form-search-auto-width {
    z-index: 1024;
}
.form-search-auto-width:focus-within {
    width: 200% !important;
}
.search-auto-width {
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    background-color: #fff;
    background-image: url('/images/searchicon.png');
    background-position: 95% 5px;
    background-repeat: no-repeat;
}
.width-100 {
    width: 100%;
}

.swal2-container {
    z-index: 9999 !important;
}

.page-single .k2-single .single-img .popup-single-img .pop-content {
    max-width: 800px !important;
}


.search-dropdown {
    width: 100%;

    a {
        white-space: normal !important;
    }

    .text-name {
        white-space: normal;
        font-size: 13px;
    }

    .text-price {
        color: red;
    }
}

.quantity-input {
    width: 32px;
    height: 32px;
    background: #fff;
    margin: 0 -4px;
    text-align: center;
    border: 1px solid #e8e8e8;
}

.plus-item {
    margin: 4px 0 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    background: transparent;
    border: 1px solid #e8e8e8;
    font-weight: 300;
    width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
}

.minus-item {
    margin: 4px 0 0 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    background: transparent;
    border: 1px solid #e8e8e8;
    font-weight: 300;
    width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
}

.add-cart {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    min-width: 88px;
    margin-right: 10px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #d10a00;
    color: #d10a00;
    font-weight: 700;
    font-size: 14px;
}

.buy-now {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 2px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    min-width: 88px;
    margin-right: 10px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d10a00;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px !important;
}

.badge-price {
    position: absolute;
    right: 0;
    top: 15px;
    font-weight: bold;
    font-size: 15px;
    background: red;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 10px;
}

.cart-item {
    .in-item {
        width: 50%;
    }

    .qty-item {
        width: 25%;
    }
}

.btn-checkout {
    width: 100% !important;
    padding: 0 !important;
    height: 40px;
    border: 0 !important;
    border-radius: 3px !important;
    color: #fff;
    background: #d42333;
    font-family: Roboto Condensed, sans-serif;
    font-size: 16px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 10px !important;
    -webkit-transition: 0.1s ease-in-out !important;
    transition: 0.1s ease-in-out !important;
}
.btn-kow {
    border: 1px solid #d42333;
    color: #d42333 !important;
    min-width: 100px;
    padding: 9px 10px;
    background: #FFF;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.btn-red {
    min-width: 100px;
    padding: 9px 10px;
    background: #d42333;
    text-align: center;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    border: 1px solid #d42333;
}


.btn-red:hover {
    color: #fff !important;
}

.btn-sort {
    width: 100%;
    height: 30px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 20px;
    border: solid 1px #ea1212;
}

.cart-empty {
    width: 100%;
    text-align: center;
    padding: 50px 0;

    .text-notification {
        text-align: center;
        margin: 30px 0;
    }
}

.page-checkout .entry-checkout .cart-checkout .cart-checkout .item .it-img {
    min-width: 100px !important;
}

.info-checkout {
    label {
        cursor: pointer;
    }
}

select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-attribute.selected {
    background: #fef4f3;
    border: 1px solid #d10a00;
    color: #d10a00;
}

.btn-attribute {
    margin: 2px;
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 5px;
    border-radius: 2px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    font-size: 13px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-pagination {
    text-align: center;
    padding: 10px 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.page-pagination ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.page-pagination li {
    display: inline-block;
}

.v-pagination {
    background: #fff;
    color: #000;
    width: auto;
    min-width: 34px;
    padding: 0;
    border: none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    transition: all 0.25s ease 0s;
    margin: 0;
}

.page-pagination .v-pagination.active,
.page-pagination .v-pagination:hover {
    transition: all 0.25s ease 0s;
    background-color: #2d3877;
    color: #fff;
}

.check-warranty {
    .notice {
        font-weight: bold;
    }
    .title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        color: #333;
        width: 100%;
    }
    .warranty-histories {
        p {
            color: #000;
        }
    }
    .form-warranty {
        input {
            background: #fff;
            font-style: italic;
            padding-left: 10px;
            height: 36px;
            border: none;
        }

        button {
            width: 100px;
            color: #fff;
            background: #d42333;
            border: none;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 2px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            height: 36px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            font-size: 14px;
            font-weight: 500;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0;
            min-width: 88px;
            outline: 0;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
            position: relative;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
.submit-filter {
    position: fixed;
    bottom: 10%;
    background: #FFF;
    z-index: 1010;
    border: 1px solid red;
    button {
        margin: 5px !important;
    }
}

.b-content {
    float: left;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-size: 13px;
    line-height: 24px;
    width: 100%;
}

.b-title.custom {
    margin-bottom: 0px;
    border: initial;
    border-radius: 5px 5px 0px 0px;
}

.b-item {
    display: inline-block;
    width: 100%;
}
